a {
	color:#0B6BB7;
	font-size:12px;
	cursor:pointer;
	text-decoration:none;
}
.qh_mod_crumb {
    font-size: 12px;
    height: 20px;
    margin: 0 auto 10px;
    width: 980px;
}
.qh_mod_crumb .breadcrumbs {
    float: left;
    font-size: 12px;
}
.qh_mod_crumb a {
    color: #0B6BB7;
    font-size: 12px;
    outline: 0 none;
    text-decoration: none;
}
.mgauto {
	margin:0 auto;
	width:1000px;
}
.ztsubnav_cnt{
	width: 100%;
	border-bottom:1px solid #d5d5d5;
	border-top:1px solid #d5d5d5;
}
.ztsubnav {
	margin:0 auto;
	width:1280px;
	background:url(../image/advert/xintuo/navbg.gif) no-repeat left;
	
	height:33px;
}
.ztsubnavwrap {
	width:1000px;
	margin:0 auto;
}
.ztsubnavinfo {
	height:33px;
	line-height:33px;
	width:210px;
	float:left;
}
.ztsubnavmain {
	background-color:#FFF;
	float:left;
	width:790px;
	height:33px;
}
.yellow {
	color: #FF0;
	font-style:normal;
	font-size:14px;
}
.ztwx {
	width:129px;
	height:300px;
	background-color:#297FB7;
	position:absolute;
	right:-130px;
	top:0;
	overflow:hidden;
}
#ztwx_left {
	left:-135px;
}
#ztwx_right{
	left:1010px;
}

.ztwx li {
	background:url(../image/advert/xintuo/opp.gif) no-repeat left top;
	height:36px;
	border-bottom:1px solid #fff;
	position:relative;
}
.ztwx li a {
	color:#fff;
	font-size:17px;
	margin-left:32px;
	font-weight:bold;
	line-height:36px;
}
.ztwx li a:hover {
	color:#FC0;
}
.ztwx li em {
	font-style:normal;
	color:#fff;
	position:absolute;
	left:2px;
	top:2px;
	font-size:10px;
}
.ztwximg {
	text-align:center;
	margin:6px auto;
}
.ztwximg img {
	border:3px solid #fff;
}
.ztcametop {
	background:url(../image/advert/xintuo/oppbtn.png) no-repeat 0 -5px;
	*background:url(../image/advert/xintuo/oppbtn.png) no-repeat 0 -5px;
	display:block;
	width:129px;
	height:35px;
	line-height:30px;
	color:#fff;
	font-size:18px;
	
}
.ztcametop span{padding-left:40px;	color:#fff;	line-height:23px;*line-height:23px;
	font-size:18px;}
.ztcametop:hover {
	background-position:0 -40px;
}
.ztsubnavmain .nav-item {
	float:left;
	position:relative;
	margin-right:30px;
	width:100px;
}
.nav-item-link {
	font-size:14px;
	line-height:33px;
	display:block;
}
.nav-item .nav-item-link {
	color:#333;
	background:#fff url(../image/advert/xintuo/abg.gif) no-repeat 85px 14px;
}
.nav-item .nav-item-link:hover, .nav-item-hover .nav-item-link-active {
	color:#fff;
	border:1px solid #1d6391;
	border-bottom:none;
	background:#2f8ec9 url(../image/advert/xintuo/abg.gif) no-repeat 85px -14px;
	text-align:center;
}
.ztsubnavmain .nav-item .nav-item-sub {
	position:absolute;
	width:280px;
	background-color:#2f8ec9;
	color:#fff;
	padding:10px;
	text-align:left;
	line-height:24px;
	border:1px solid #1d6391;
	border-top:none;
	top:33px;
	font-size:14px;
}
.banner_cnt{
	width:100%;
/*	background:url(../image/advert/xintuo/iphone.png) repeat;*/
	background:url(../image/advert/xintuo/banner_bg.png) repeat;
}
.banner {
	margin:0 auto;
	width:1280px;
	background:url(../image/advert/xintuo/banner_text.png) no-repeat -4px top;
	height:355px;
}
.clear {
	clear:both;
	height:0;
	font-size:0;
	line-height:0;
}
.layout {
	width:1010px;
	margin:0 auto;
	position:relative;
}
.conlistwrap {
	padding:10px 0;
}
.conlist {
	background:url(../image/advert/xintuo/conbg.png) no-repeat;
	width:326px;
	height:164px;
	float:left;
	margin-right:10px;
	margin-bottom:12px;
	overflow:hidden;
}
.conbd {
	margin-bottom:15px;
}
.hover {
	background-position:0 -164px;
}
.over {
	background-position:0 -328px;
}
.over .yy-btn {
	background-position:bottom;
}
.conlistcon {
	margin:12px 14px;
}
.conL {
	float:left;
	width:80px;
	text-align:center;
}
.yqsy {
	text-align:center;
	height:65px;
}
.yqsy p {
	color:#fff;
	height:24px;
	line-height:24px;
	margin-top:2px;
}
.yqsy strong {
	color:#F60;
	font-size:18px;
	height:38px;
	line-height:38px;
	display:inline-block;
	font-style:normal;
}
.details {
	display:inline-block;
	height:24px;
	line-height:24px;
	margin:7px auto;
	font-size:14px;
}
.yy-btn {
	background:url(../image/advert/xintuo/btn.png);
	width:79px;
	height:32px;
	line-height:32px;
	display:inline-block;
	text-align:center;
	color:#fff;
	margin-top:3px;
}
.conR {
	float:right;
	width:200px;
}
.conR h3 {
	font-size:16px;
	height:30px;
}
.conR h4 {
	font-weight:normal;
	height:24px;
}
.timemoney {
	height:24px;
}
.timemoney span {
	margin-right:6px;
	display:inline-block;
	float:left
}
.timemoney i.song {
	font-style:normal;
	color:#FFF;
	float:right;
	background:url(../image/advert/xintuo/bluebg.png) no-repeat;
	width:92px;
	height:20px;
	line-height:20px;
	text-align:center;
}
.conR p {
	margin-top:7px;
	line-height:18px;
	clear:both;
}
.conR p {
	color:#999;
}
.conR p strong {
	display:block;
	font-weight:normal;
	color:#666;
	height:18px;
}
.zt-ft {
	background:#cae9f5 url(../image/advert/xintuo/ftbg.png) repeat-x;
	width:100%;
	padding-top:24px;
	padding-bottom:24px;
}
.zt-ft-bd div {
	clear:both;
	line-height:24px;
}
.zt-ft-bd div strong {
	line-height:24px;
	clear:both;
	color:#3380b2;
	margin-right:10px;
	float:left;
	display:inline;
}
.zt-ft-bd div p {
	float:left;
	width:900px;
}
.zt-ft-hd {
	background:url(../image/advert/xintuo/wxts.png) no-repeat 5px top;
	height:28px;
	border-bottom:1px dashed #CCC;
	padding-bottom:12px;
	margin-bottom:5px;
}
.zt-ft-hd span {
	display:none;
}
.zt-ft-bd {
	clear:both;
}
.zt-ft-bd dt {
	line-height:24px;
	clear:both;
	color:#3380b2;
	margin-right:10px;
	float:left;
	display:inline;
}
.zt-ft-bd dd {
	float:left;
	line-height:24px;
}
a.test {
	display:inline-block;
	*display:inline;
	*zoom:1;
	overflow:hidden;
	height:22px;
	width:160px;
	color:#000;
	font-size:16px;
	font-weight:bold;
}
#lean_overlay {
    position: fixed;
    z-index:9999999;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
    _height:2000px;
}
.new.tc-wrap {
	width: 526px;
	_position : absolute !important;
	_top: 50% !important;
	_left:50% !important;
}
.tc-content .tc-hd {
	font-size: 16px;
	background-color: #84C3F7;
	padding-bottom: 3px;
	color: #FFF;
	padding-left: 6px;
	height: 33px;
	line-height: 33px;
}
.tc-content .tc-close {
	background: url(../image/advert/xintuo/close.png) no-repeat;
	position: absolute;
	right: 3px;
	top: 3px;
	display: block;
	width: 29px;
	height: 29px;
	cursor: pointer;
	z-index: 1000;
}
.tc-content .tc-ct, .tc-ft {
	clear: both;
}
.tc-content .tc-ct {
	background-color: #FFF;
	padding: 6px;
}

#iframe_reserve .p-xtclose {
    background: url("../image/advert/xintuo/xt/popclose.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 10px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    text-indent: -9999em;
    top: 25px;
    width: 10px;
}