@charset "utf-8";
.undis {
	display:none
}
.dis {
	display:block
}
.ind {
	text-indent:2em
}
.ind10 {
	text-indent:10px;
}
.noborder {
	border:0;
}
.w210 {
	width:210px;
}
.w250 {
	width:250px;
}
.w300 {
	width:300px;
}
.w490 {
	width:490px;
}
.w700 {
	width:700px;
}
.mr3{ margin-right:3px;}
.border-b-dot {
	border-bottom:1px dotted #ddd;
}
.border-1px {
	border:1px solid #ddd
}
.bgcolorF5F5F5 {
	background-color:#F5F5F5
}
.dot {
	border-bottom:1px dotted #CCC;
	margin:5px auto;
}
.clear {
	clear:both;
	height:0;
	line-height:0;
	font-size:0;
}
.mt15 {
	margin-top:15px;
}
.cl{ clear:both;
height:0;
line-height:0;
font-size:0;}
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.clearfix {
	*height:1%;
}

* html .clearfix {
	height: 1%;
}
.layout {
	width:1000px;
	margin:0 auto
}
.leftArea {
	width:680px;
	float:left;
}
.rightArea {
	width:300px;
	border:1px solid #d2e1f1;
	background:#fff;
	float:right;
}
.chief {
	float:left;
	width:680px
}
.extra {
	float:right;
	width:300px;
}
.chief-sub {
	float:left;
	width:210px;
}
.chief-main {
	float:right;
	width:460px;
}
.fl, .layout .fl, .chief {
	float:left;
	display:inline
}
.fr, .layout .fr, .extra {
	float:right;
	display:inline
}
.fn {
	font-weight:normal;
}
.layout:after, .hd:after, .bd:after, .footer:after {
	clear: both;
	content: "";
	display: table;
}
.mt8 {
	margin-top:8px
}
.mt12 {
	margin-top:12px
}
.mt15 {
	margin-top:15px
}
.mb10 {
	margin-bottom:10px
}
.mb40 {
	margin-bottom:40px;
}
.mgl20 {
	margin-left:20px;
}
.mgr3 {
	margin-right:3px;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.c-red {
	color:#CC0000
}
html {
	background: #EDEDEF
}
.maintop {
	background:url(../image/shop/toprpx.png) repeat-x;
	height: 31px;
	border-bottom: 1px #CECFCE solid;
}
.maintop .topinter {
	width: 1000px;
	margin: 0 auto;
	z-index: 111;
	position:relative;
}
.topinter a {
	color:#888888;
}
.topinter a:hover {
	color:#0079BD;
}
.topinter .leftbox {
	float:left;
	display:inline;
	overflow:hidden;
	height: 31px;
}
.topinter .rightbox {
	float:right;
	display:inline;
}
.topinter .txtbule {
	color:#0079BD;
}
.topinter .leftbox .line {
	border-left: 1px #DEDFDE solid;
	border-right: 1px #F8F8F8 solid;
	display:inline-block;
	height: 35px;
	overflow:hidden;
	width: 0;
	vertical-align:middle;
	margin: 0 5px
}
.topinter .rightbox .line {
	border-left: 1px #DEDFDE solid;
	border-right: 1px #F8F8F8 solid;
	height: 31px;
	overflow:hidden;
	width: 0;
}
.topinter .sublist {
	float:left;
}
.topinter .sublist li {
	float:left;
	display:inline;
	line-height: 31px;
	position:relative;
	height: 31px;
}
.topinter .selcenter {
	padding:1px 20px 0 12px;
	background:url(../image/shop/topmymore.png) no-repeat 90% 50%;
	display:inline-block;
}
.topinter .popmyself {
	position:absolute;
	right:0px;
	top:31px;
	border:1px #DDDDDD solid;
	background: #fff;
	line-height: 23px;
	width:78px;
	border-top: 0;
	display:none;
}
.topinter .popmyself p {
	padding-left: 12px
}

.topinter .onself .popmyself {
	display:block;
}
.topinter .nollink {
	padding: 0 10px
}
.topinter .wxus {
	margin: 0 13px 0 10px;
	padding-left: 30px;
	background:url(../image/shop/topwximg.png) no-repeat 0 50%;
}
.topinter .ourphone {
	margin: 0 10px;
	padding-left: 20px;
	background:url(../image/shop/tophonenum.png) no-repeat 0 50%;
	color:#FD6400;
	font-size: 13px;
}
.topinter .popwxour {
	position:absolute;
	right:-86px;
	top:31px;
	border:1px #DDDDDD solid;
	background: #fff;
	line-height: 21px;
	width:270px;
	color:#8F8F8F;
}
.topinter .popwxour i {
	position:absolute;
	left:48%;
	top:-5px;
	background:url(../image/shop/toppoparr.png) no-repeat;
	width:14px;
	height:5px;
	overflow:hidden;
}
.topinter .popwxour .wxinter {
	padding: 5px;
	overflow:hidden;
	zoom:1;
}
.topinter .popwxour .wximg {
	float:left;
	display:inline;
	width: 97px;
	background: #fff
}
.topinter .popwxour .txtwxp {
	border-top: 1px #E1E1E1 solid;
	padding-top: 3px;
	margin-top: 3px
}
.gwmain {
	width: 1000px;
	margin: 0 auto 20px;
}
.gw-topbox {
	background: #0079BD;
	margin-bottom: 12px;
	overflow:hidden;
}
.gw-selfinfo {
	float:left;
	display:inline;
	margin: 12px;
	background: #fff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	width: 615px;
}
.gw-selfinfo .ge-namebox {
	float:left;
	display:inline;
	margin-left: 30px;
	margin-top: 5px;
	color:#666666;
	margin-bottom: 10px
}
.gw-selfinfo .ge-namebox .gwname {
	font-size: 30px;
	margin-right: 10px;
}
.gw-selfinfo .ge-namebox .gwtxt {
	font-size: 18px;
	margin-right: 10px;
}
.gw-selfinfo .link-goindex {
	padding-left: 15px;
	float:right;
	display:inline;
	margin: 20px 20px 0 0;
	background:url(../image/shop/icon-back.png) no-repeat 0 4px;
	color:#BBBBBB;
}
.gw-topbox .gw-headimg {
	float:left;
	display:inline;
	width: 80px;
	text-align:center;
	margin-left: 28px;
}
.gw-topbox .gw-headimg img {
	border:1px #E6E6E6 solid;
}
.gw-topbox .gw-headimg .online {
	padding-left: 20px;
	background:url(../image/shop/icon-typeline.png) no-repeat 0 2px;
	display:inline-block;
	margin-top: 7px
}
.gw-topbox .gw-headimg .online:hover{
	text-decoration:none;
	cursor:default;	
}
.gw-topbox .gw-infocon {
	float:left;
	display:inline;
	margin-left: 15px;
}
.gw-topbox .gw-infocon p {
	margin-bottom: 8px;
	font-size: 13px;
}
.gw-topbox .gw-infocon .conlisttit {
	color:#666666;
}
.gw-topbox .gw-infocon .icon-rz {
	display:inline-block;
	width:26px;
	height:14px;
	overflow:hidden;
	background:url(../image/shop/icon-gsrz.png) no-repeat;
	margin-left: 10px;
	vertical-align:middle;
}
.gw-topbox .gw-infocon .zixun-qq {
	background:url(../image/shop/icon-qqzx.png) no-repeat 0 2px;
	padding-left: 20px;
	margin-right: 20px;
	color:#111111;
}
.gw-topbox .gw-infocon .zixun-qq:hover{
	text-decoration: none;
}
.gw-topbox .gw-infocon .phone-num {
	background:url(../image/shop/icon-shouji.png) no-repeat 0 2px;
	padding-left: 20px;
	margin-right: 20px;
	color:#111111;
}
.gw-topbox .gw-infocon .listspan {
	margin-top: 15px;
	color:#666666;
}
.gw-topbox .gw-infocon .self-sj {
	display:inline-block;
	margin-right: 40px;
	text-align:center;
}
.gw-topbox .gw-infocon .self-sj a {
	display:block;
	color:#666666;
}
.gw-topbox .gw-infocon .self-sj a:hover {
	text-decoration:none;
	cursor: default; 
} 
.gw-consid {
	float:left;
	display:inline;
	margin-left: 20px;
	color:#fff;
	font-size: 13px;
	width: 320px;
	line-height: 20px;
	position:relative;
}
.gw-consid .conup {
	position:absolute;
	left:145px;
	top:5px;
	width:22px;
	height:10px;
	overflow:hidden;
	background:url(../image/shop/icon-conarr.png) no-repeat 0 0;
}
.gw-consid .condown {
	position:absolute;
	left:145px;
	top:236px;
	width:22px;
	height:10px;
	overflow:hidden;
	background:url(../image/shop/icon-conarr.png) no-repeat 0 -20px;
}
.gw-consid .con-no {
	filter:alpha(opacity=50);
	opacity: 0.50;
	cursor: default;
}
.gw-consid .gwcons {
 	height:180px;
 	padding-right: 5px;
 	margin-top:5px;
	overflow-y:auto;
 }
.gw-consid .p-txt {
	margin-bottom: 10px
}
.gw-navtab{overflow:hidden;border-bottom: 1px #00517E solid;padding-top: 10px}
.gw-navtab li{float:left;display:inline; width: 80px;margin-right: 5px;text-align:center;height:30px; line-height:30px;font-size: 14px;border:1px #00517E solid;border-bottom: 0;color:#fff;cursor: pointer;}
.gw-navtab .on{background:#00517E;}
.c-gray {
	color:#BBBBBB;
}
.sid-conbox {
	float:left;
	width: 230px;
	color:#666666;
}
.sid-conbox .nolsid {
	border:1px #E5E5E5 solid;
	background: #fff;
	margin-bottom: 15px;
}
.sid-conbox .nolsid h2 {
	font-size: 14px;
	padding-left: 10px;
	line-height: 32px;
	border-bottom: 1px #E2E2E4 solid;
	background: #F7F7F7
}
.dengji-list li {
	border-bottom: 1px #EDEDEF solid;
	padding: 8px 10px;
}
.dengji-list .dj-num {
	margin: 0 10px
}
.xz-list {
	margin: 5px
}
.xz-list .xzinfos {
	display:inline-block;
	margin: 0 8px;
	text-align:center;
	width: 50px
}
.xz-list .xzinfos em {
	display:inline-block;
}
.zili-list li {
	border-bottom: 1px #EDEDEF solid;
	padding: 8px 10px 8px 34px;
	background:url(../image/shop/icon-zili.png) no-repeat 12px
}
.zx-list li {
	border-bottom: 1px #EDEDEF solid;
	padding: 8px 10px 8px 12px;
	color:#666666;
}
.zx-list .list-tit {
	color:#BBBBBB;
	margin-bottom: 4px;
}
.maincon {
	float:right;
	width: 750px;
}
.navmain {
	border:1px #E0E0E0 solid;
	overflow:hidden;
	background: #E4E4E4;
	width: 748px;
}
.navmain ul {
	width: 770px;
}
.navmain li {
	float:left;
	position:relative;
}
.navmain li a {
	display:block;
	text-align:center;
	width: 149px;
	height: 75px;
	background: #E4E4E4;
	font-size: 15px;
	color:#666666;
	border-right: 1px #F3F3F3 solid;
	overflow:hidden;
}
.navmain li a:hover {
	background: #ececec;
	text-decoration: none;
}
.navmain li.on a {
	background: #FFFFFF;
	_background: #FFFFFF !important;
}
.navmain .linkimg {
	display:block;
	text-align:center;
	padding: 8px 0 3px
}
.subnavcons {
	background: #FFFFFF;
	border-left: 1px #E0E0E0 solid;
	border-right: 1px #E0E0E0 solid;
	border-bottom: 1px #E0E0E0 solid;
	padding: 10px 0 10px 20px;
	margin-top: -1px;
	color:#999999;
	position:relative;
}
.subnavcons a,.subnavcons a:hover{
	color: #999;
	text-decoration:none;
	font-size: 14px;
}
.subnavcons span {
	cursor: pointer;
	font-size: 14px;
	position:relative;
	zoom:1;
}
.subnavcons .line {
	margin: 0 10px;
	color:#CCCCCC;
}
.subnavcons .now {
	cursor:default;
	color:#666666;
}
.geren_mods_box {
	background-color:#FFF;
	padding:20px;
}
.geren_mod_box {
	border-bottom:1px solid #ddd;
	margin-bottom:10px;
	padding-bottom:10px;
}
.geren_mod_box .r-info h4 {
	margin-bottom:8px;
}
.geren_mod_box .r-info p.text {
	color:#888;
	font-size:14px;
}
.geren_mod_box .r-info .ft {
	margin-top:15px;
}
.geren_mod_box .r-info .ft span {
	font-size:12px;
	color:#ccc;
}
.geren_mod_box .r-info .ft span.zan {
	background:url(../image/shop/zan.gif) no-repeat;
	padding-left: 18px;
	text-align: right;
}
.geren_mods_box .pagelink {
	position: relative;
	height: 37px;
}
.geren_mods_box .pagelink .lastpage, .geren_mods_box .pagelink .nextpage, .geren_mods_box .pagelink .uppage {
	position: absolute;
	top: 0;
	height: 37px;
	width: 30px;
	background: url(../image/shop/pageNB.png) no-repeat;
	display: inline-block;
}
.geren_mods_box .pagelink .lastpage span, .geren_mods_box .pagelink .nextpage span, .geren_mods_box .pagelink .uppage span {
	display: none;
	visibility: hidden;
}
.geren_mods_box .pagelink .lastpage {
	left: 0;
}
.geren_mods_box .pagelink .lastpage:hover {
	background-position: -30px 0;
}
.geren_mods_box .pagelink .nextpage {
	right: 0;
	background-position: -60px 0;
}
.geren_mods_box .pagelink .nextpage:hover {
	background-position: -90px 0;
}
.geren_mods_box .pagelink .uppage {
	width: 50px;
	left:340px;
	background-position: -120px 0;
}
.geren_mods_box .pagelink .uppage:hover {
	background-position: -170px 0;
}
/*理财指南开始*/
.zhinan_mod_box {
	border-bottom:1px solid #ddd;
	margin-bottom:20px;
	padding:20px;
	background-color: #fff;
	position: relative;
	display:block;
	zoom:1;
	height:1%;
}
.zhinan_mod_box .internews {
	word-wrap: break-word;/*换行*/
}
.zhinan_mod_box .down {
	position: absolute;
	left: 30px;
	bottom: -8px;
	_bottom: -18px;
	background:url(../image/shop/down.gif) no-repeat;
	width: 15px;
	height: 8px;
}
.zhinan_mod_box .r-info h4 {
	margin-bottom:8px;
}
.zhinan_mod_box .r-info p.text {
	color:#888;
	font-size:14px;
}
.zhinan_mod_box .r-info .ft {
	margin-top:8px;
}
.zhinan_mod_box .r-info .ft span.time {
	color: #ccc;
}
.zhinan_mod_box .r-info .ft span.readAndmore {
	font-size:12px;
	color:#888;
}
.zhinan_mod_box .r-info .ft a.readall {
	color: #888;
	margin-left:10px;
}
.zhinan_mods_box .pagelink {
	position: relative;
 
	background-color: #fff;
	padding: 10px  ;
	border-bottom: 1px solid #DDDDDD;
}
.zhinan_mods_box .pagelink .lastpage, .zhinan_mods_box .pagelink .nextpage, .zhinan_mods_box .pagelink .uppage {
	position: absolute;
	top:10px;
	height: 37px;
	width: 30px;
	background: url(../image/shop/pageNB.png) no-repeat;
	display: inline-block;
}
.zhinan_mods_box .pagelink .lastpage span, .zhinan_mods_box .pagelink .nextpage span, .zhinan_mods_box .pagelink .uppage span {
	display: none;
	visibility: hidden;
}
.zhinan_mods_box .pagelink .lastpage {
	left: 0;
}
.zhinan_mods_box .pagelink .lastpage:hover {
	background-position: -30px 0;
}
.zhinan_mods_box .pagelink .nextpage {
	right: 0;
	background-position: -60px 0;
}
.zhinan_mods_box .pagelink .nextpage:hover {
	background-position: -90px 0;
}
.zhinan_mods_box .pagelink .uppage {
	width: 50px;
	left:340px;
	background-position: -120px 0;
}
.zhinan_mods_box .pagelink .uppage:hover {
	background-position: -170px 0;
}
/*理财指南结束*/




/*个人中心首页*/
.home_mods_box {
	background-color:#fff;
	padding:20px 10px 20px 20px;
}
.home_mods_box .hd .fl h3{ font-size:16px;}
.home_mods_box .hd .fl h3 span{ font-size:12px; color:#666; padding-left:12px;}
.home_mods_box .hd .fl h3 span strong{ color:#ff8610;}
.home_mods_box .home_mod_list li {
	border:1px solid #ededef;
	width:168px;
	float:left;
	text-align:center;
	margin-right:10px;
	padding:10px 0;
	font-size:12px;
	margin-bottom:12px;
	position:relative;zoom:1
}
.home_mods_box .home_mod_list .on{border-color: #237BB6}
.home_mods_box .home_mod_list .icarr{display:none; position: absolute;right:0px;bottom:0px;width:0;height:0;overflow:hidden;border:15px dashed transparent;border-bottom:15px #227BB6 solid;border-right:0;}
.home_mods_box .home_mod_list .on .icarr{display:block; }

.home_mods_box .home_mod_list .info h3.list-name{ font-size:13px; margin-top:8px; color:#666;} 
.home_mods_box .home_mod_list .info h4.list-name{ font-size:12px; margin-top:8px; color:#666;}
.home_mods_box .home_mod_list .info .list-info {
	color:#aaa;
	margin-bottom:8px;
}
.home_mods_box .home_mod_list .info .list-text {
	color:#666;
}
.home_mods_box .home_mod_list .info .list-text strong {
	color:#ff8610;
}
.home_mods_box .home_mod_list .info .btn a {
	background-color:#ff8610;
	display:inline-block;
	padding:3px 10px;
	color:#FFF;
	cursor:pointer;
}
.home_mods_box .home_mod_list .info .btn a:hover {
	text-decoration:none;
	background-color:#ffa752;
}

/*个人中心首页页码*/
.home_mods_box .page-list-box{ margin-right:10px;}
.home_mods_box .page-list-box .page-list{ float:left;}
.home_mods_box .page-list-box .page-list li{ float:left; margin-right:8px;}
.home_mods_box .page-list-box .page-list li a{ background:url(../image/shop/pagedot.gif) left no-repeat; width:9px; height:17px; font-size:0; line-height:0; display:inline-block;}
.home_mods_box .page-list-box .page-list li a.on{ background-position:right;}
.home_mods_box .page-list-box .page-list li a span{ display:none}
.home_mods_box .page-list-box .last-page,.home_mods_box .page-list-box .next-page{ background:url(../image/shop/pageer.gif); width:17px; height:17px; display:inline-block; cursor:pointer;}
.home_mods_box .page-list-box .last-page span,.home_mods_box .page-list-box .next-page span{ display:none;}
.home_mods_box .page-list-box .last-page-off{ background-position:left bottom;}
.home_mods_box .page-list-box .next-page{ background-position:-17px 0;}
.home_mods_box .page-list-box .next-page-off{ background-position:right bottom;}
/*个人中心首页页码结束*/


/*个人中心首页结束*/


.toggle-expand, .collapse {
	padding-left: 13px;
	font-size: 12px;
	margin-left:10px;
}
.toggle-expand {
	background: url(../image/shop/expand.gif) no-repeat left center;
}
.collapse {
	background: url(../image/shop/collapse.gif) no-repeat left center;
}
.footbom {
	width: 1000px;
	margin: 0 auto;
	border-top: 1px #E0E0E0 solid;
	padding-top: 10px;
	padding-bottom: 20px;
}
.footbom .footleft {
	float:left;
	color:#8F8F8F;
}
.footbom .footleft .line {
	margin: 0 10px;
}
.footbom .footleft a {
	color:#8F8F8F;
}
.footbom .footright {
	float:right;
	color:#BBBBBB;
}


.pop-box{background:#fff url(../image/shop/pop-tit-bg.gif) no-repeat 20px 0; width:400px; margin:0 auto; padding:20px; margin-bottom:20px; border-bottom:1px solid #ddd;border-right:1px solid #ddd; position:relative;}
.pop-close{ background:url(../image/shop/pop-close.gif) no-repeat left; width:14px; height:13px; font-size:0; line-height:0; position:absolute; right:6px; top:6px; cursor:pointer;}
.pop-close:hover{ background-position:right;}
.pop-box .hd h2{  color:#fff; width:78px; height:60px; text-align:center;}
.pop-box .bd{ font-size:14px;}
.pop-box .bd h3{ background:url(../image/shop/tit-arr.gif) no-repeat left center; color:#333; margin-top:10px; padding:3px 0 3px 10px;}
.pop-box .bd p{ padding-left:10px; color:#666;}
.pop-box .bd p span{ color:#888; padding-right:3px;}
.pop-box .ft{ text-align:center;}
.pop-box .ft a{    background-color: #FF8610;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    padding: 6px 20px;
	margin:30px auto 10px;}
	
.pop-box .ft a:hover {
	text-decoration:none;
	background-color:#ffa752;
}


.pop-detail-box{ background-color:#fff; background-image:none; width:720px; }
.pop-detail-box .hd h1{  color:#666; font-size:24px; height:68px; line-height:68px;}
.pop-detail-box .hd .tit-info li{ float:left; width:90px; height:68px; text-align:center; overflow:hidden;}
.pop-detail-box .hd .tit-info li.yellow-bg{ background-color:#ff8610; color:#FFF;}
.pop-detail-box .hd .tit-info li.yellow-bg strong{ font-size:18px; line-height:40px;font-weight:normal;}
.pop-detail-box .hd .tit-info li.gray-bg{ background-color:#e4e4e4; color:#666; margin-left:1px;}
.pop-detail-box .hd .tit-info li.gray-bg strong{ font-size:18px; color:#ff8610; line-height:40px; font-weight:normal; }
.pop-detail-box .bd table{ background-color:#f7f7f7; border-top:1px solid #ddd; border-right:1px solid #ddd;}
.pop-detail-box .bd table th{ font-weight:normal; color:#888; border-bottom:1px solid #ddd; padding:3px; border-left:1px solid #ddd;}
.pop-detail-box .bd table td{ color:#666; border-bottom:1px solid #ddd;padding:3px; border-left:1px solid #ddd;}

.pop-card{  background-color:#fff; background-image:none; width:300px; }
.pop-card-imgs img{ display:block;}
.pop-card .pop-card-tit a{ background-color:#ddd; color:#999; padding:3px 30px; display:inline-block;}
.pop-card .pop-card-tit a.on{ background-color:#ff8610; color:#fff; position:relative;}
.pop-card .pop-card-tit a.on span{ position:absolute; background: url(../image/shop/err-up.gif); left:40px; top:-4px; display:inline-block; width:7px; height:4px;}
.pop-card-check{ position:absolute; bottom:20px; right:10px; color:#aaa;}


.pop-order{  background-color:#fff; background-image:none; width:400px; }
.pop-order .hd h3{ font-size:18px; color:#666;}
.pop-order .hd  h3 span{ font-size:14px; padding-left:6px; color:#aaa;}
.pop-order .hd  h3 span strong{ font-size:14px; padding-left:1px; font-weight:normal;}
.pop-order .bd.login-main{ margin-top:25px;}
.pop-order .bd .input-label { float:left; width:80px;    height: 28px;
    line-height: 28px; text-align:center; color:#666;}
.pop-order .bd .reg-input{    border: 1px solid #DFDFDF;
    float: left;
    height: 28px;
    line-height: 28px;
    padding: 2px 5px;
    width: 260px;}
	
.pop-order .bd .okMessage{ float:left; background:url(../image/shop/ok.png) no-repeat left center; width:16px; height:28px; line-height:28px; margin-left:6px;}
.pop-order .bd .errorMessage{ float:left; background:url(../image/shop/error.png) no-repeat left center; width:16px; height:28px;line-height:28px; margin-left:6px;}
.pop-order .bd .errorMessage-input{ border:1px solid #DA1111;}
.pop-order .bd .errorMessage-text{ color:#DA1111; font-size:12px; padding-top:3px;}

.hdlistname{font-size: 18px}
.hdlistxt{font-size: 15px}

.internews h2{font-size: 22px;margin-bottom: 15px;text-align:center;color:#0079BD;}
.internews .subtitname{text-align:center;position:relative;border-bottom: 1px #CCCCCC solid;height: 25px;color:#878787;}
.internews .subtitname .readall{position:absolute;right:0px;top:0px;color:#878787;}
.internews .subtitname .hdlastime{margin-left: 30px}
.internews .newscon{margin: 15px 0;line-height: 22px;font-size: 14px}
.lastpian{padding:10px 15px;font-size: 14px;overflow:hidden;border:1px #EDEDEF solid;margin-bottom: 15px}
.lastpian a{color:#656565;}
.joinhdbox{height:60px; line-height:60px;background: #EDEDEF;font-size: 14px;}
.joinhdbox .jointit{display:inline-block; padding: 0 22px;height:60px; line-height:60px;background: #E3E3E3;font-size: 18px;font-weight: bold;margin-right: 10px;color:#525252;}
.joinhdbox .joinput{border:1px #C7C7C7 solid;height:20px; line-height:20px;padding: 10px 10px;font-size: 14px;background: #fff;width: 165px;color:#333;*vertical-align: middle;}
.joinhdbox .linkyue{display:inline-block; padding: 0 15px;height:40px; line-height:40px;background: #1A689E;font-size: 14px;font-weight: bold;margin-left: 10px;color:#fff}
.joinhdbox .linkyue:hover{
	text-decoration:none;
}
.listpage {
	padding: 10px 0 10px;
	text-align:right;
}
.listpage a {
	border:1px #D7D7D7 solid;
	padding: 2px 8px;
	height: 18px;
	line-height: 18px;
	text-align:center;
	margin: 0 2px;
	color:#333333;
	display:inline-block;
}
.listpage a.on {
	color:#1186BD;
	border:1px #1186BD solid;
	background: #E8F7FF;
}
.listpage .linksup {
	padding-left: 13px;
	background:url(../image/shop/pgleft.png) no-repeat 7% 6px;
}
.listpage .linksnext {
	padding-right: 13px;
	background:url(../image/shop/pgright.png) no-repeat 93% 6px;
}
.listpage .pglinks-no {
	cursor: default;
	filter:alpha(opacity=50);
	_filter:none;
	opacity: 0.50;
	_color:#999999;
}
.listpage .pglinks-no:hover {
	text-decoration:none;
}

.listpage .pginput {
    border: 1px solid #DEDBDE;
    padding: 1px 2px;
    width: 20px;
    margin: 0 2px;
    text-align:center;
}

.listpage .pgsure {
    color: #303030;
    display: inline-block;
    background:#E7E3E7;
    margin: 0 5px;
    border:1px #9C9A9C solid;
    background:url(../image/shop/toprpx.png) repeat-x 0px 0px;
 
}
.listpage .dot-txt{ margin: 0 8px;color:#5A307B;}
.share-wb{
	font-size: 14px;
	color:#0079BD;
	margin-bottom: 10px;
}
.share-wb .copylink{
	float: right;
}
.share-wb #link_submint{
	width: 70px;
	height: 24px;
	color:#FFF;
	font-size:12px;
	background-color: #0079BD;
	text-align:center;
	line-height:24px;
	display: inline-block;
	*vertical-align: top;
	*display:inline;
	*zoom:1;	
}
.share-wb #link_submint:hover{
	text-decoration:none;
	background-color:#1A689E;
}
#d_clip_button.zeroclipboard-is-hover {
	background-color: #0079BD;
}
#d_clip_button.zeroclipboard-is-active {
	background-color: #1A689E;
}
.share-wb .link_text{
	width: 300px;
	height: 20px;	
	border: 1px #C7C7C7 solid;
	padding:1px 8px;
	font-size:12px;
	color: #CCC;
	background: #FFF;
}
.share-wb .info_tip{
	margin-bottom: 5px;	
	visibility: hidden;
}
.share-wb .info_tip .info_cnt{
	float: right;
	width:391px;
}
.share-wb .info_tip .info_icon{
	display: inline-block;
	height:23px;
	width:23px;
	*display:inline;
	vertical-align: bottom;
	*zoom:1;
		
}
.share-wb .info_tip .info_icon_yes{
	background: url(../image/shop/gwicontyop.png) no-repeat 0 0;	
}
.share-wb .info_tip .info_icon_no{
	background: url(../image/shop/gwicontyno.png) no-repeat 0 0;	
}
.share-wb .info_tip .info_text{
	margin-left:5px;
	color:#000;	
	font-size: 14px;
}
.pop-modpbox {
	margin: 10px auto;
	border:1px #0A5F8E solid;
	position:relative;
	z-index: 1000
}
.p-infotypebox {
	width: 390px;
}
.p-infoformbox {
	width: 550px;
	background:#fff url(../image/shop/popbg.jpg) repeat-x top;
}
.p-infolxbox {
	width: 420px;
}
.pop-modpbox .pop-xtpconbox {
	position:relative;
}
.pop-modpbox .p-xttoptit h2 {
	padding-left:10px;
	height:38px;
	line-height:34px;
	font-weight:normal;
	color:#fff;
	font-size: 14px;
}
.pop-modpbox .p-xttoptit .subh2 {
	font-size: 13px;
	margin-left: 6px
}
.pop-modpbox .p-xttoptit .zxname {
	color:#247DBA;
}
.pop-modpbox .p-xtclose {
	position:absolute;
	right:8px;
	top:5px;
	width:22px;
	height:22px;
	overflow:hidden;
	text-indent: -9999em;
	background:url(../image/shop/popclose.png) no-repeat
}
.pop-modpbox .p-typeinfos {
	padding: 30px 0;
	text-align:center;
}
.pop-modpbox .p-btnxt {
	color:#343434;
	background-color:#f7f7f7;
		border-top: 1px #E5E5E5 solid;
		padding:6px; 
}
.pop-modpbox .p-btnsure {
	text-align:center;
	background:url(../image/shop/bgbtn-rpx.png) no-repeat;
	display:inline-block;
	width:80px;
	height:32px;
	line-height: 32px;
	color:#fff;
	font-size: 14px;
}
.pop-modpbox .p-btnno {
	text-align:center;
	background:url(../image/shop/bgbtn-rpx2.png) no-repeat;
	display:inline-block;
	width:80px;
	height:32px;
	line-height: 32px;
	color:#fff;
	font-size: 14px;
}
.pop-modpbox .p-btnsure:hover {
	text-decoration:none;
	color:#fff;
}
.pop-modpbox .p-modcon {
	zoom:1;
}
  
.ml6 {
    margin-left: 6px;
}
.text-r {
    text-align: right;
}
.c-bule{color:#0A5F8E;}
.c-red{color:#FF0000;}
.ptipinfos{width: 390px;padding: 30px 0 20px;font-size: 14px;line-height: 24px;margin: 0 auto;}
.ptipinfos .pintipcon{margin-left: 25px}
.ptipinfos .txttop{margin-bottom: 10px}
.ptipinfos .txttop02{padding-top: 20px;font-size: 15px;}
.lasttxts{width: 380px;margin: 0 auto; font-size: 14px;line-height: 30px;color:#7F7F7F;border:1px #FFCC67 solid;background: #FEFFEA;text-align:center;margin-bottom:30px}

.ptipinfos-yue{width: 442px;padding: 50px;}
/*样式追加 --hehongwei*/
div.zx-list a.qqLink{
	color:#666;
	cursor: pointer;
	
}

div.zx-list a.qqLink:hover{
	text-decoration: none;
}

div.noresult {
	width:100%;
	height:543px;
	background-color: #fff;
}
div.noresult_cnt p{
	font-size: 14px;
	margin:100px auto;
	text-align: center;
}
.icon_lv{
	width:69px;
	height:25px;
	display:inline-block;
	*display:inline;
	*zoom:1;
}

/*信托lv1*/
.xt_lv1{
	background:url(../image/shop/sprite.png) no-repeat 0 0;	
}
/*私募lv1*/
.sm_lv1{
	background:url(../image/shop/sprite.png) no-repeat 0 -26px;			
}
/*证券lv1*/
.zq_lv1{
	background:url(../image/shop/sprite.png) no-repeat 0 -52px;	
}
/*期货lv1*/
.qh_lv1{
	background:url(../image/shop/sprite.png) no-repeat 0 -78px;	
}
/*信托lv2*/
.xt_lv2{
	background:url(../image/shop/sprite.png) no-repeat -70px 0;	
}
/*私募lv2*/
.sm_lv2{
	background:url(../image/shop/sprite.png) no-repeat -70px -26px;			
}
/*证券lv2*/
.zq_lv2{
	background:url(../image/shop/sprite.png) no-repeat -70px -52px;	
}
/*期货lv2*/
.qh_lv2{
	background:url(../image/shop/sprite.png) no-repeat -70px -78px;	
}
/*信托lv3*/
.xt_lv3{
	background:url(../image/shop/sprite.png) no-repeat -140px 0;	
}
/*私募lv3*/
.sm_lv3{
	background:url(../image/shop/sprite.png) no-repeat -140px -26px;			
}
/*证券lv3*/
.zq_lv3{
	background:url(../image/shop/sprite.png) no-repeat -140px -52px;	
}
/*期货lv3*/
.qh_lv3{
	background:url(../image/shop/sprite.png) no-repeat -140px -78px;	
}
/*信托lv4*/
.xt_lv4{ background:url(../image/shop/sprite.png) no-repeat -210px 0; }

/*信托lv5*/
.xt_lv5{ background:url(../image/shop/sprite.png) no-repeat -280px 0; }

/*信托lv6*/
.xt_lv6{ background:url(../image/shop/sprite.png) no-repeat -350px 0; }

/*信托lv7*/
.xt_lv7{ background:url(../image/shop/sprite.png) no-repeat -420px 0; }

/*信托lv8*/
.xt_lv8{ background:url(../image/shop/sprite.png) no-repeat -490px 0; }

/*信托lv9*/
.xt_lv9{ background:url(../image/shop/sprite.png) no-repeat -560px 0; }

/*信托lv10*/
.xt_lv10{ background:url(../image/shop/sprite.png) no-repeat -630px 0; }

/*信托lv11*/
.xt_lv11{ background:url(../image/shop/sprite.png) no-repeat -700px 0; }

/*信托lv12*/
.xt_lv12{ background:url(../image/shop/sprite.png) no-repeat -770px 0; }

/*信托lv13*/
.xt_lv13{ background:url(../image/shop/sprite.png) no-repeat -840px 0; }

/*信托lv14*/
.xt_lv14{ background:url(../image/shop/sprite.png) no-repeat -910px 0; }

/*信托lv15*/
.xt_lv15{ background:url(../image/shop/sprite.png) no-repeat -980px 0; }

/*信托lv16*/
.xt_lv16{ background:url(../image/shop/sprite.png) no-repeat -1050px 0; }

/*信托lv17*/
.xt_lv17{ background:url(../image/shop/sprite.png) no-repeat -1120px 0; }

/*信托lv18*/
.xt_lv18{ background:url(../image/shop/sprite.png) no-repeat -1190px 0; }

/*信托lv19*/
.xt_lv19{ background:url(../image/shop/sprite.png) no-repeat -1260px 0; }

/*信托lv20*/
.xt_lv20{ background:url(../image/shop/sprite.png) no-repeat -1330px 0; }

/*私募lv4*/
.sm_lv4{ background:url(../image/shop/sprite.png) no-repeat -210px -26px; }

/*私募lv5*/
.sm_lv5{ background:url(../image/shop/sprite.png) no-repeat -280px -26px; }

/*私募lv6*/
.sm_lv6{ background:url(../image/shop/sprite.png) no-repeat -350px -26px; }

/*私募lv7*/
.sm_lv7{ background:url(../image/shop/sprite.png) no-repeat -420px -26px; }

/*私募lv8*/
.sm_lv8{ background:url(../image/shop/sprite.png) no-repeat -490px -26px; }

/*私募lv9*/
.sm_lv9{ background:url(../image/shop/sprite.png) no-repeat -560px -26px; }

/*私募lv10*/
.sm_lv10{ background:url(../image/shop/sprite.png) no-repeat -630px -26px; }

/*私募lv11*/
.sm_lv11{ background:url(../image/shop/sprite.png) no-repeat -700px -26px; }

/*私募lv12*/
.sm_lv12{ background:url(../image/shop/sprite.png) no-repeat -770px -26px; }

/*私募lv13*/
.sm_lv13{ background:url(../image/shop/sprite.png) no-repeat -840px -26px; }

/*私募lv14*/
.sm_lv14{ background:url(../image/shop/sprite.png) no-repeat -910px -26px; }

/*私募lv15*/
.sm_lv15{ background:url(../image/shop/sprite.png) no-repeat -980px -26px; }

/*私募lv16*/
.sm_lv16{ background:url(../image/shop/sprite.png) no-repeat -1050px -26px; }

/*私募lv17*/
.sm_lv17{ background:url(../image/shop/sprite.png) no-repeat -1120px -26px; }

/*私募lv18*/
.sm_lv18{ background:url(../image/shop/sprite.png) no-repeat -1190px -26px; }

/*私募lv19*/
.sm_lv19{ background:url(../image/shop/sprite.png) no-repeat -1260px -26px; }

/*私募lv20*/
.sm_lv20{ background:url(../image/shop/sprite.png) no-repeat -1330px -26px; }

/*证券lv4*/
.zq_lv4{ background:url(../image/shop/sprite.png) no-repeat -210px -52px; }

/*证券lv5*/
.zq_lv5{ background:url(../image/shop/sprite.png) no-repeat -280px -52px; }

/*证券lv6*/
.zq_lv6{ background:url(../image/shop/sprite.png) no-repeat -350px -52px; }

/*证券lv7*/
.zq_lv7{ background:url(../image/shop/sprite.png) no-repeat -420px -52px; }

/*证券lv8*/
.zq_lv8{ background:url(../image/shop/sprite.png) no-repeat -490px -52px; }

/*证券lv9*/
.zq_lv9{ background:url(../image/shop/sprite.png) no-repeat -560px -52px; }

/*证券lv10*/
.zq_lv10{ background:url(../image/shop/sprite.png) no-repeat -630px -52px; }

/*证券lv11*/
.zq_lv11{ background:url(../image/shop/sprite.png) no-repeat -700px -52px; }

/*证券lv12*/
.zq_lv12{ background:url(../image/shop/sprite.png) no-repeat -770px -52px; }

/*证券lv13*/
.zq_lv13{ background:url(../image/shop/sprite.png) no-repeat -840px -52px; }

/*证券lv14*/
.zq_lv14{ background:url(../image/shop/sprite.png) no-repeat -910px -52px; }

/*证券lv15*/
.zq_lv15{ background:url(../image/shop/sprite.png) no-repeat -980px -52px; }

/*证券lv16*/
.zq_lv16{ background:url(../image/shop/sprite.png) no-repeat -1050px -52px; }

/*证券lv17*/
.zq_lv17{ background:url(../image/shop/sprite.png) no-repeat -1120px -52px; }

/*证券lv18*/
.zq_lv18{ background:url(../image/shop/sprite.png) no-repeat -1190px -52px; }

/*证券lv19*/
.zq_lv19{ background:url(../image/shop/sprite.png) no-repeat -1260px -52px; }

/*证券lv20*/
.zq_lv20{ background:url(../image/shop/sprite.png) no-repeat -1330px -52px; }

/*期货lv4*/
.qh_lv4{ background:url(../image/shop/sprite.png) no-repeat -210px -78px; }

/*期货lv5*/
.qh_lv5{ background:url(../image/shop/sprite.png) no-repeat -280px -78px; }

/*期货lv6*/
.qh_lv6{ background:url(../image/shop/sprite.png) no-repeat -350px -78px; }

/*期货lv7*/
.qh_lv7{ background:url(../image/shop/sprite.png) no-repeat -420px -78px; }

/*期货lv8*/
.qh_lv8{ background:url(../image/shop/sprite.png) no-repeat -490px -78px; }

/*期货lv9*/
.qh_lv9{ background:url(../image/shop/sprite.png) no-repeat -560px -78px; }

/*期货lv10*/
.qh_lv10{ background:url(../image/shop/sprite.png) no-repeat -630px -78px; }

/*期货lv11*/
.qh_lv11{ background:url(../image/shop/sprite.png) no-repeat -700px -78px; }

/*期货lv12*/
.qh_lv12{ background:url(../image/shop/sprite.png) no-repeat -770px -78px; }

/*期货lv13*/
.qh_lv13{ background:url(../image/shop/sprite.png) no-repeat -840px -78px; }

/*期货lv14*/
.qh_lv14{ background:url(../image/shop/sprite.png) no-repeat -910px -78px; }

/*期货lv15*/
.qh_lv15{ background:url(../image/shop/sprite.png) no-repeat -980px -78px; }

/*期货lv16*/
.qh_lv16{ background:url(../image/shop/sprite.png) no-repeat -1050px -78px; }

/*期货lv17*/
.qh_lv17{ background:url(../image/shop/sprite.png) no-repeat -1120px -78px; }

/*期货lv18*/
.qh_lv18{ background:url(../image/shop/sprite.png) no-repeat -1190px -78px; }

/*期货lv19*/
.qh_lv19{ background:url(../image/shop/sprite.png) no-repeat -1260px -78px; }

/*期货lv20*/
.qh_lv20{ background:url(../image/shop/sprite.png) no-repeat -1330px -78px; }


/*@hehongwei 添加new的标签*/
/* poptip */
.poptip{position: absolute;top: 12px;left:99px;padding: 2px 4px 2px;*padding: 2px 4px 2px;line-height: 16px;color: #DB7C22;font-size: 12px;background-color: #FFFCEF;border: solid 1px #FFBB76;border-radius: 2px;box-shadow: 0 0 3px #ddd;}
.poptip-arrow{position: absolute;overflow: hidden;font-style: normal;font-family: simsun;font-size: 12px;text-shadow:0 0 2px #ccc;left:50%;top:50%;}

.poptip-arrow em,.poptip-arrow i{position: absolute;left:0;top:0;font-style: normal;}
.poptip-arrow em{color: #FFBB76;}
.poptip-arrow i{color: #FFFCEF;text-shadow:none;}

.poptip-arrow-top,.poptip-arrow-bottom{height: 6px;width: 12px;left:12px;margin-left:-6px;}
.poptip-arrow-left,.poptip-arrow-right{height: 12px;width: 6px;margin-top:-6px;}

.poptip-arrow-top{top: -6px;}
.poptip-arrow-top em{top: -1px;}
.poptip-arrow-top i{top: 0px;}

.poptip-arrow-bottom{bottom: -6px;}
.poptip-arrow-bottom em{top: -8px;}
.poptip-arrow-bottom i{top: -9px;}

.poptip-arrow-left{left:-6px;}
.poptip-arrow-left em{left:1px;}
.poptip-arrow-left i{left:2px;}

.poptip-arrow-right{right:-6px;}
.poptip-arrow-right em{left:-6px;}
.poptip-arrow-right i{left:-7px;}




