.erji_nav {
	margin: 0 auto 15px;
	width: 998px;
	border: 1px #E6E6E6 solid;
	border-top: 0;
	background: #F7F7F7;
	height: 38px;
	position: relative;
}

.erji_nav .ullist {
	position: absolute;
	left: 0px;
	top: 10px;
	font: 14px/20px 微软雅黑E\8F6F\96C5\9ED1;
}
 
.erji_nav .ullist ul {
	list-style: none;
}

.erji_nav .ullist ul li a{
	float: left;
	width: 100px;
	text-align: center;
	border-right: 1px #DDDDDD solid;
	height: 23px;
	position: relative;
	zoom: 1;
	cursor: pointer;
	color: #666;
}

.erji_nav .ullist ul li.on a{
	color: #383838;
}

.erji_nav .ullist i {
	position: relative;
	right: 0px;
	bottom: -6px;
	width: 100%;
	height: 2px;
	background: #0079BD;
	display: none;
	overflow: hidden;
}

.erji_nav .ullist .on i {
	display: block;
}

.erji_nav .ullist ul li a:hover {
	text-decoration: none;
}

.clear {
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}

.erji_nav .ullist li {
	float: left;
	width: 100px;
	text-align: center;
	border-right: 1px #DDDDDD solid;
	height: 23px;
	position: relative;
	zoom: 1;
	cursor: pointer;
	color: #666;
}

