@charset "utf-8";
/* CSS Document */


.clear {
	clear: both;
}
.shadow {
	-webkit-box-shadow: 1px 1px 3px #D9D9D9;
	-moz-box-shadow: 1px 1px 3px #D9D9D9;
	box-shadow: 1px 1px 3px #D9D9D9;
	behavior: url(ie-css3.htc);/* This lets IE know to call the script on all elements which get the 'box' class */
}
.shadow .menu_cnt a{
	width:196px;
	height:68px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	*width:194px;
}

.sm-mod-site {
	width: 1000px;
	height: 32px;
	line-height: 32px;
	margin: 15px auto 0;
}
.sm-mod-site .banfirtxt {
	width: 100px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	background: #ECF9FF url(../image/xt/topnavtxtbg.png) no-repeat 100% 0;
	display: inline-block;
}
.sm-mod-site .icon-arrl {
	font-family: 宋体;
	margin: 0 7px;
	color: #B6B6B6;
}
.header {
	background: url(../image/advert/guozai/header.jpg) no-repeat center top;
	height: 188px;
	overflow: hidden;
}
.banner_wrap {
	background: url(../image/advert/guozai/banner_bg.jpg) repeat-x left top;
	overflow: hidden;
	margin-top: 15px;
}
.banner {
	width: 1280px;
	margin: 0 auto;
	background: url(../image/advert/guozai/banner.jpg) no-repeat center top;
	height: 340px;
	overflow: hidden;
	position: relative;
}
.banner .yuyue {
	width: 220px;
	overflow: hidden;
	padding: 10px;
	background: #2D85BC;
	color: #D6E8F2;
	position: absolute;
	right: 141px;
	top: 35px;
	background: rgba(45, 133, 188, 0.7)
}
.banner .yuyue P {
	margin: 5px 0 0 0;
}
.banner .yuyue H2 {
	font-size: 16px;
	font-weight: bold;
	border-bottom: #BCDBEF solid 1px;
	padding-bottom: 10px;
	color: #FF0;
}
.banner .yuyue .input01 {
	width: 208px;
	height: 28px;
	line-height: 28px;
	padding: 0 5px;
	border: #FFF solid 1px;
	color: #CCC;
	background:#FFF;
}
.banner .yuyue .yuyue_submit {
	background: url(../image/advert/guozai/yuyue_submit.jpg);
	width: 220px;
	height: 35px;
	line-height: 35px;
	border: none;
	cursor: pointer;
	margin-top: 5px;
}
.banner .yuyue span {
	margin-right: 10px;
}
.banner .yuyue P.tel {
	text-align: center;
	font-family: 微软雅黑;
	font-size: 14px;
	color: #FFF;
}

.menu {
	width: 1000px;
	margin: 0 auto 15px auto;
}
.menu ul {
}
.menu li {
	width: 199px;
	height: 60px;
	line-height: 60px;
	float: left;
	background: url(../image/advert/guozai/menu_bg.jpg) repeat-x left top;
	text-align: center;
	margin-right: 1px;
}
.menu a {
	width: 199px;
	height: 60px;
	line-height: 60px;
	display: block;
	color: #FFF;
	font-family: 微软雅黑;
	font-size: 18px;
	text-decoration: none;
}
.menu a:hover {
	background: url(../image/advert/guozai/menu_hover_bg.jpg) repeat-x left top;
}
.menu .hover {
	background: url(../image/advert/guozai/menu_hover_bg.jpg) repeat-x left top;
}

.m01 {
	width: 1000px;
	margin: 0 auto;
}
.m01 h2 {
	height: 55px;
	background: url(../image/advert/guozai/tit01.jpg) no-repeat left top;
	position: relative;
}
.m01 h2 span {
	position: absolute;
	right: 0;
	top: 7px;
}
.m01 h2 a {
	margin-left: 1px;
}
.m01 .con {
	margin: 15px auto;
	border: #DFDFDF solid 1px;
}

.m01 .con .no1 H3 {
	font-size: 16px;
	color: #F60;
	background: #FBFBFB;
	height: 35px;
	line-height: 35px;
	border: #DFDFDF solid 1px;
	border-left: none;
	border-right: none;
	padding-left: 15px;
}
.m01 .con .no1 .about img {
	float: left;
}
.m01 .con .no1 .about P {
	font-size: 16px;
	font-family: 微软雅黑;
	padding: 15px 30px 0 0;
	line-height: 26px;
}
.m01 .con .no1 .leixing {
	margin: 15px 20px;
}
.m01 .con .no1 .leixing H4 {
	font-size: 14px;
	font-weight: bold;
	color: #1F76AE;
	line-height: 25px;
	padding-left: 30px;
}
.m01 .con .no1 .leixing P {
	line-height: 24px;
	background: url(../image/advert/guozai/dot01.jpg) no-repeat left center;
	padding-left: 10px;
	margin-left: 30px;
	font-size: 14px;
}
.m01 .con .no1 .leixing li {
	padding-bottom: 15px;
}
.m01 .con .no1 .leixing .num1 {
	background: url(../image/advert/guozai/num01.jpg) no-repeat left top;
}
.m01 .con .no1 .leixing .num2 {
	background: url(../image/advert/guozai/num02.jpg) no-repeat left top;
}
.m01 .con .no1 .leixing .num3 {
	background: url(../image/advert/guozai/num03.jpg) no-repeat left top;
}
.m01 .con .no1 .fengxian {
	padding: 15px 20px;
}
.m01 .con .no1 .fengxian P {
	line-height: 30px;
}
.m01 .con .no1 .fengxian span {
	background: url(../image/advert/guozai/jiao.jpg) no-repeat right top #FF8803;
	color: #FFF;
	padding: 3px 10px 4px 5px;
	margin-right: 5px;
}
.m01 .con .no1 .fengxian P.tips {
	background: #FFFDE6;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	font-size: 14px;
	border: #FFCC66 dotted 1px;
	margin-top: 5px;
}

.m02 {
	width: 1000px;
	margin: 0 auto;
}
.m02 h2 {
	height: 55px;
	background: url(../image/advert/guozai/tit02.jpg) no-repeat left top;
	position: relative;
}
.m02 h2 span {
	position: absolute;
	right: 0;
	top: 7px;
}
.m02 h2 a {
	margin-left: 1px;
}
.m02 .con {
	margin: 15px auto;
	border: #DFDFDF solid 1px;
}
.m02 .con .no1 H3 {
	font-size: 16px;
	color: #F60;
	background: #FBFBFB;
	height: 35px;
	line-height: 35px;
	border: #DFDFDF solid 1px;
	border-left: none;
	border-right: none;
	padding-left: 15px;
}
.m02 .con .no1 .texts {
	padding: 10px 20px;
	background: #FBFBFB;
	border-bottom: #DFDFDF solid 1px;
}
.m02 .con .no1 P.table_tit {
	width: 800px;
	margin: 0 auto;
	margin-top: 15px;
	font-weight: bold;
	color: #1F76AE;
	font-size: 14px;
	height: 25px;
	line-height: 25px;
}
.m02 .con .no1 P.table_beizhu {
	width: 800px;
	margin: 0 auto;
	margin-bottom: 15px;
	color: #666;
	height: 25px;
	line-height: 25px;
}
.m02 .con .no1 P.table_beizhu span {
	margin-right: 10px;
}
.m02 .con .no1 table {
	width: 800px;
	margin: 5px auto;
	border: #CCC solid 1px;
	border-bottom: none;
	border-right: none;
}
.m02 .con .no1 table th {
	background: #FBFBFB;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	text-align: left;
	font-weight: 100;
	border-bottom: #DFDFDF solid 1px;
	border-right: #DFDFDF solid 1px;
	color: #1F76AE;
}
.m02 .con .no1 table td {
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	border-bottom: #DFDFDF solid 1px;
	border-right: #DFDFDF solid 1px;
}
.m02 .con .no1 table .huang {
	background: #FFFDE6;
}
.m02 .con .no2 {
	padding-bottom: 15px;
}
.m02 .con .no2 H3 {
	font-size: 16px;
	color: #F60;
	background: #FBFBFB;
	height: 35px;
	line-height: 35px;
	border: #DFDFDF solid 1px;
	border-left: none;
	border-right: none;
	padding-left: 15px;
}
.m02 .con .no2 h4 {
	font-size: 18px;
	font-family: 微软雅黑;
	height: 25px;
	line-height: 25px;
	color: #F60;
	margin: 10px 20px;
	padding: 0 0 0 30px;
}
.m02 .con .no2 h4.num1 {
	background: url(../image/advert/guozai/num01.jpg) no-repeat left top;
}
.m02 .con .no2 h4.num2 {
	background: url(../image/advert/guozai/num02.jpg) no-repeat left top;
}
.m02 .con .no2 P {
	padding: 5px 50px;
	line-height: 17px;
}

.m02 .con .no3 {
}
.m02 .con .no3 H3 {
	font-size: 16px;
	color: #F60;
	background: #FBFBFB;
	height: 35px;
	line-height: 35px;
	border: #DFDFDF solid 1px;
	border-left: none;
	border-right: none;
	padding-left: 15px;
}
.m02 .con .no3 P {
	padding: 15px 20px;
	line-height: 17px;
}

.m03 {
	width: 1000px;
	margin: 0 auto;
}
.m03 h2 {
	height: 55px;
	background: url(../image/advert/guozai/tit03.jpg) no-repeat left top;
	position: relative;
}
.m03 h2 span {
	position: absolute;
	right: 0;
	top: 7px;
}
.m03 h2 a {
	margin-left: 1px;
}
.m03 .con {
	margin: 15px auto;
	border: #DFDFDF solid 1px;
}
.m03 .con .no1 H3 {
	font-size: 16px;
	color: #F60;
	background: #FBFBFB;
	height: 35px;
	line-height: 35px;
	border: #DFDFDF solid 1px;
	border-left: none;
	border-right: none;
	padding-left: 15px;
}
.m03 .con .no1 P {
	text-align: center;
	padding: 0 0 15px 0;
	font-size: 14px;
	font-weight: bold;
	color: #1F76AE;
}
.m03 .con .no1 P.pic {
	margin: 15px auto 0 auto;
	width: 400px;
}
.m03 .con .no2 H3 {
	font-size: 16px;
	color: #F60;
	background: #FBFBFB;
	height: 35px;
	line-height: 35px;
	border: #DFDFDF solid 1px;
	border-left: none;
	border-right: none;
	padding-left: 15px;
}
.m03 .con .no2 P {
	margin: 15px 20px;
}
.m03 .con .no2 P.info {
	background: #FBFBFB;
	margin: 0;
	padding: 15px 20px;
	border-bottom: #DFDFDF solid 1px;
}
.m03 .con .no2 P.pic {
	text-align: center;
}
.m03 .con .no2 P.tips {
	background: #FFFDE6;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	font-size: 14px;
	border: #FFCC66 dotted 1px;
	margin-top: 5px;
}

.m04 {
	width: 1000px;
	margin: 0 auto;
}
.m04 h2 {
	height: 55px;
	background: url(../image/advert/guozai/tit04.jpg) no-repeat left top;
	position: relative;
}
.m04 h2 span {
	position: absolute;
	right: 0;
	top: 7px;
}
.m04 h2 a {
	margin-left: 1px;
}
.m04 .con {
	margin: 15px auto;
	border: #DFDFDF solid 1px;
}
.m04 .con .no1 H3 {
	font-size: 16px;
	color: #F60;
	background: #FBFBFB;
	height: 35px;
	line-height: 35px;
	border: #DFDFDF solid 1px;
	border-left: none;
	border-right: none;
	padding-left: 15px;
}
.m04 .con .no1 P {
	padding: 15px 20px;
	line-height: 17px;
}
.m04 .con .no2 H3 {
	font-size: 16px;
	color: #F60;
	background: #FBFBFB;
	height: 35px;
	line-height: 35px;
	border: #DFDFDF solid 1px;
	border-left: none;
	border-right: none;
	padding-left: 15px;
}
.m04 .con .no2 img {
	float: left;
	margin: 0 10px 15px 20px;
}
.m04 .con .no2 .info {
	margin: 15px 30px 15px 0;
}
.m04 .con .no2 .info P {
	height: 32px;
	line-height: 32px;
	margin-bottom: 18px;
}
.m04 .con .no2 .info P.other {
	line-height: 15px;
}

.m04 .con .no3 .xijie {
	padding: 15px 0;
}
.m04 .con .no3 H3 {
	font-size: 16px;
	color: #F60;
	background: #FBFBFB;
	height: 35px;
	line-height: 35px;
	border: #DFDFDF solid 1px;
	border-left: none;
	border-right: none;
	padding-left: 15px;
}
.m04 .con .no3 P {
	line-height: 30px;
	margin: 0 20px;
}
.m04 .con .no3 span {
	background: url(../image/advert/guozai/jiao.jpg) no-repeat right top #FF8803;
	color: #FFF;
	padding: 3px 10px 4px 5px;
	margin-right: 5px;
}
.m04 .con .no3 P.tips {
	background: #FFFDE6;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	font-size: 14px;
	border: #FFCC66 dotted 1px;
	margin-top: 5px;
}

.m04 .con .no4 .fangfa {
	padding: 15px 0;
}
.m04 .con .no4 H3 {
	font-size: 16px;
	color: #F60;
	background: #FBFBFB;
	height: 35px;
	line-height: 35px;
	border: #DFDFDF solid 1px;
	border-left: none;
	border-right: none;
	padding-left: 15px;
}
.m04 .con .no4 P {
	line-height: 30px;
	margin: 0 20px;
}
.m04 .con .no4 span {
	background: url(../image/advert/guozai/jiao.jpg) no-repeat right top #FF8803;
	color: #FFF;
	padding: 3px 10px 4px 5px;
	margin-right: 5px;
}
.m04 .con .no4 P.tips {
	background: #FFFDE6;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	font-size: 14px;
	border: #FFCC66 dotted 1px;
	margin-top: 5px;
}
.m04 .con .no4 .download {
	background: #FBFBFB;
	border-top: #DFDFDF solid 1px;
	padding: 25px 20px;
	position: relative;
}
.m04 .con .no4 .download h4 {
	background: url(../image/advert/guozai/word.jpg) no-repeat left top;
	padding-left: 30px;
	height: 25px;
	line-height: 25px;
	color: #1F76AE;
	font-size: 14px;
}
.m04 .con .no4 .download .yuyue {
	position: absolute;
	right: 15px;
	top: 21px;
}
.m04 .con .no4 .download .yuyue span {
	margin-right: 10px;
	background: none;
	color: #525252;
}
.m04 .con .no4 .download .yuyue .name {
	width: 150px;
	height: 28px;
	line-height: 28px;
	border: #DFDFDF solid 1px;
	padding: 0 5px;
	color: #CCC;
	vertical-align: middle;
}
.m04 .con .no4 .download .yuyue .tel {
	width: 150px;
	height: 28px;
	line-height: 28px;
	border: #DFDFDF solid 1px;
	padding: 0 5px;
	color: #CCC;
	vertical-align: middle;
}
.m04 .con .no4 .download .yuyue .submit {
	background: url(../image/advert/guozai/but03.jpg);
	width: 100px;
	height: 30px;
	overflow: hidden;
	border: none;
	cursor: pointer;
	vertical-align: middle;
}
.m04 .con .no5 H3 {
	font-size: 16px;
	color: #F60;
	background: #FBFBFB;
	height: 35px;
	line-height: 35px;
	border: #DFDFDF solid 1px;
	border-left: none;
	border-right: none;
	padding-left: 15px;
}
.m04 .con .no5 table {
	border: #CCC solid 1px;
	margin: 20px auto 0 auto;
	width: 700px;
}
.m04 .con .no5 table th {
	font-weight: 100;
	text-align: left;
	padding: 0 10px;
	color: #1F76AE;
	background: #F2F8FC;
	border-bottom: #DFDFDF solid 1px;
	border-top: #DFDFDF solid 1px;
	height: 30px;
	line-height: 30px;
}
.m04 .con .no5 table td {
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
}
.m04 .con .no5 table .tit {
	font-size: 14px;
	background: #FBFBFB;
	color: #1F76AE;
	font-weight: bold;
}
.m04 .con .no5 P {
	text-align: center;
	margin: 5px auto 20px auto;
	font-size: 14px;
	color: #999;
}

.m04 .con .no6 .shili {
	padding: 10px 0;
}
.m04 .con .no6 H3 {
	font-size: 16px;
	color: #F60;
	background: #FBFBFB;
	height: 35px;
	line-height: 35px;
	border: #DFDFDF solid 1px;
	border-left: none;
	border-right: none;
	padding-left: 15px;
}
.m04 .con .no6 P {
	padding: 5px 20px;
}

.m05 {
	width: 1000px;
	margin: 0 auto;
}
.m05 h2 {
	height: 55px;
	background: url(../image/advert/guozai/tit05.jpg) no-repeat left top;
	position: relative;
}
.m05 h2 span {
	position: absolute;
	right: 0;
	top: 7px;
}
.m05 h2 a {
	margin-left: 1px;
}
.m05 .con {
	margin: 15px auto;
	border: #DFDFDF solid 1px;
}
.m05 .con .no1 H3 {
	font-size: 16px;
	color: #F60;
	background: #FBFBFB;
	height: 35px;
	line-height: 35px;
	border: #DFDFDF solid 1px;
	border-left: none;
	border-right: none;
	padding-left: 15px;
}
.m05 .con .no1 P {
	line-height: 21px;
	margin: 10px 20px;
}
.m05 .con .no1 span {
	background: url(../image/advert/guozai/jiao.jpg) no-repeat right top #FF8803;
	color: #FFF;
	padding: 3px 10px 4px 5px;
	margin-right: 5px;
}
.m05 .con .no2 H3 {
	font-size: 16px;
	color: #F60;
	background: #FBFBFB;
	height: 35px;
	line-height: 35px;
	border: #DFDFDF solid 1px;
	border-left: none;
	border-right: none;
	padding-left: 15px;
}
.m05 .con .no2 P {
	text-align: center;
	padding: 15px 0;
}
/*占位符的样式*/
input:-webkit-input-placeholder {
	color: #ddd;
}
input:-moz-placeholder {
	color: #ddd;
}
input:-ms-input-placeholder {
	color: #ddd !important;
}
textarea:-webkit-input-placeholder {
	color: #ddd;
}
textarea:-moz-placeholder {
	color: #ddd;
}
textarea:-ms-input-placeholder {
	color: #ddd;
}
label.input_tip {
	display: inline-block;
	font-size: 12px;
	line-height: 16px;
	color: #aaa;
	cursor: text;
	*display: inline;
	*zoom: 1;
}
label.input_tip_focus {
	color: #ddd;
}

.footer {no-repeat center top;
	height: 138px;
	overflow: hidden;
	margin-top: 20px;
}

/*预约框的样式*/
.JFZDialog .JFZDialog_BodyOuter {
	background-color: #fff !important;
}
.pop-xtpbox .p-xttoptit h2 {
	padding-left: 10px;
	height: 38px;
	line-height: 34px;
	font-weight: normal;
	font-family: 'Microsoft Yahei';
	font-size: 18px;
}
.pop-xtpbox .p-typeinfos {
	padding: 30px 0;
	text-align: center;
}
.JFZDialog .JFZDialog_Body .p-btnxt {
	border-top: 1px solid #E5E5E5;
	color: #343434;
	padding: 6px;
	text-align: right;
}
.JFZDialog .JFZDialog_Body .p-btnxt .p-btnsure {
	background: url("../image/xt/bgbtn-rpx.png") no-repeat scroll 0 0;
	color: #FFF;
	display: inline-block;
	height: 32px;
	line-height: 32px;
	text-align: center;
	width: 80px;
	border: none;
	cursor: pointer;
	font-size: 12px;
	font-family: 'Microsoft Yahei';
}
.JFZDialog .JFZDialog_Body .p-btnxt .p-btnsure:hover {
	text-decoration: none;
	color: #FFF;
	filter: alpha(opacity=85);
	opacity: 0.85;
}
.errorMessage {
	color: #FF0000;
}
.errorMessage_com{
	position: absolute;
	*top:100px;
}
.errorMessage_com2{
	position: absolute;
    left:56px;
    padding-top:8px;
}
.errorMessage2{
	left:190px;
}
.errorMessage3{
	left:467px;
}
#form2_error_name {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: absolute;
	top: 35px;
	left: 40px;
}
#form2_error_phone {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: absolute;
	top: 35px;
	left: 265px;
}

.gat_kaihu {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	font: 14px/1.5 'Microsoft Yahei';
}
.gat_kaihu .kaihu_info {
	height: 60px;
	position: relative;
}
.gat_kaihu .ipt_info {
	width: 200px;
	height: 28px;
	line-height: 28px;
	border: 1px solid #CFCFCF;
	*vertical-align: middle;
}
.gat_kaihu .line {
	height: 0;
	border-top: 1px solid #CFCFCF;
}
.gat_kaihu .sub_kaifu {
	width: 80px;
	height: 32px;
	border: none;
	text-align: center;
	color: #fff;
	background: url(../image/sm/bgbtn-rpx.png) no-repeat;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
.gat_kaihu .p_sub {
	margin: 15px;
}
.gat_kaihu .hot_phone {
	color: red;
}
.dialog_lb {
	position: absolute;
	top: 6px;
	left: 138px;
	color: #ccc;
}
/*预约成功的样式*/
.kaihu_succ {
	width: 90%;
	font: 14px/1.5 '微软雅黑';
	margin: 0 auto;
}
.kaihu_succ .title {
	padding-left: 10px;
	height: 25px;
	line-height: 34px;
	font-weight: normal;
	font-family: 'Microsoft Yahei';
	font-size: 18px;
	color: #44484A;
	margin: 5px;
}
.kaihu_succ .line {
	height: 0;
	border-top: 1px solid #CFCFCF;
}
.kaihu_succ .icon_succ {
	width: 36px;
	height: 36px;
	background: url(../image/sm/ictypeok.jpg) no-repeat;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
.kaihu_succ .succ_text {
	line-height: 35px;
	vertical-align: top;
	margin-left: 10px;
}
.kaihu_succ .succ_cnt {
	text-align: center;
	margin-top: 35px;
}
.kaihu_succ .j_sure {
	background: url(../image/xt/bgbtn-rpx.png) no-repeat;
	color: #FFF;
	display: inline-block;
	height: 32px;
	line-height: 32px;
	text-align: center;
	width: 80px;
	cursor: pointer;
	font-size: 12px;
	font-family: 'Microsoft Yahei';
	text-decoration: none;
}
.kaihu_succ .j_sure:hover {
	text-decoration: none;
}

/*返回顶部*/
.backToTop {
	background:url(../image/advert/rzrq/top.png) no-repeat;
	display: none;
	width: 49px;
	height:49px;
	line-height: 1.2;
	color: #fff;
	font-size: 12px;
	text-align: center;
	position: fixed;
	left: 50%;
	margin-left:505px;
	bottom: 50%;
	cursor: pointer;
	_position: absolute;
	_bottom: "auto";
}
.backToTop:hover{
	background:#2177B0 no-repeat;
	color:#fff;
	opacity: .9;
	filter: Alpha(opacity=90);
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	font: 14px/44px 'Microsoft Yahei';
}
.sh{
	background:url(../image/advert/rzrq/icon01.png) no-repeat;
	font-size: 14px;
	width:42px;
	height:14px;
	margin-left:5px;
	display: inline-block;
	*display:inline;
	*zoom:1;
	vertical-align: middle;
}
.m04 .con .new_yuyue {background:url(../image/advert/rzrq/yuyue.png) no-repeat; height:121px; overflow:hidden;padding: 0px 20px 0px 150px;position:relative;}
.m04 .con .new_yuyue .new_yuyue_link{font-size: 16px;text-decoration: none;position: absolute;top:17px;left:170px;font-weight: bold;font-family: '微软雅黑';}
.m04 .con .new_yuyue P {margin:60px 0 0 150px;}
.m04 .con .new_yuyue span {margin-right:10px; background:none; color:#525252;}
.m04 .con .new_yuyue .name {width:200px; height:38px; line-height:38px; border:#CCC solid 1px; padding:0 5px; color:#CCC;vertical-align: middle;}
.m04 .con .new_yuyue .tel {width:200px; height:38px; line-height:38px; border:#CCC solid 1px; padding:0 5px; color:#CCC;vertical-align: middle;}
.m04 .con .new_yuyue .submit {background:url(../image/advert/rzrq/iwanhuoqu.png); width:134px; height:40px; overflow:hidden; border:none; cursor:pointer;vertical-align: middle;}

.m06 {width:1000px; margin:0 auto 20px; border:#DFDFDF solid 1px; background:url(../image/advert/rzrq/m04bg.jpg) repeat-x left;}
.m06 H2 {font-size:22px; font-family:微软雅黑; font-weight:100; color:#1F76AE; height:40px; line-height:40px; padding-left:20px;}
.m06 H2 font {font-size:18px; font-family:微软雅黑; font-weight:100; color:#F60; height:40px; line-height:40px; padding-left:10px;}
.m06 .left {border-right:#DFDFDF solid 1px; float:left; width:30%;}
.m06 .left img {margin:15px 20px;}
.m06 .con {float:left; border-right:#DFDFDF solid 1px; width:35%;}
.m06 .con .biao {margin:15px 20px 0px 20px;position:relative;}
.m06 .con .biao P {height:30px;}
.m06 .con .biao .name {width:200px; height:35px; line-height:35px; border:#CCC solid 1px; color:#CCC; padding:0 5px; margin-left:5px;vertical-align: middle;}
.m06 .con .biao .tel {width:200px; height:35px; line-height:35px; border:#CCC solid 1px; color:#CCC; padding:0 5px; margin-left:5px;vertical-align: middle;}
.m06 .con .biao .submit {background:url(../image/advert/rzrq/submit_tuan.jpg); width:120px; height:40px; border:none; cursor:pointer; margin:15px 0 0 57px;}
.m06 .right {float:left;}
.m06 .right .zhixun {background:url(../image/advert/rzrq/rexian.jpg); width:276px; height:169px; overflow:hidden; display:block; margin:20px 0 10px 20px;}
.m06 .right .zhixun img {margin:80px 0 0 105px;} 

.m04 .con .new_yuyue .mxinputs_red{border-color:#f00;}
.m04 .con .new_yuyue span.span_red{color:#f00;}
