@charset "utf-8";
/* CSS Document */
.clear {
	clear: both;
}

.box_xb_line {
	width: 982px;
	margin: 0 auto;
	background: #247DB9;
	height: 3px;
	line-height: 3px;
	overflow: hidden;
	color: #999;
}
#box_xb {
	width: 950px;
	margin: 0 auto;
	margin-bottom: 20px;
	border: #DFDFDF solid 1px;
	font-size: 12px;
	padding: 10px 15px 0 15px;
}
#box_xb .about_main a{
	color:#999;
	font-size:12px;
}
#box_xb .about_main a:hover{
	color:red;
}
#box_xb .about {
	line-height: 21px;
	border-bottom: #DFDFDF dotted 1px;
	padding-bottom: 10px;
}
#box_xb .about .about_tit {
	float: left;
	width: 110px;
	color: #999;
	text-align: right;
}
#box_xb .about .about_main {
	float: left;
	width: 830px;
	color: #999;
}
#box_xb .suoyin {
	line-height: 21px;
	padding: 10px 0;
	border-bottom: #DFDFDF dotted 1px;
}
#box_xb .suoyin .suoyin_tit {
	float: left;
	width: 110px;
	color: #999;
	margin-right: 10px;
	text-align:right;
}
#box_xb .suoyin .suoyin_main {
	float: left;
	font-family: Arial;
	width: 830px;
}
#box_xb .suoyin .suoyin_main .abc a {
	border: #CCC solid 1px;
	padding: 2px 5px;
	margin-right: 3px;
	text-decoration: none;
	color: #999;
}
#box_xb .suoyin .suoyin_main .abc a:hover {
	text-decoration: none;
	color: #F60;
	background: #DDD;
	border: #999 solid 1px;
}
#box_xb .suoyin .suoyin_main .abc .hover {
	border: #999 solid 1px;
	background: #DDD;
}
#box_xb .suoyin .suoyin_main .list {
	height: auto;
	overflow: hidden;
	margin-top: 5px;
}
#box_xb .suoyin .suoyin_main .list ul {
	margin: 0;
	padding: 0;
}
#box_xb .suoyin .suoyin_main .list li {
	margin: 0;
	padding: 0;
	float: left;
	width: 92px;
	list-style: none;
}
#box_xb .suoyin .suoyin_main .list a {
	text-decoration: none;
	color: #999;
	font-size: 12px;
}
#box_xb .suoyin .suoyin_main .list a:hover {
	text-decoration: none;
	color: #F60;
}
#box_xb .relatedlink {
	line-height: 21px;
	padding: 10px 0;
	border-bottom: #DFDFDF dotted 1px;
}
#box_xb .relatedlink .relatedlink_tit {
	float: left;
	width: 110px;
	color: #999;
	margin-right: 10px;
	text-align:right;
}
#box_xb .relatedlink .relatedlink_main {
	float: left;
	width: 830px;
	height: 27px;
	overflow: hidden;
}
#box_xb .relatedlink .relatedlink_main ul {
	padding: 0;
	margin: 0;
}
#box_xb .relatedlink .relatedlink_main li {
	padding: 0;
	list-style: none;
	width: 107px;
	float: left;
	height: 26px;
	overflow: hidden;
	margin-right: 12px;
	display: inline-block;
	*display:inline;
	*zoom:1;
}
#box_xb .relatedlink .relatedlink_main a {
	color: #999;
	text-decoration: none;
	font-size: 12px;
}
#box_xb .relatedlink .relatedlink_main a:hover {
	text-decoration: none;
	color: #F60;
}

