/*
 * @author : zym
 * @data   : 2014/01/02/
 * @desc   : 金斧子p2p公共
 *
 **/
.p2p_srtb_hd .sr_sort .ico_1,
.p2p_sr_hd .sr_hd_reword .checkbox{ background: url(../../img/common/search/sr_sprite.gif) no-repeat 0 0;}
.p2p_banner .intro_list li{ background: url(../../img/p2p/tips_1.gif) no-repeat;}
.p2p_whyjfz .whyjfz_bd .intro_list li{ background: url(../../img/p2p/tips_2.gif) no-repeat;}
.p2p_prolist_hot .prolist_1 .item .pro_state{ background: url(../../img/p2p/state_bg.gif) no-repeat;}

.p2p_container{ padding-bottom: 15px;}
/*process*/
.process_wrap{width:100px; height: 14px;position: relative;z-index: 10;}
.process_wrap .process_bar{height: 14px; position: absolute;top: 0; left: 0; z-index: 11; overflow: hidden;}
.process_wrap .process_txt{width: 100px; height: 14px; line-height: 14px; text-align: center; position: absolute; top:0; left:0;z-index: 12;}
.process_wrap.open{ border: 1px solid #90C2E4;}
.process_wrap.open .process_bar{ border-right: 1px solid #90C2E4; background-color: #CEE9FC;}
.process_wrap.open .process_txt{color: #2B8CC9;}
.process_wrap.close{ border: 1px solid #FFA31A;}
.process_wrap.close .process_bar{ border-right: 1px solid #FFA31A; background-color: #FFE5BF;}
.process_wrap.close .process_txt{color: #f60;}
/*tips*/
.p2p_tips{margin-top: 15px;  border: 1px solid #dfdfdf; background-color: #f7f7f7; color: #999;}
.p2p_tips p{padding: 11px 20px;}
/*why chose jfz*/
.p2p_whyjfz{  margin-top:15px; border:1px solid #aaa; box-shadow:2px 2px 4px rgba(0,0,0,.2);}
.p2p_whyjfz .whyjfz_hd{padding: 5px 25px; border-bottom:1px solid #cfcfcf; background-color: #f7f7f7; font-size: 18px; color: #f60;}
.p2p_whyjfz .whyjfz_bd{padding: 36px 63px; background-color: #fafafa;}
.p2p_whyjfz .whyjfz_bd .intro_list{}
.p2p_whyjfz .whyjfz_bd .intro_list li{ display: inline; float: left; width: 205px; height: 68px; margin-right: 83px;}
.p2p_whyjfz .whyjfz_bd .intro_list .i_1{ background-position: 0 0;}
.p2p_whyjfz .whyjfz_bd .intro_list .i_2{ background-position: -206px 0;}
.p2p_whyjfz .whyjfz_bd .intro_list .i_3{ background-position: -412px 0;}
/*what can jfz do*/
.p2p_dowhat{ margin-top:15px; border:1px solid #aaa; background-color: #fafafa; box-shadow:2px 2px 4px rgba(0,0,0,.2);}
.p2p_dowhat .p2p_appointment{width: 620px; padding: 0 0 34px 20px; border-right: 1px solid #e1e1e1;}
.p2p_dowhat .p2p_appointment .input_wrap{ float: left; margin-right: 20px; position: relative;}
.p2p_dowhat .p2p_appointment .input_label{ float: left;  width:40px; padding-left: 10px; line-height: 38px;}
.p2p_dowhat .p2p_appointment .input_control{ float: left;}
.p2p_dowhat .p2p_appointment .input_txt{ width: 138px;height: 18px; padding: 10px; border: 1px solid #aaa; background-color: #fff;}
.p2p_dowhat .p2p_appointment .input_txt.no_cur{color: #999;}
.p2p_dowhat .p2p_appointment .input_msg{display: none; width: 138px;height: 18px; padding:9px; background-color: #fff; color: #f60; position: absolute; top: 2px; left: 51px;}
.p2p_dowhat .p2p_appointment .input_btn{ width: 120px; height: 40px; border: none; background-color: #f60;  box-shadow:2px 2px 4px rgba(0,0,0,.2);font-size: 14px; color: #fff;}
.p2p_dowhat .dw_wrap{padding: 10px 20px;}
.p2p_dowhat .dw_tit{margin-top: 10px; font-size: 18px;}
.p2p_dowhat .dw_list{margin-top: 10px;}
.p2p_dowhat .dw_list li{ height: 24px; padding-left: 15px;line-height: 24px;background: url(../../img/p2p/018.gif) no-repeat left center; }
/*loading*/
.p2p_loading{height:310px; padding-top: 120px; border: 1px solid #aaa; box-shadow:2px 2px 4px rgba(0,0,0,.2); background: url(../../img/p2p/loading.gif) no-repeat center 230px #fff; text-align: center; font-size: 16px; font-weight: bold;}
.p2p_loading .p_1{ padding:8px;}
.p2p_loading .p_2{ padding:8px; color: #f60;}
/*p2p favorite set*/
.p2p_favorite_set{ width: 650px; border: 1px solid #eaeaea;background-color: #fff; box-shadow:2px 2px 4px rgba(0,0,0,.2); font-size: 14px;}
.p2p_favorite_set .favoset_hd{height: 40px; padding-left: 12px; background-color: #2B8CC9;}
.p2p_favorite_set .favoset_hd .txt{float: left; height: 16px; padding: 12px 0 12px 16px; background: url(../../img/p2p/030.jpg) no-repeat left center; line-height: 16px; color: #fff;}
.p2p_favorite_set .favoset_hd .close{float: right;width: 21px; height: 21px; margin: 10px 12px 0 0; border: none; background: url(../../img/p2p/032.png);}
.p2p_favorite_set .favoset_hd .close:hover{ background: url(../../img/p2p/031.png);}
.p2p_favorite_set .favoset_bd{}
/*subtit*/
.p2p_favorite_set .favoset_bd .favoset_subtit{padding: 12px; border-bottom: 1px solid #dfdfdf; background-color: #f7f7f7;}
.p2p_favorite_set .favoset_bd .favoset_subtit .ico{float: left; width: 16px; height: 16px; margin-right: 5px; _display: inline;}
.p2p_favorite_set .favoset_bd .favoset_subtit .ico_1{ background: url(../../img/p2p/028.png) no-repeat;}
.p2p_favorite_set .favoset_bd .favoset_subtit .ico_2{ background: url(../../img/p2p/029.png) no-repeat;}
.p2p_favorite_set .favoset_bd .favoset_subtit .txt{float: left; height: 16px; line-height: 18px; color: #2B8CC9; overflow: hidden;}
/*favorite wrap*/
.p2p_favorite_set .favoset_bd .favorite_wrap{}
.p2p_favorite_set .favoset_bd .favorite_wrap .favorite_none{padding: 25px; text-align: center; color: #f60;}
.p2p_favorite_set .favoset_bd .favorite_wrap .favorite_chk_list{padding: 10px;}
/*favorite add*/
.p2p_favorite_set .favoset_bd .favorite_setwrap{}
.p2p_favorite_set .favoset_bd .favorite_addtab{}
.p2p_favorite_set .favoset_bd .favorite_addtab_hd{padding:10px 20px; border-bottom: 1px solid #dfdfdf;}
.p2p_favorite_set .favoset_bd .favorite_addtab_hd .letter_list{}
.p2p_favorite_set .favoset_bd .favorite_addtab_hd .letter_item{float: left;width: 21px; margin: 0 1px;}
.p2p_favorite_set .favoset_bd .favorite_addtab_hd .letter_item a{display:block; height: 21px; line-height: 20px; text-align: center;}
.p2p_favorite_set .favoset_bd .favorite_addtab_hd .letter_item a:hover,
.p2p_favorite_set .favoset_bd .favorite_addtab_hd .letter_item.active a{height: 19px; border: 1px solid #FFA319; background-color: #FFE5BF;line-height: 18px; color: #f60;}
.p2p_favorite_set .favoset_bd .favorite_addtab_bd{ padding: 10px;}
/*checkbox list*/
.p2p_favorite_set .favoset_bd .favorite_chk_list{}
.p2p_favorite_set .favoset_bd .favorite_chk_wrap{float: left; width:82px; height: 24px; margin: 0 10px 10px; font-size: 12px;}
.p2p_favorite_set .favoset_bd .favorite_chk_wrap a{display:block; height: 18px; padding: 3px 0 3px 8px; color: #525252; position: relative; zoom:1;}									
.p2p_favorite_set .favoset_bd .favorite_chk_wrap a:hover{background-color: #ffe5bf; color: #525252;}									
.p2p_favorite_set .favoset_bd .favorite_chk_wrap a:hover .close{display: block;}									
.p2p_favorite_set .favoset_bd .favorite_chk_wrap .checkbox{float: left; width: 14px; height: 14px;margin: 2px 4px 0 0; background: url(../../img/p2p/024.png) no-repeat;}
.p2p_favorite_set .favoset_bd .favorite_chk_wrap a.active .checkbox{background: url(../../img/p2p/026.png) no-repeat;}
.p2p_favorite_set .favoset_bd .favorite_chk_wrap .close{display: none; width: 12px; height: 13px; background: url(../../img/p2p/033.gif) no-repeat; position: absolute; top: -6px; right: -6px;}
/*favorite set foot*/
.p2p_favorite_set .favoset_ft{padding: 15px 0; background-color: #f7f7f7;}
.p2p_favorite_set .favoset_ft .btn_control{width: 170px; margin: 0 auto;}
.p2p_favorite_set .favoset_ft .btn_control .btn{float: left; width: 80px; height: 35px; line-height: 34px; text-align: center; color: #fff; _display: inline;}
.p2p_favorite_set .favoset_ft .btn_control .btn:hover{ color: #fff;}
.p2p_favorite_set .favoset_ft .btn_control .btn_save{background-color:#FF7200; }
.p2p_favorite_set .favoset_ft .btn_control .btn_save:hover{background-color:#D93500; }
.p2p_favorite_set .favoset_ft .btn_control .btn_cancel{margin-left: 10px; background-color:#ccc; }
.p2p_favorite_set .favoset_ft .btn_control .btn_cancel:hover{background-color:#b6b6b6; }
/*platform*/
.platform_tab{width: 460px; border: 1px solid #969696;}
.platform_tab .tab_hd{height: 36px; border-bottom: 1px solid #e6e6e6; background-color: #f7f7f7; position: relative; z-index: 104;}
.platform_tab .tab_control{}
.platform_tab .tab_control_item{ float: left; display: inline; width:60px; height: 18px; margin: 0 12px; padding: 9px 0; text-align: center; color: #2B8CC9; cursor: pointer;}
.platform_tab .tab_control_item:hover,
.platform_tab .tab_control_item.hover{color: #f60;}
.platform_tab .tab_control_item.active{color: #f60;}
.platform_tab .tab_hd .tab_shadow{ width: 60px; height: 3px; background-color: #f60; position: absolute; left:12px; bottom: -1px;}
.platform_tab .tab_hd .tab_shadow .arrow{width: 0; height: 0; border-color:transparent  transparent #f60 transparent ;	border-width:0 5px 5px 5px;	border-style:none dashed solid dashed; overflow: hidden; position: absolute; top: -5px; left: 25px;}
.platform_tab .tab_bd a{padding:0 3px; color: #525252;}
.platform_tab .tab_bd a:hover{background-color: #2b8cc9; color: #fff;}
.platform_tab .tab_con{display: none;}
.platform_tab .tab_con.active{display: block;}
.platform_tab .tc_1{ padding: 10px 0 10px 20px;}
.platform_tab .tc_1 li{float: left; width: 86px; padding: 6px 0;}
.platform_tab .tc_1 a{ float: left; }
.platform_tab .tc_2 .d_dl{ padding: 10px 0 10px 16px; border-bottom: 1px solid #e6e6e6;}
.platform_tab .tc_2 .d_dl.last{border-bottom: none;}
.platform_tab .tc_2 .d_dt{ float: left; width: 40px;}
.platform_tab .tc_2 .d_dd{float: left;}
.platform_tab .tc_2 .d_dd ul{float:left; width:400px;}
.platform_tab .tc_2 .d_dd li{ float: left; width:80px; margin-bottom: 3px;}
.platform_tab .tc_2 .d_dd a{float: left;}
/*five star_wrap*/
.p2p_star_wrap{float: left; height: 18px; line-height: 18px;}
.p2p_star_wrap .star_lbl{float: left; color: #999; margin-right: 3px;}
.p2p_star_wrap .star_b{width: 72px; height: 12px; margin-top: 3px; float: left;background: url(../../img/p2p/star_b.png) no-repeat; overflow: hidden; position: relative;}
.p2p_star_wrap .star_f{height: 12px; background: url(../../img/p2p/star_f.png) no-repeat; position: absolute; top: 0; left: 0;}
.p2p_star_wrap .star_num{float: left; margin-left: 8px;font-size: 14px; color: #F20000;}
/*新增對話框的樣式，覆蓋組件的樣式*/
.JFZDialog {width:auto}
.JFZDialog .JFZDialog_Body{padding:0}