/*
 * @author : zym
 * @data   : 2014/01/02/
 * @desc   : 金斧子p2p首页
 *
 **/
 :root .p2p_banner{filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#00000000', EndColorStr='#00000000')\9;}
 
.p2p_top{height:385px; padding-top: 45px; border-bottom: 4px solid #2B8CC9; box-shadow:0 4px 4px rgba(0,0,0,.2); background: url(../../img/p2p/banner_bg.gif) no-repeat center top #e3f0f6;position: relative;z-index: 10;}
.p2p_fastsearch{width:260px; height: 246px; padding: 0 20px;}
.p2p_fastsearch .p2p_fs_hd{padding:10px 3px 8px; border-bottom: 1px solid #E9F7FF;}
.p2p_fastsearch .p2p_fs_hd .txt{float: left; width: 190px; font-size: 16px; font-weight: bold; color: #fff;}
.p2p_fastsearch .p2p_fs_hd a{ float: right;width: 50px; margin-top: 3px; font-size: 12px; color: #ff9;}
.p2p_fastsearch .p2p_fs_hd a:hover{color: #f60;}
.p2p_fastsearch .p2p_fs_bd{ padding-top: 20px;}
.p2p_fastsearch .input_wrap{margin-bottom: 10px; padding-left: 67px; position: relative;zoom:1;}
.p2p_fastsearch .input_wrap.i_1{z-index:103;}
.p2p_fastsearch .input_wrap.i_2{ z-index: 102;}
.p2p_fastsearch .input_wrap.i_3{z-index: 101;}
.p2p_fastsearch .submit_wrap{ padding: 6px 0 0 67px;}
.p2p_fastsearch .input_label{width: 63px; line-height:28px; color: #fff; position: absolute; top: 0; left: 4px;}
.p2p_fastsearch .input_control{}
.p2p_fastsearch .input_btn{display: block; width: 180px; height: 35px; border: none; background-color: #f90; line-height: 35px; text-align: center; font-size: 16px; color: #fff; cursor: pointer;}
.p2p_fastsearch .input_btn:hover{color: #fff;}
.p2p_fastsearch .input_control .cmd_wrap{width: 180px; position: relative; zoom:1;}
.p2p_fastsearch .input_control .cmd_btn{ height:18px; padding: 6px; background: #fff; cursor: pointer;}
.p2p_fastsearch .input_control .cmd_btn .txt{}
.p2p_fastsearch .input_control .cmd_btn .arrow{height: 0; width: 0; border-color:#999 transparent  transparent transparent ;border-width:5px 5px 0 5px;border-style:solid dashed none dashed;overflow: hidden; position: absolute; top:12px; right: 12px;}
.p2p_fastsearch .input_control .cmd_con{display: none;}
.p2p_fastsearch .input_control .cmd_wrap.active .cmd_btn .arrow{border-color:transparent  transparent #999 transparent ;border-width:0 5px 5px 5px;border-style:none dashed solid dashed;}
.p2p_fastsearch .input_control .cmd_wrap.active .cmd_con{display: block; background-color: #fff; box-shadow:2px 2px 4px rgba(0,0,0,.2); position: absolute; top:30px; left:-1px;}
/*deadline annual_list*/
.p2p_fastsearch .input_control .cmd_wrap .deadline_list{}
.p2p_fastsearch .input_control .cmd_wrap .annual_list{}
.p2p_fastsearch .input_control .cmd_wrap .list{width: 180px; border: 1px solid #969696;}
.p2p_fastsearch .input_control .cmd_wrap .list li{width: 160px; padding: 6px 10px; border-bottom: 1px solid #ddd; color: #666; cursor: pointer;}
.p2p_fastsearch .input_control .cmd_wrap .list li:hover,
.p2p_fastsearch .input_control .cmd_wrap .list li.hover{ background-color: #efefef; color:#1F76AC;}

/*banner*/
.p2p_banner{height: 91px;border-bottom: 1px solid #95C6E4; background-color:rgba(43,140,201,.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#802B8CC9, endColorstr=#802B8CC9); position: absolute;left: 0; right: 0; bottom: 0;z-index: 11;}
.p2p_banner .intro_list{ margin-top: 12px;}
.p2p_banner .intro_list li{float: left; width: 191px; height: 67px;}
.p2p_banner .intro_list li.item_1{ margin-right:40px; background-position:0 0;}
.p2p_banner .intro_list li.item_2{ margin-right:40px; background-position:-192px 0;}
.p2p_banner .intro_list li.item_3{ background-position: -384px 0;}
.p2p_banner .intro_data{margin-top: 10px; text-align: center;}
.p2p_banner .intro_dl_1{margin-right: 42px;}
.p2p_banner .intro_dt{padding:5px 0; margin-bottom: 3px; color: #fff;}
.p2p_banner .intro_dd{background-color: #6694be; font-size: 18px; color: #f60;}
.p2p_banner .intro_dd p{width: 84px; padding: 5px 0; background: url(../../img/p2p/004.gif) no-repeat; position: relative; top: -3px; left: -3px;}
/*product list*/
.p2p_prolist_hot{ margin-top: 25px; box-shadow:2px 2px 4px rgba(0,0,0,.2);}
.p2p_prolist_hot .prolist_1{}
.p2p_prolist_hot .prolist_1 .item{float: left; width: 249px; border-right:1px solid #e6e6e6; position: relative;}
.p2p_prolist_hot .prolist_1 .item.last{width: 248px; border-right-width: 0;}
.p2p_prolist_hot .prolist_1 .item.last .pro_state{right: 0;}
.p2p_prolist_hot .prolist_1 .item:hover,
.p2p_prolist_hot .prolist_1 .item.hover{background-color: #fafafa;}
.p2p_prolist_hot .prolist_1 .item .pro_state{width: 65px; height:47px; position: absolute;top:1px; right: -1px;}
.p2p_prolist_hot .prolist_1 .s_1 .pro_state{ background-position: 0 0;}
.p2p_prolist_hot .prolist_1 .s_2 .pro_state{ background-position: -66px 0;}
.p2p_prolist_hot .prolist_1 .s_3 .pro_state{ background-position: -132px 0;}
.p2p_prolist_hot .prolist_1 .pro_hd{padding: 14px 20px; font-size: 14px; font-weight: bold; color: #f60;}
.p2p_prolist_hot .prolist_1 .pro_bd{height: 151px; padding: 10px 20px 0;}
.p2p_prolist_hot .prolist_1 .pro_img{ height: 33px; overflow: hidden;}
.p2p_prolist_hot .prolist_1 .pro_img img{height: 35px;}
.p2p_prolist_hot .prolist_1 .pro_info{margin-top: 12px; color: #999;}
.p2p_prolist_hot .prolist_1 .pro_name{height: 30px; padding-top: 12px; font-size: 14px; overflow: hidden;}
.p2p_prolist_hot .prolist_1 .pro_income{padding-top: 8px; line-height: 24px;}
.p2p_prolist_hot .prolist_1 .pro_time{padding-bottom: 8px; line-height: 24px;}
.p2p_prolist_hot .prolist_1 .pro_info .f_f60{font-size: 14px; font-weight: bold;}
.p2p_prolist_hot .prolist_1 .pro_ft{height: 42px; padding: 11px 20px; background-color: #fafafa; line-height:21px; overflow: hidden;}
/*article list*/
.p2p_artlist{ margin-top: 25px; box-shadow:2px 2px 4px rgba(0,0,0,.2);}
.p2p_artlist .p2p_subtit{padding:3px 0; font-size: 18px; color: #f60; border-bottom:1px solid #ccc;}
.p2p_artlist .chart_wrap{ width:620px; border-right: 1px solid #e4e4e4;}
.p2p_artlist .chart_wrap .con{padding: 20px 36px 0; overflow: hidden;}
.p2p_artlist .chart_wrap .p2p_js_wrap{padding: 30px 0 10px;}
.p2p_artlist .chart_wrap .tips{padding: 11px 20px; background-color: #f7f7f7; color: #666;}
.p2p_artlist .artlist_wrap{ width: 317px; padding: 20px 30px;}
.p2p_artlist .artlist_wrap .article_list_1{ padding: 10px 0;}
.p2p_artlist .artlist_wrap .article_list_1 li{padding:6px 0; position: relative; zoom:1;}
.p2p_artlist .artlist_wrap .article_list_1 .li_square{width: 5px; height: 5px; background-color: #f90; overflow: hidden; position: absolute;top:13px; left: 0;}
.p2p_artlist .artlist_wrap .article_list_1 a{padding-left: 10px; color: #666;}
.p2p_artlist .artlist_wrap .article_list_1 a:hover{ color: #f60;}
.p2p_artlist .artlist_wrap .qa_wrap{}									
.p2p_artlist .artlist_wrap .qa_wrap .input_txt{width:290px; height:84px; padding:8px 12px; border:1px solid #ccc; color: #535353;}
.p2p_artlist .artlist_wrap .qa_wrap .input_txt.no_cur{ background-color: #fafafa; color: #ccc;}
.p2p_artlist .artlist_wrap .qa_wrap .submit_wrap{ margin-top: 10px;}									
.p2p_artlist .artlist_wrap .qa_wrap .input_btn{width: 90px; height: 30px;border: none; background-color: #f90; font-size: 14px; color: #fff;}
.p2p_artlist .artlist_wrap .qa_wrap .submit_msg{ padding-top: 6px;}
/*platform*/
.p2p_platform{ margin-top: 25px; box-shadow:2px 2px 4px rgba(0,0,0,.2);}
.p2p_platform .p2p_bd{ padding: 25px 0 5px; background-color: #fafafa;}
.p2p_platform .platform_wrap{width: 926px; margin:0 auto; overflow: hidden;}
.p2p_platform .platform_list{width:955px;height: 118px;}
.p2p_platform .platform_list li{float: left;width: 126px; height: 35px; margin:0 31px 20px 0;padding: 2px 0; border: 1px solid #ccc; background-color: #fff; text-align: center; overflow: hidden;}
.p2p_platform .platform_list li img{height: 35px;}
