.thid {
	left: -999em;
	position: absolute;
}
.clear {
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}
.clear:after {
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
	line-height: 0;
	content: "";
}
.clear {
	zoom: 1;
}
.f-st {
	font-family: simsun, "宋体";
}
.f-yh {
	font-family: "Microsoft YaHei", "微软雅黑";
}

.magcen {
	width: 1000px;
	margin: 0 auto;
}
.fl {
	float: left;
	display: inline;
}
.fr {
	float: right;
	display: inline;
}
.shadow {
	box-shadow: 1px 1px 3px #D9D9D9;
}

.c-org {
	color: #FF6600;
}
.c-blue {
	color: #2076AF;
}
.c-yellow {
	color: #F6FA69;
}
.c-greed {
	color: #009900;
}

.hdmian {
	margin: 5px auto;
}
.leftcon {
	width: 680px;
}
.sidcon {
	width: 300px;
}

.banboxwp {
	background: url(banrpx.png)/*tpa=http://www.jinfuzi.com/static/cmpt/root/image/xtxe/banrpx.png*/ repeat-x 0 0;
	height: 340px;
}
.ban-inter {
	background: url(topbanimg.jpg)/*tpa=http://www.jinfuzi.com/static/cmpt/root/image/xtxe/topbanimg.jpg*/ no-repeat center 0;
}
.banbox {
	background: url(topbanimg.jpg)/*tpa=http://www.jinfuzi.com/static/cmpt/root/image/xtxe/topbanimg.jpg*/ no-repeat center 0;
	height: 334px;
	position: relative;
}

.magbom15 {
	margin-bottom: 15px;
}
.magbom10 {
	margin-bottom: 10px;
}

.xt-pdinfos {
	padding: 15px 10px 0px 15px;
	border: 1px solid #DFDFDF;
	background: url(tdtoprpx.png)/*tpa=http://www.jinfuzi.com/static/cmpt/root/image/xtxe/tdtoprpx.png*/ repeat-x 0 bottom;
	margin-bottom: 15px;
}
.yueinfos {
	width: 335px;
}
.yueinfos .xttbname {
	font-size: 20px;
	font-weight: bold;
	color: #1F76AE;
	margin-bottom: 8px;
	line-height: 1.4;
}

.yueinfos .txttip {
	color: #666666;
	height: 70px;
}
.yueinfos .tbyuebox {
	text-align: right;
}

.sidinter {
	width: 300px
}
.tbyuebox {
	overflow: hidden;
	margin-bottom: 10px
}
.tbyuebox li {
	border: 1px #CCCCCC solid;
	float: left;
	margin-right: 8px;
	overflow: hidden;
	text-align: center;
	width: 90px;
	background: #F5F5F5;
	cursor: pointer;
}
.tbyuebox .tits {
	height: 22px;
	line-height: 22px;
	background: #247DBA;
	color: #fff;
}
.tbyuebox .sy-infos {
	padding: 6px 0;
	font-size: 12px;
	color: #FF6600;
	font-weight: bold;
	text-align: center;
	*text-indent:8px; 
}
.tbyuebox li:hover .tits {
	background: #FF6800
}

.xtimgbox img {
	border: 1px #CCCCCC solid;
	display: block;
	width: 290px;
	height: 250px;
}

.linkyuebox {
	width: 300px;
	height: 89px;
	position: relative;
	background: url(yuebg.png)/*tpa=http://www.jinfuzi.com/static/cmpt/root/image/xtxe/yuebg.png*/ no-repeat 0 0;
	display: block;
	margin-left: -26px;
}
.linkyuebox:hover {
	background-position: 0 -97px;
}
.txt-jg {
	position: absolute;
	left: 30px;
	top: 24px;
	font-size: 22px;
	color: #fff;
}
.linkyueover {
	width: 300px;
	height: 89px;
	position: relative;
	background: url(yuebg.png)/*tpa=http://www.jinfuzi.com/static/cmpt/root/image/xtxe/yuebg.png*/ no-repeat 0 0;
	display: block;
	margin-left: -26px;
	background-position: 0 -201px;
	cursor: default;
}
.linkyueover:hover {
	background-position: 0 -201px;
	text-decoration: none;
}

.hztxt {
	color: #FF6600 !important;
}

.nowyuebox {
	padding-left: 20px;
	background: url(iconyue.png)/*tpa=http://www.jinfuzi.com/static/cmpt/root/image/xtxe/iconyue.png*/ no-repeat 0 4px;
	font-size: 16px;
	margin-top: 10px;
	font-weight: bold;
}

.subtxtcon {
	border-top: 1px #CCCCCC dashed;
	padding-top: 5px;
	margin-top: 5px;
	line-height: 22px;
	margin-bottom: 10px
}
.subtxtcon .txt-lab {
	display: inline-block;
	width: 74px;
}
.lastbox {
	padding: 10px 20px;
	background: url(lasttimebg.png)/*tpa=http://www.jinfuzi.com/static/cmpt/root/image/xtxe/lasttimebg.png*/ repeat-y;
	margin-left: -15px
}
.lastbox .txtlast {
	padding-left: 20px;
	background: url(lasttime.png)/*tpa=http://www.jinfuzi.com/static/cmpt/root/image/xtxe/lasttime.png*/ no-repeat 0 0px;
}

.sidxtcon {
	background: #F6F6F6;
}
.yueboxtop {
	padding: 15px 20px;
	position: relative;
	zoom: 1
}
.yueboxtop h3 {
	font-size: 20px;
	margin-bottom: 5px;
	font-weight: normal;
}
.yueboxtop .iconarr {
	background: url(icontopjiao-1.png)/*tpa=http://www.jinfuzi.com/static/cmpt/root/image/xtxe/icontopjiao.png*/ no-repeat 0px 0px;
	width: 75px;
	height: 58px;
	overflow: hidden;
	position: absolute;
	right: 0px;
	top: 0px;
}
.yueboxtop .pinfos {
	line-height: 24px;
	margin-bottom: 15px
}
.yueboxtop .yueformbox {
	margin-bottom: 25px;
}
.yueboxtop .yueformbox p {
	margin-bottom: 12px;
}
.yueboxtop .yueformbox .yuelable {
	display: inline-block;
	width: 75px;
}
.yueboxtop .yueformbox .yueinput {
	width: 155px;
	height: 22px;
	line-height: 22px;
	color: #000000;
	padding: 0 5px;
	border: 1px #C7C7C7 solid;
	font-size: 12px;
	background: #fff;
	-moz-box-shadow: 0px 2px 2px #ccc;
	-webkit-box-shadow: 0px 2px 2px #ccc;
	box-shadow: 0px 2px 2px #ccc;
}
.yueboxtop .yueformbox .yuebtn {
	display: inline-block;
	text-align: center;
	width: 100px;
	height: 35px;
	line-height: 35px;
	color: #fff;
	background: url(btnyuerpx.png)/*tpa=http://www.jinfuzi.com/static/cmpt/root/image/xtxe/btnyuerpx.png*/ repeat-x;
	font-size: 14px;
	border:none;
	cursor: pointer;
	font-weight: bold;
}
.yueboxtop .txt-phone {
	text-align: center;
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: bold;
}
.yueboxtop .txt-bottom {
	text-align: center;
	color: #999999;
}
.subyuecon {
	padding: 15px 20px;
	border-top: 1px #DFDFDF solid;
}
.subyuecon h3 {
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: normal;
	color: #277EB6;
	font-family: "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
}
.subyuecon .subdolist li {
	padding-left: 15px;
	background: url(listdotsm.png)/*tpa=http://www.jinfuzi.com/static/cmpt/root/image/xtxe/listdotsm.png*/ no-repeat 0 50%;
	margin-bottom: 7px
}

.xttitbox .titsublink {
	float: right;
	line-height: 28px;
	padding-right: 6px
}

.xttitbox {
	height: 30px;
	line-height: 30px;
	border-bottom: 1px #ddd solid;
	position: relative;
	background: url(rhead_bg-2.png)/*tpa=http://www.jinfuzi.com/static/cmpt/root/image/xtxe/rhead_bg.png*/ repeat-x bottom;
	border-top: 2px #247DBA solid;
}
.xttitbox h2 {
	float: left;
	display: inline;
	padding-left: 10px;
	margin-right: 30px;
	color: #474747;
	font-family: "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
	font-size: 16px;
	color: #2076AF;
}
.xttitbox .sidtits {
	font-size: 16px;
	color: 444;
	font-weight: normal;
}
.xttitbox .relative-tit {
	padding-left: 30px;
	line-height: 32px;
	background: url(rhbg-1.png)/*tpa=http://www.jinfuzi.com/static/cmpt/root/image/xtxe/rhbg.png*/ no-repeat 7px 7px;
}

.dingyuemail {
	padding: 10px 15px;
}
.dingyuemail p {
	margin-bottom: 10px;
}
.dingyuemail .dingyuemail_input {
	width: 170px;
	height: 28px;
	line-height: 28px;
	border: #BBB solid 1px;
	padding: 0 5px;
	color: #000000;
	vertical-align: middle;
	*width:166px;
}
.dingyuemail .dingyuemail_but {
	border: #BE4B00 solid 1px;
	background: #F60;
	width: 80px;
	height: 30px;
	line-height: 25px;
	color: #FFF;
	cursor: pointer;
	padding: 0;
	margin: 0;
	font-size: 14px;
	vertical-align: middle;
}
.xttitbox .dingyuetit {
	padding-left: 30px;
	line-height: 32px;
	background: url(icdingyue.png)/*tpa=http://www.jinfuzi.com/static/cmpt/root/image/xtxe/icdingyue.png*/ no-repeat 9px 8px;
}
.xttitbox .sidtits font {
	position: absolute;
	right: 10px;
	*top: 0px;
	font-size: 12px;
	font-weight: 100;
}

.sidinfolist {
}
.sidinfolist li {
	text-indent: 20px;
	background: url(iclistsid.png)/*tpa=http://www.jinfuzi.com/static/cmpt/root/image/xtxe/iclistsid.png*/ no-repeat 15px 15px;
	border-bottom: 1px #BEBEBE dotted;
	padding: 15px;
}

.errorMessage {
    color: #FF0000;
}
/*预约框的样式*/
.JFZDialog .JFZDialog_BodyOuter{
	background-color: #fff !important;
}
.pop-xtpbox .p-xttoptit h2 {
	padding-left: 10px;
	height: 38px;
	line-height: 34px;
	font-weight: normal;
	font-family: 'Microsoft Yahei';
	font-size: 18px;
}
.pop-xtpbox .p-typeinfos {
	padding: 30px 0;
	text-align: center;
}
.JFZDialog .JFZDialog_Body .p-btnxt {
	border-top: 1px solid #E5E5E5;
	color: #343434;
	padding: 6px;
	text-align: right;
}
.JFZDialog .JFZDialog_Body .p-btnxt .p-btnsure {
	background: url("bgbtn-rpx.png")/*tpa=http://www.jinfuzi.com/static/cmpt/root/image/xt/bgbtn-rpx.png*/ no-repeat scroll 0 0;
	color: #FFF;
	display: inline-block;
	height: 32px;
	line-height: 32px;
	text-align: center;
	width: 80px;
	border: none;
	cursor: pointer;
	font-size: 12px;
	font-family: 'Microsoft Yahei';
}
.JFZDialog .JFZDialog_Body .p-btnxt .p-btnsure:hover {
	text-decoration: none;
	color: #FFF;
	filter: alpha(opacity=85);
	opacity: 0.85;
}

.xt-mod-site {
    height: 32px;
    line-height: 32px;
    margin:15px auto 0;
    width: 1000px;
    margin-bottom: 10px;
}

.xt-mod-site .banfirtxt {
    background: url("../image/xt/topnavtxtbg.png") no-repeat scroll 100% 0 #ECF9FF;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 100px;
}

.xt-mod-site .icon-arrl {
    color: #B6B6B6;
    font-family: 宋体;
    margin: 0 7px;
}

.erji_nav {
	margin: 0 auto 15px;
	width: 998px;
	border: 1px #E6E6E6 solid;
	border-top: 0;
	background: #F7F7F7;
	height: 38px;
	position: relative;
	margin-top:-15px;
}
.erji_nav .ullist i {
	position: absolute;
	right: 0px;
	bottom: -6px;
	width: 100%;
	height: 2px;
	background: #0079BD;
	display: none;
	overflow: hidden;
}