/*
 * @author :hhw
 * @data :2013/11/4/
 * @desc :金斧子首页页面样式改版
 *
 **/
/*-----------------------------------------------------首页模块------------------------------------------------------*/
body{background: url(bg_twill.gif)/*tpa=http://www.jinfuzi.com/static/img/common/bg_twill.gif*/ repeat;}
a {color: #757575;}
a:hover {color: #F60;text-decoration: none;}
/*首页的聚合页面模块*/
#md_idx_polymeric {
	height: 365px;
	background-color: #EFEFEF;
	border-bottom: 1px solid #CCC;
}
#md_idx_polymeric .polymeric_cnt {
	height: 365px;
	padding-top: 10px;
}
#md_idx_polymeric .po_1 {
	width: 196px;
	height: 272px;
	border: 1px solid #ccc;
	border-bottom-width: 0px;
	overflow: hidden;
}
#md_idx_polymeric .po_2 {
	height: 272px;
	width: 548px;
	border-top: 1px solid #CCC;
}
#md_idx_polymeric .po_2 .licai_wrap {
	width: 100%;
	height: 100%;
	background-color: #FFF;
	position: relative;
}
#md_idx_polymeric .po_2 .xique_wrap {
	width: 100%;
	height: 100%;
	background-color: #FFF;
}
#md_idx_polymeric .po_2 .youhui_wrap {
	width: 100%;
	height: 100%;
	background-color: #FFF;
}
#md_idx_polymeric .po_2 .zonghe_wrap {
	width: 100%;
	height: 100%;
	background-color: #FFF;
}
#md_idx_polymeric .zonghe_wrap .sear_prod {
	height: 188px;
	border-bottom: 1px dashed #DDD;
	background-color: #FAFAFA;
}
#md_idx_polymeric .zonghe_wrap .title {
	color: #2B8CC9;
	font-size: 14px;
	font-family: '微软雅黑';
	padding-left: 28px;
	padding-top: 10px;
}
#md_idx_polymeric .zonghe_wrap .sm_condition {
	padding: 20px 14px;
}
#md_idx_polymeric .zonghe_wrap .sm_condition .input_wrap {
	float: left;
	height: 38px;
	margin-left: 14px;
	border: 1px solid #AAA;
	background: #efefef;
	color: #525252;
	width: 232px;
}
#md_idx_polymeric .zonghe_wrap .sm_condition .label {
	float: left;
	width: 64px;
	border-right: 1px solid #d5d5d5;
	background: #efefef;
	line-height: 38px;
	text-align: center;
	color: #999;
}
#md_idx_polymeric .zonghe_wrap .sm_condition .text {
	float: left;
	width: 80px;
	height:18px;
	padding: 10px;
	border: none;
	background-color:#FFF;
}
#md_idx_polymeric .zonghe_wrap .sm_condition .unit {
	float: left;
	width: 32px;
	line-height: 38px;
	color: #999;
	background-color:#FFF;
	cursor:pointer;
}
#md_idx_polymeric .zonghe_wrap .sm_condition .cmd_wrap {
	float: left;
	position: relative;
}
#md_idx_polymeric .zonghe_wrap .sm_condition .cmd_btn {
	float: left;
	width: 34px;
	height: 38px;
	border-left: 1px solid #d5d5d5;
	background: #efefef;
}
#md_idx_polymeric .zonghe_wrap .sm_condition .ico_arrow {
	border-color: #999 transparent transparent transparent;
	border-width: 5px 5px 0 5px;
	border-style: solid dashed none dashed;
	position: absolute;
	left: 14px;
	top: 16px;
	*height:0px;
	*overflow:hidden;
}
#md_idx_polymeric .zonghe_wrap .sm_condition .cmd_wrap.active .ico_arrow{
	border-color:transparent transparent #999 transparent;
	border-width:0 5px 5px  5px;
	border-style:none dashed solid dashed; 
	position: absolute;
	*height:0px;
	*overflow:hidden;
}
#md_idx_polymeric .zonghe_wrap .sm_condition .cmd_wrap.active .cmd_con{display:block;}
#md_idx_polymeric .zonghe_wrap .sm_condition .sm_sub {
	float: right;
	width: 124px;
	height: 40px;
	border: none;
	background-color: #f60;
	font-size: 14px;
	color: #FFF;
	margin-right: 25px;
	margin-top: 20px;
	cursor:pointer;
}
#md_idx_polymeric .zonghe_wrap .sm_condition .sm_sub:hover{
	background: #D93600;
}
#md_idx_polymeric .zonghe_wrap .sm_condition .cmd_con {
	width: 165px;
	border: 1px solid #969696;
	background: #fff;
	box-shadow: 2px 2px 4px rgba(0,0,0,.15);
	position: absolute;
	top: 38px;
	left: -131px;
}
#md_idx_polymeric .zonghe_wrap .sm_condition .cmd_con li {
	padding: 0 10px;
	border-bottom: 1px solid #d5d5d5;
	line-height: 30px;
	cursor: pointer;
}
#md_idx_polymeric .zonghe_wrap .sm_condition .cmd_con li:hover{
	background-color: #EFEFEF;
	color: #1F76AC;
}
#md_idx_polymeric .zonghe_wrap .sm_condition .prod_num {
	float: left;
	margin-top: 35px;
	margin-left: 14px;
}
#md_idx_polymeric .zonghe_wrap .sm_condition .cl_red {
	color: #FF6600;
	margin-right:3px;
	font-size: 15px;
}
#md_idx_polymeric .zonghe_wrap .hot_sear .hot_list {
	padding-left: 28px;
	margin-top: 10px;
}
#md_idx_polymeric .zonghe_wrap .hot_sear li {
	float: left;
}
#md_idx_polymeric .zonghe_wrap .hot_sear li a{
	color: #525252;
	font-family: '宋体';
	font-size: 12px;
}
#md_idx_polymeric .zonghe_wrap .hot_sear li a:hover{
	color:#f60;
}
#md_idx_polymeric .zonghe_wrap .hot_sear .v_line {
	margin: 0 10px;
	color: #CDCED0;
}
#md_idx_polymeric .po_2 .licai_wrap .slider_left {
	margin: 20px 20px 20px 20px;
	position:relative;
}
#md_idx_polymeric .po_2 .licai_wrap .slider_right {
	margin: 20px 0px 0px;
	width: 252px;
}
#md_idx_polymeric .po_2 .licai_wrap .slider_bottom {
	width: 100%;
	height: 34px;
	background-color: #F8F8F8;
	position: absolute;
	bottom: 0;
}
#md_idx_polymeric .po_2 .licai_wrap .link {
	width: 224px;
	text-align: center;
	line-height: 2;
	background-color: #E6E6E6;
	position: absolute;
	bottom: 0px;
	left:0px;
}
#md_idx_polymeric .po_2 .licai_wrap .i_top {
	background-color: #FF8000;
	padding: 1px;
	color: #FFF;
	margin-right: 5px;
}
#md_idx_polymeric .po_2 .licai_wrap .title {
	font-family: '宋体';
}
#md_idx_polymeric .po_2 .licai_wrap .title a{
	color: #1F76AC;
	font-size: 14px;
	font-weight: bolder;
}
#md_idx_polymeric .po_2 .licai_wrap .cont {
	margin-top: 15px;
	color: #999;
}
#md_idx_polymeric .po_2 .licai_wrap .sr_list {
	margin-top: 15px;
}
#md_idx_polymeric .po_2 .licai_wrap .sr_list li{
	margin:3px 0;
}
#md_idx_polymeric .po_2 .licai_wrap .sr_list .block{
	width: 3px;
	height:3px;
	background:#2B8CC9;
	vertical-align: middle;
	margin-right: 5px;
}
#md_idx_polymeric .po_2 .licai_wrap .sr_list a{
	color: #525252;
}
#md_idx_polymeric .po_2 .licai_wrap .sr_list a:hover{
	color: #F60;
}
#md_idx_polymeric .po_2 .slider_bottom .sb_list {
	height: 34px;
}
#md_idx_polymeric .po_2 .slider_bottom li {
	float: left;
	width: 155px;
	height: 26px;
	text-align: center;
	border-right: 1px solid #CCC;
	border-top:1px solid #E3E5E5;
	padding-top: 8px;
	position:relative;
}
#md_idx_polymeric .po_2 .slider_bottom li.last {
	width: 80px;
	border-right: none;
	color:#90989E;
	text-align: left;
}
#md_idx_polymeric .po_2 .slider_bottom li a{
	color: #525252;
}
#md_idx_polymeric .po_2 .slider_bottom li a:hover{
	color: #f60;
}
#md_idx_polymeric .po_2 .slider_bottom .last .i_arr_right{
	width: 13px;
	height: 13px;
	margin:4px 5px 0px 20px;
	background:url(arr_right.png)/*tpa=http://www.jinfuzi.com/static/img/common/arr_right.png*/ no-repeat;
}
#md_idx_polymeric .po_2 .slider_bottom .last .link_more{
	line-height: 1;
	padding:4px 0;
}
#md_idx_polymeric .po_2 .slider_bottom li.on {
	background: #B8C0C5;
}
#md_idx_polymeric .po_2 .slider_bottom li .i_arr_up{
	width: 13px;
	height:7px;
}
#md_idx_polymeric .po_2 .slider_bottom li.on a{
	color: #FFF;
}
#md_idx_polymeric .po_2 .slider_bottom li.on .i_arr_up{
	background:url(arrow_up.png)/*tpa=http://www.jinfuzi.com/static/img/common/arrow_up.png*/ no-repeat;
	position:absolute;
	top: -7px;
	left: 50%;
}
#md_idx_polymeric .po_2 .xique_wrap li {
	width: 273px;
	height: 135px;
	float: left;
	background-color: #FFF;
}
#md_idx_polymeric .po_2 .xique_wrap li.hover{
	background-color:#F7F7F7;
}
#md_idx_polymeric .po_2 .xique_wrap li.li1 {
	border-bottom: 1px solid #E6E6E6;
	border-right: 1px solid #E6E6E6;
	height: 136px;
}
#md_idx_polymeric .po_2 .xique_wrap li.li2 {
	border-bottom: 1px solid #E6E6E6;
	height: 136px;
}
#md_idx_polymeric .po_2 .xique_wrap li.li3 {
	border-right: 1px solid #E6E6E6;
}
#md_idx_polymeric .po_2 .xique_wrap li.li4 {}
#md_idx_polymeric .po_2 .youhui_wrap li {
	width: 273px;
	height: 135px;
	overflow:hidden;
	float: left;
	background-color: #FFF;
	position: relative;
}
#md_idx_polymeric .po_2 .youhui_wrap li img{
	width: 100%;
}
#md_idx_polymeric .po_2 .youhui_wrap li.li1 {
	border-bottom: 1px solid #FFF;
	border-right: 1px solid #FFF;
}
#md_idx_polymeric .po_2 .youhui_wrap li.li2 {
	border-bottom: 1px solid #FFF;
}
#md_idx_polymeric .po_2 .youhui_wrap li.li3 {
	border-right: 1px solid #FFF;
}
#md_idx_polymeric .po_2 .youhui_wrap li.li4 {
}
#md_idx_polymeric .po_2 .youhui_wrap .yh_link {
	display:none;
	width: 100%;
	height: 28px;
	line-height: 28px;
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 0px;
	color: #FFF;
	background:rgba(167,193,231,0.8);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#CCA7C1E7',EndColorStr='#CCA7C1E7');
}
:root .yh_link{
	filter:none;
}
#md_idx_polymeric .xique_wrap .beijing {
	width: 100px;
	line-height: 2;
	margin-top: 15px;
	margin-left: 15px;
}
#md_idx_polymeric .xique_wrap .beijing .bj_txt {
	width: 80px;
	height: 26px;
	text-align: center;
	color: #FFF;
	background-color: #A7C1E7;
}
#md_idx_polymeric .xique_wrap .beijing .shouyi {
	width: 80px;
	height: 40px;
	background-color: #EFEFEF;
	color: #FF8000;
	text-align: center;
	font-size: 18px;
	font-weight: bolder;
}
#md_idx_polymeric .xique_wrap .beijing .order {
	width: 80px;
	height: 28px;
	line-height: 28px;
	background-color: #FF8000;
	color: #FFF;
	text-align: center;
}
#md_idx_polymeric .xique_wrap .beijing .order:hover{
	background: #D93600;
}
.order_hide{
	display: none;
}
#md_idx_polymeric .xique_wrap .project {
	width: 150px;
	margin-top: 10px;
}
#md_idx_polymeric .xique_wrap .project .proj_cnt {
	line-height: 2;
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dashed #CCC;
}
#md_idx_polymeric .xique_wrap .project .proj_name {
	color: #1F76AC;
	white-space: nowrap;
}
#md_idx_polymeric .xique_wrap .project .proj_name:hover{
	color:#F60;
}
#md_idx_polymeric .xique_wrap .project .proj_sy,#md_idx_polymeric .xique_wrap .project .proj_mk{
	color: #999;
}
#md_idx_polymeric .xique_wrap .project  .proj_b{
	color: #f60;
}
#md_idx_polymeric .xique_wrap .project .ping_txt {
	color: #999;
	margin-right: 5px;
}
#md_idx_polymeric .xique_wrap .project .ping_cont {
	color: #525252;
}
#md_idx_polymeric .po_3 {
	width: 252px;
	height: 272px;
	border: 1px solid #CCC;
	border-bottom-width: 0px;
}
#md_idx_polymeric .po_ft {
	width: 998px;
	height: 81px;
	border: 1px solid #CCC;
	border-bottom:none;
	overflow: hidden;
}
#md_idx_polymeric .prod_list li {
	height: 54px;
	line-height: 54px;
	width: 100%;
	*float:left;
}
#md_idx_polymeric .prod_list li a {
	width: 100%;
	height: 54px;
	color: #525252;
	font-size: 14px;
	text-indent:15px;
	background: #F4F4F4 url(line.png)/*tpa=http://www.jinfuzi.com/static/img/common/line.png*/ no-repeat bottom;
	position: relative;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	*float:left;
}
#md_idx_polymeric .prod_list li a:hover {
	background-color: #A7C1E7;
	color: #FFF;
	text-decoration: none;
	background-image: none;
	margin-top:-2px;
	padding-top:2px;
}
#md_idx_polymeric .prod_list li a.active {
	background-color: #2B8CC9;
	color: #FFF;
	margin-top:-2px;
	padding-top:2px;
	background-image:none;
}
#md_idx_polymeric .prod_list li.last {
	height: 56px;
}
#md_idx_polymeric .prod_list li.last a {
	background-image: none;
	height: 56px;
}
#md_idx_polymeric .prod_list .i_com {
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat;
	margin-right: 10px;
	vertical-align: middle;
}
#md_idx_polymeric .prod_list .i_1 {
	width: 24px;
	height: 17px;
	background-position: -230px 1px;
}
#md_idx_polymeric .prod_list .i_2 {
	width: 24px;
	height: 18px;
	background-position: -262px -2px;
}
#md_idx_polymeric .prod_list a.active .i_2,#md_idx_polymeric .prod_list a:hover .i_2{
	background: url(hover_sprite.png)/*tpa=http://www.jinfuzi.com/static/img/common/hover_sprite.png*/ no-repeat -10px -100px;
}
#md_idx_polymeric .prod_list .i_3 {
	width: 24px;
	height: 17px;
	background-position: -289px 0px;
}
#md_idx_polymeric .prod_list a.active .i_3,#md_idx_polymeric .prod_list a:hover .i_3{
	background: url(hover_sprite.png)/*tpa=http://www.jinfuzi.com/static/img/common/hover_sprite.png*/ no-repeat -10px -40px;
}
#md_idx_polymeric .prod_list .i_4 {
	width: 24px;
	height: 24px;
	background-position: -351px 0px;
}
#md_idx_polymeric .prod_list a.active .i_4,#md_idx_polymeric .prod_list a:hover .i_4{
	background: url(hover_sprite.png)/*tpa=http://www.jinfuzi.com/static/img/common/hover_sprite.png*/ no-repeat -10px -70px;
}
#md_idx_polymeric .prod_list .i_5 {
	width: 24px;
	height: 20px;
	background-position: -320px 0px;
}
#md_idx_polymeric .prod_list a.active .i_5,#md_idx_polymeric .prod_list a:hover .i_5{
	background: url(hover_sprite.png)/*tpa=http://www.jinfuzi.com/static/img/common/hover_sprite.png*/ no-repeat -10px -10px;
}
#md_idx_polymeric .prod_list .i_arrow{
	width:6px;
	height:9px;
	display:none;
	background: url(arrow.png)/*tpa=http://www.jinfuzi.com/static/img/common/arrow.png*/ no-repeat ;
	position: absolute;
	right: 12px;
	top: 25px;
}
#md_idx_polymeric .prod_list li a.active .i_arrow{
	display: inline-block;
	*display:inline;
	*zoom:1;
}
#md_idx_polymeric .info1 {
	height: 48px;
	position: relative;
}
#md_idx_polymeric .info1_wrap {
	width: 253px; height: 48px;
	position: absolute;
	left: 0; top:-1px;
}
#md_idx_polymeric .info1 a {
	width: 126px;
	height: 49px;
	color: #FFF;
	line-height: 48px;
	font-size:14px;
	text-align: center;
	text-indent: 30px;
	float: left;
}
#md_idx_polymeric .info1 a:hover {
	text-decoration: none;
}
#md_idx_polymeric .info1 .user_login {
	background-color: #2B8CC9;
	margin-right: 1px;
}
#md_idx_polymeric .info1 .user_login:hover{
	background-color:#257BB4;
}
#md_idx_polymeric .info1 .user_register {
	background-color: #FF7200;
}
#md_idx_polymeric .info1 .user_register:hover{
	background-color:#D93600;	
}
#md_idx_polymeric .info1 i {
	width: 23px;
	height: 23px;
	position: absolute;
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat;
}
#md_idx_polymeric .info1 .i_login {
	top: 12px;
	left: 30px;
	background-position: -390px -1px;
}
#md_idx_polymeric .info1 .i_register {
	top: 12px;
	left: 145px;
	background-position: -420px -1px;
}
#md_idx_polymeric .info2 {
	height: 41px;
	line-height: 42px;
	background-color: #EFEFEF;
	border-bottom:1px solid #E3E5E5;
	position: relative;
}
#md_idx_polymeric .info2 .i_user {
	width: 19px;
	height: 19px;
	position: absolute;
	top: 12px;
	left: 12px;
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat -450px -1px;
	
}
#md_idx_polymeric .info2 h2 {
	text-indent: 40px;
	color: #2076AE;
	font-size:14px;
	font-family: '微软雅黑';
}
#md_idx_polymeric .info3 {
	height: 55px;
	background-color: #F8F8F8;
	color: #C7C7CA;
	vertical-align: middle;
}
#md_idx_polymeric .info3 a {
	margin: 15px;
	color: #1F76AC;
}
#md_idx_polymeric .info3 a:hover{
	color: #f60;
}
#md_idx_polymeric .info4 {
	height: 127px;
	background-color: #F4F4F4;
}
#md_idx_polymeric .info4 .info_list li {
	width: 124px;
	height: 62px;
	position: relative;
	float: left;
	border: 1px solid #E3E5E5;
}
#md_idx_polymeric .info4 .info_list .unit{
	color:#999;
}
#md_idx_polymeric .info4 .info_list .num {
	color: #FF7200;
	margin-right: 2px;
	font-weight: normal;
}
#md_idx_polymeric .info4 .info_list .info_p {
	margin-left: 60px;
	margin-top: 13px;
}
#md_idx_polymeric .info4 .info_list .i_com {
	position: absolute;
	left: 10px;
	top: 15px;
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat;
}
#md_idx_polymeric .info4 .info_list .i1 {
	width: 40px;
	height: 31px;
	background-position: -480px 0px;
}
#md_idx_polymeric .info4 .info_list .i2 {
	width: 48px;
	height: 29px;
	background-position: -532px 0px;
}
#md_idx_polymeric .info4 .info_list .i3 {
	width: 35px;
	height: 31px;
	background-position: -592px -1px;
}
#md_idx_polymeric .info4 .info_list .i4 {
	width: 42px;
	height: 32px;
	background-position: -629px -1px;
}
#md_idx_polymeric .info4 .info_list .li1 {
	border-right: none;
	width: 125px;
}
#md_idx_polymeric .info4 .info_list .li2 {
}
#md_idx_polymeric .info4 .info_list .li3 {
	border-bottom: none;
	border-top: none;
	border-right: none;
	width: 125px;
}
#md_idx_polymeric .info4 .info_list .li4 {
	border-bottom: none;
	border-top: none;
}
#md_idx_polymeric .jingli_wrap {
	height: 174px;
	background-color: #F6F6F6;
	border-bottom: 1px solid #CCC;
}
#md_idx_polymeric .auth {
	height: 272px;
}
#md_idx_polymeric .jingli_wrap .jingli {
	height: 110px;
	border: 1px solid #E3E5E5;
}
#md_idx_polymeric .jingli_wrap .links_wrap {
	height: 63px;
}
#md_idx_polymeric .auth .info3 {
	border-bottom: 1px solid #E3E5E5;
}
#md_idx_polymeric .jingli_wrap .jingli_photo {
	margin-top: 10px;
	margin-left: 20px;
}
#md_idx_polymeric .jingli_wrap .jingli_info {
	margin-top: 10px;
	margin-left: 10px;
}
#md_idx_polymeric .jingli_wrap .duty {
	margin-top: 20px;
}
#md_idx_polymeric .jingli_wrap .duty .duty_link {
	margin-right: 10px;
	padding: 5px;
	background-color: #EFEFEF;
	border: 1px solid #CCC;
}
#md_idx_polymeric .jingli_wrap .links_wrap .links {
	padding-top: 10px;
	padding-left: 20px;
}
#md_idx_polymeric .jingli_wrap .links_wrap .links a {
	width: 100px;
	height: 40px;
	line-height: 40px;
	margin-right: 10px;
	text-indent: 40px;
	color: #FFF;
}
#md_idx_polymeric .jingli_wrap .links_wrap .links a.q {
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat 0 -380px;
}
#md_idx_polymeric .jingli_wrap .links_wrap .links a.a {
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat 0 -430px;
}

#md_idx_polymeric .po_list {
	background-color: #F9F9F9;
}
#md_idx_polymeric .po_list li {
	width: 248px;
	height: 82px;
	border-right: 1px solid #E3E5E5;
	position: relative;
	float: left;
	background:url(bg_repeat.png)/*tpa=http://www.jinfuzi.com/static/img/common/bg_repeat.png*/ repeat-x;
	*height:80px;
}
#md_idx_polymeric .po_list li.last {
	border-right: none;
	width: 251px;
}
#md_idx_polymeric .po_list .list_p {
	margin-top: 20px;
	margin-left: 80px;
}
#md_idx_polymeric .po_list .i_com {
	width: 33px;
	height: 33px;
	position: absolute;
	top: 25px;
	left: 35px;
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat;
}
#md_idx_polymeric .po_list .i1 {
	background-position: -671px 0px;
}
#md_idx_polymeric .po_list .i2 {
	background-position: -709px 0px;
}
#md_idx_polymeric .po_list .i3 {
	background-position: -748px 0px;
}
#md_idx_polymeric .po_list .i4 {
	background-position: -790px 0px;
}
#md_idx_polymeric .po_list .fz_big {
	font-size: 14px;
	color: #525252;
}
#md_idx_polymeric .po_list .c_grey {
	color: #B4B4B4;
}
/*热门产品模块*/
#md_idx_poar_prod {
	margin-top: 25px;
}
#md_idx_poar_prod .poar_cnt {
	height: 380px;
	border: 1px solid #aaa;
	border-top:1px solid #E3E5E5;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,.2);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,.2);
	box-shadow:1px 1px 2px rgba(0,0,0,.2);
}
#md_idx_poar_prod .prod_sear {
	width: 248px;
}
#md_idx_poar_prod .prod_title {
	width: 248px;
	height: 38px;
	border-bottom: 2px solid #F76201;
	background-color: #F4F4F4;
	position: relative;
}
#md_idx_poar_prod .i_title {
	width: 270px;
	height: 60px;
	line-height: 45px;
	font-size: 16px;
	font-family: '微软雅黑';
	text-indent: 90px;
	position: absolute;
	top: -12px;
	left: -11px;
	color: #FFF;
	font-style: normal;
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat 1px -50px;
}
#md_idx_poar_prod .prod_sear .prod_more {
	height: 40px;
	line-height: 40px;
	background-color: #F4F4F4;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
}
#md_idx_poar_prod .i_search {
	width: 16px;
	height: 16px;
	margin: 0 5px;
	vertical-align: middle;
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat -831px -2px;
	_position: relative;
}
#md_idx_poar_prod .lab_sear {
	font-size: 14px;
	margin-left: 10px;
	font-weight: normal;
	font-family: '微软雅黑';
	color: #1F76AC;
}
#md_idx_poar_prod .i_more {
	width: 14px;
	height: 14px;
	vertical-align: -4px;
	margin-right:3px;
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat -853px -2px;
	*vertical-align: -1px;
}
#md_idx_poar_prod .link_more {
	margin-right: 10px;
}
#md_idx_poar_prod .condition_cnt {
	border-right: 1px solid #CCC;
}
#md_idx_poar_prod .condition {
	margin-bottom: 1px;
	background-color: #FAFAFA;
	border-bottom: 1px solid #E6E6E6;
	overflow: hidden;
}
#md_idx_poar_prod .condition_cnt .last{
	margin-bottom: 0px;
}
#md_idx_poar_prod .condition .cond_lb {
	width: 20px;
	color: #FFF;
	padding: 5px;
	background-color: #A7C1E7;
	text-align: center;
	position: relative;
}
#md_idx_poar_prod .condition .simu_lb {
	width: 24px;
}
#md_idx_poar_prod .cond_link {
	margin-top: 10px;
}
#md_idx_poar_prod .last .cond_link {
	margin-top: 5px;
	margin-left:10px
}
#md_idx_poar_prod .cond_link a {
	margin-left: 5px;
	font-size: 12px;
	color:#525252;
	white-space: nowrap;
}
#md_idx_poar_prod .cond_link a:hover{
	color: #f60;
}
#md_idx_poar_prod .cond_link .search-box {
	margin: -3px 10px 0px 42px;
	background-color: #fafafa;
	height: 30px;
}
#md_idx_poar_prod .cond_link .search-input {
	width: 118px;
	float: left;
	padding: 6px;
	height: 16px;
	line-height: 16px;
	border: 1px solid #C7C7C7;
	background-color: #FFF;
	color: #999;
	margin-right: -1px;
	_padding-left: 0;
	_margin-left: -3px;
}
#md_idx_poar_prod .cond_link .search-button {
	width: 56px;
	float: left;
	border-left: #d9d9d9 1px solid;
	text-align: center;
	height: 30px;
	cursor: pointer;
	line-height: 30px;
	text-decoration: none;
	color: #FFF;
	background-color: #2B8CC9;
	margin: 0px;
}
#md_idx_poar_prod .tuijian {
	height: 73px;
	background-color: #ECECEC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}
#md_idx_poar_prod .tuijian img{
	width: 247px;
}
#md_idx_poar_prod .jieshao {
	height: 82px;
	background-color: #FFFFFF;
	border-right: 1px solid #CCC;
}
#md_idx_poar_prod .jieshao .js_p {
	height: 100%;
	width: 81px;
	border-right: 1px solid #E6E6E6;
	_overflow: hidden;
}
#md_idx_poar_prod .jieshao .lastp {
	border-right: none;
}
#md_idx_poar_prod .jieshao .i_com {
	width: 43px;
	height: 33px;
	margin: 10px 20px;
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat;
}
#md_idx_poar_prod .jieshao .i1 {
	background-position: -870px 0px;
}
#md_idx_poar_prod .jieshao .i2 {
	background-position: -913px 0px;
}
#md_idx_poar_prod .jieshao .i3 {
	background-position: -951px 0px;
}
#md_idx_poar_prod .jieshao span {
	margin-left: 30px;
	color: #7F7F7F;
}
#md_idx_poar_prod .prod_list {
	width: 752px;
}
#md_idx_poar_prod .nav_list_cnt {
	width: 752px;
	height: 38px;
	background-color: #F7F7F7;
	border-bottom: 2px solid #F76201;
}
#md_idx_poar_prod .nav_list li {
	width: 100px;
	height: 38px;
	line-height: 38px;
	color: #DBDDDC;
	float: left;
	text-align: center;
}
#md_idx_poar_prod .nav_list li.on {
	background: url(nav_bg.png)/*tpa=http://www.jinfuzi.com/static/img/common/nav_bg.png*/ no-repeat bottom center;
	text-indent: 5px;
}
#md_idx_poar_prod .nav_list li a {
	font-size: 14px;
	font-family: '宋体';
	color:#525252;
	margin: 0 15px;
}
#md_idx_poar_prod .nav_list li a:hover{
	color: #FF6600;
}
#md_idx_poar_prod .nav_list li.on a {
	color: #FF6600;
	font-size: 14px;
	font-weight: bolder;
}
#md_idx_poar_prod .nav_list li a:hover {
	text-decoration: none;
}
#md_idx_poar_prod .nav_cont_cnt {
	height: 257px;
	border-bottom: 1px solid #CCC;
	overflow: hidden;
}
#md_idx_poar_prod .nav_flow {
	height: 82px;
	background-color: #FFF;
	background: url(bg_repeat.png)/*tpa=http://www.jinfuzi.com/static/img/common/bg_repeat.png*/ repeat-x;
	overflow: hidden;
}
#md_idx_poar_prod .nav_flow .bank_index{
	width: 752px;
}
#md_idx_poar_prod .xintuo_list li {
	width: 375px;
	height: 129px;
	float: left;
	background-color: #FFFFFF;
}
#md_idx_poar_prod .xintuo_list li.hover{
	background-color:#F7F7F7;
}
#md_idx_poar_prod .xintuo_list .li2, #md_idx_poar_prod .xintuo_list .li4 {
	width: 376px;
}
#md_idx_poar_prod .xintuo_list .li1, #md_idx_poar_prod .xintuo_list .li2 {
	border-bottom: 1px solid #E6E6E6;
}
#md_idx_poar_prod .xintuo_list .li1, #md_idx_poar_prod .xintuo_list .li3 {
	border-right: 1px solid #E6E6E6;
}
#md_idx_poar_prod .beijing {
	width: 100px;
	line-height: 2;
	margin-top: 15px;
	margin-left: 15px;
}
#md_idx_poar_prod .beijing .bj_txt {
	width: 80px;
	height: 26px;
	text-align: center;
	color: #FFF;
	background-color: #A7C1E7;
}
#md_idx_poar_prod .beijing .shouyi {
	width: 80px;
	height: 40px;
	background-color: #EFEFEF;
	color: #FF8000;
	text-align: center;
	font-size: 18px;
	font-weight: bolder;
}
#md_idx_poar_prod .beijing .order {
	width: 80px;
	height: 28px;
	line-height: 28px;
	background-color: #FF8000;
	color: #FFF;
	text-align: center;
}
#md_idx_poar_prod .beijing .order:hover{
	background: #D93600;
}
#md_idx_poar_prod .project {
	width: 235px;
	margin-top: 15px;
}
#md_idx_poar_prod .project .proj_cnt {
	line-height: 2;
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dashed #CCC;
}
#md_idx_poar_prod .proj_cnt .proj_name {
	color: #1F76AC;
}
#md_idx_poar_prod .proj_cnt .proj_name:hover{
	color:#F60;
}
#md_idx_poar_prod .proj_cnt .song {
	background-color: #FF8000;
	color: #FFF;
	margin-left: 5px;
	padding: 2px;
}
#md_idx_poar_prod .proj_cnt .proj_sy, #md_idx_poar_prod .proj_cnt .proj_mk {
	color: #999;
}
#md_idx_poar_prod .proj_cnt .proj_sy {
	margin-right: 10px;
}
#md_idx_poar_prod .proj_cnt .proj_b {
	color: #FF8000;
}
#md_idx_poar_prod .ping_txt {
	color: #999;
	margin-right: 5px;
}
#md_idx_poar_prod .ping_cont {
	color: #525252;
}
#md_idx_poar_prod .nav_flow .nav_flow_list li {
	width: 188px;
	float: left;
	position: relative;
}
#md_idx_poar_prod .nav_flow .p2p_list li {
	padding-right: 90px;
}
#md_idx_poar_prod .nav_flow .p2p_list li.last{
	padding-right:0;
}
#md_idx_poar_prod .nav_flow_list .i_com {
	width: 48px;
	height: 42px;
	top: 25px;
	left: 10px;
	position: absolute;
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat;
}
#md_idx_poar_prod .nav_flow_list .i_flow {
	width: 57px;
	height: 30px;
	top: 13px;
	right: -5px;
	position: absolute;
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat -494px -50px;
}
#md_idx_poar_prod  .p2p_list .i_flow{
	right:30px;
}
#md_idx_poar_prod .nav_flow_list .i1 {
	background-position: -280px -50px;
}
#md_idx_poar_prod .nav_flow_list .i2 {
	background-position: -331px -52px;
}
#md_idx_poar_prod .nav_flow_list .i3 {
	background-position: -388px -51px;
}
#md_idx_poar_prod .nav_flow_list .i4 {
	background-position: -439px -51px;
}
#md_idx_poar_prod .p2p_list .i1{
	wdith:50px;
	height:44px;
	background: url(sp2.png)/*tpa=http://www.jinfuzi.com/static/img/common/sp2.png*/ no-repeat 0 0;
}
#md_idx_poar_prod .p2p_list .i2{
	width:37px;
	height:37px;
	background: url(sp2.png)/*tpa=http://www.jinfuzi.com/static/img/common/sp2.png*/ no-repeat -98px 0;
}
#md_idx_poar_prod .p2p_list .i3{
	width:46px;
	height:40px;
	background: url(sp2.png)/*tpa=http://www.jinfuzi.com/static/img/common/sp2.png*/ no-repeat -51px 0;
}
#md_idx_poar_prod .nav_flow_list .list_p {
	margin-top: 25px;
	margin-left: 65px;
}
#md_idx_poar_prod .nav_flow_list .list_p .flow_name {
	font-size: 14px;
	color: #525252;
}
#md_idx_poar_prod .nav_flow_list .list_p .flow_txt {
	color: #B4B4B4;
}
/*业务办理模块*/
#md_idx_sers_bat {
	margin-top: 25px;
}
#md_idx_sers_bat .bat_cnt {
	height: 440px;
	border: 1px solid #aaa;
	border-top:1px solid #E3E5E5;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,.2);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,.2);
	box-shadow:1px 1px 2px rgba(0,0,0,.2);
}
#md_idx_sers_bat .bat_sear {
	width: 248px;
}
#md_idx_sers_bat .bat_list {
	width: 752px;
}
#md_idx_sers_bat .bat_title {
	width: 248px;
	height: 38px;
	border-bottom: 2px solid #257BB4;
	background-color: #F4F4F4;
	position: relative;
}
#md_idx_sers_bat .i_title {
	width: 270px;
	height: 60px;
	line-height: 45px;
	font-size: 16px;
	font-family: '微软雅黑';
	text-indent: 90px;
	position: absolute;
	top: -12px;
	left: -11px;
	color: #FFF;
	font-style: normal;
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat 1px -110px;
}
#md_idx_sers_bat .bat_sear .prod_more {
	height: 40px;
	line-height: 40px;
	background-color: #F4F4F4;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
}
#md_idx_sers_bat .prod_more .lab_sear {
	font-size: 14px;
	margin-left: 10px;
	font-weight: normal;
	font-family: '微软雅黑';
	color: #1F76AC;
}
#md_idx_sers_bat .prod_more .i_search {
	width: 16px;
	height: 16px;
	margin: 0 5px;
	vertical-align: middle;
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat -831px -2px;
}
#md_idx_sers_bat .tj_reson {
	height: 276px;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	background-color: #FAFAFA;
}
#md_idx_sers_bat .tj_reson .tj_list li {
	border-bottom: 1px solid #E6E6E6;
	position:relative;
	padding:10px 0;
}
#md_idx_sers_bat .waihui_tuijian .tj_list li {
	padding: 13px 0;
}
#md_idx_sers_bat .tj_reson .tj_list li.last{
	border-bottom: none;
}
#md_idx_sers_bat .waihui_tuijian li.last {
	border-bottom: none;
}
#md_idx_sers_bat .tj_reson .tj_list .cl_red {
	color: #FF6600;
	margin-left:10px;
}
#md_idx_sers_bat .tj_reson .tj_list .cl_grey {
	color: #999;
}
#md_idx_sers_bat .prod_more .i_baiyin {
	width: 24px;
	height: 21px;
	margin: 0 5px;
	vertical-align: middle;
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat -890px -110px;
}
#md_idx_sers_bat .prod_more .i_waihui {
	width: 23px;
	height: 17px;
	margin: 0 5px;
	vertical-align: middle;
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat -160px -390px;
}
#md_idx_sers_bat .bat_sear .sear_cnt {
	height: 100px;
	background-color: #FAFAFA;
	border-right: 1px solid #CCC;
	z-index:100;
	position: relative;
}
#md_idx_sers_bat .bat_sear .tuijian {
	height: 175px;
	overflow: hidden;
	background-color: #ECECEC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #CCC;
	position: relative;
	z-index: 99;
}
#md_idx_sers_bat .bat_sear .tuijian img{
	_width:247px;
	_height:175px;
}
#md_idx_sers_bat .bat_sear .tuijian .qh_help_list {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #2B8CC9;
	font-size: 13px;
}
#md_idx_sers_bat .bat_sear .tuijian .qh_help_list a{
	color: #2B8CC9;
	font: 13px/2 '微软雅黑';
}
#md_idx_sers_bat .bat_sear .tuijian .qh_help_list a:hover{
	color: #f60;
}
#md_idx_sers_bat .bat_sear .tuijian .qh_jieshao {
	position: absolute;
	left: 10px;
	bottom: 10px;
	color:#414141;
	font-family: '微软雅黑';
}
#md_idx_sers_bat .bat_sear .tuijian .xq_tj {
	position: absolute;
	bottom: 10px;
	right: 10px;
	padding: 5px 10px;
	background-color: #2B8CC9;
	color: #FFF;
}
#md_idx_sers_bat .bat_sear .jieshao {
	height: 82px;
	background-color: #FFF;
	border-right: 1px solid #CCC;
}
#md_idx_sers_bat .jieshao .js_p {
	height: 100%;
	width: 81px;
	border-right: 1px solid #E6E6E6;
}
#md_idx_sers_bat .jieshao .i_com {
	width: 32px;
	height: 32px;
	margin-top: 15px;
	margin-left: 20px;
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat;
}
#md_idx_sers_bat .jieshao .i1 {
	background-position: -560px -50px;
}
#md_idx_sers_bat .jieshao .i2 {
	background-position: -600px -50px;
}
#md_idx_sers_bat .jieshao .i3 {
	background-position: -640px -50px;
}
#md_idx_sers_bat .jieshao span {
	margin-left: 25px;
	color: #7F7F7F;
}
#md_idx_sers_bat .jieshao .lastp {
	border-right: none;
}
#md_idx_sers_bat .sear_cnt .sel_cnt {
	width: 130px;
	height: 28px;
	margin: 5px 0;
	border: 1px solid #C7C7C7;
	vertical-align: middle;
	position: relative;
}
#md_idx_sers_bat .sear_cnt .cmd_wrap .cmd_con{display: none;}
#md_idx_sers_bat .sear_cnt .cmd_wrap.active .cmd_con{display: block;}
#md_idx_sers_bat .sear_cnt .city_sel {
	width: 100px;
	border: none;
	background:#FFF;
	height: 28px;
	text-indent: 5px;
	line-height:30px;
	_width:90px;
}
#md_idx_sers_bat .sear_cnt .i_arrow {
	width: 30px;
	height: 28px;
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat -680px -50px;
}
#md_idx_sers_bat .sear_cnt .sear_form {
	padding:30px 10px;
}
#md_idx_sers_bat .sear_cnt .sear_sub {
	width: 80px;
	height: 30px;
	line-height: 30px;
	margin-left: 5px;
	background-color: #FF8000;
	color: #FFF;
	text-align: center;
	vertical-align: middle;
}
#md_idx_sers_bat .sear_cnt .sear_sub:hover{
	background: #D93600;
}
#md_idx_sers_bat .nav_list_cnt {
	width: 752px;
	height: 38px;
	background-color: #F7F7F7;
	border-bottom: 2px solid #257BB4;
}
#md_idx_sers_bat .nav_list_cnt .nav_list li {
	width: 100px;
	height: 38px;
	line-height: 38px;
	color: #DBDDDC;
	float: left;
	text-align: center;
}
#md_idx_sers_bat .nav_list_cnt li a {
	font-size: 14px;
	color:#525252;
	margin: 0 15px;
}
#md_idx_sers_bat .nav_list_cnt li a:hover{
	color: #f60;
}
#md_idx_sers_bat .nav_list_cnt .nav_list li.on {
	background: url(nav_bg1.png)/*tpa=http://www.jinfuzi.com/static/img/common/nav_bg1.png*/ no-repeat bottom center;
}
#md_idx_sers_bat .nav_list_cnt .nav_list li.on a {
	color: #FF6600;
	font-weight: bolder;
}
#md_idx_sers_bat .nav_cont_cnt {
	height: 317px;
	border-bottom: 1px solid #CCC;
	background-color: #FFF;
	overflow: hidden;
}
#md_idx_sers_bat .nav_cont_cnt .com_list li {
	width: 187px;
	height: 158px;
	float: left;
	border-right: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
}
#md_idx_sers_bat .nav_cont_cnt .com_list li:hover{
	background:#F7F7F7;
}
#md_idx_sers_bat .com_list p {
	text-align: center;
	margin-bottom: 5px;
}
#md_idx_sers_bat .com_list .ser_name a{
	color: #1F76AC;
}
#md_idx_sers_bat .com_list .ser_name a:hover{
	color:#f60;
}
#md_idx_sers_bat .com_list .ser_img {
	margin-top: 15px;
	position: relative;
}
#md_idx_sers_bat .com_list .ser_img .i_free {
	width: 44px;
	height: 21px;
	position: absolute;
	right: 3px;
	top: 0px;
	background: url(free.png)/*tpa=http://www.jinfuzi.com/static/img/common/free.png*/ no-repeat;
	font-style: normal;
	color:#FFF;
	text-align:center;
}
#md_idx_sers_bat .com_list .ser_img img {
	width: 85px;
	height: 85px;
}
#md_idx_sers_bat .nav_cont_cnt .com_list li.no_b_r {
	width: 188px;
	border-right: none;
}
#md_idx_sers_bat .nav_cont_cnt .baiyin_wrap {
}
#md_idx_sers_bat .nav_cont_cnt .baiyin_wrap .kaifu_now {
	width: 177px;
	height: 47px;
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat 0px -320px;
	position: absolute;
	bottom: 55px;
	right: 110px;
}
#md_idx_sers_bat .nav_flow {
	height: 82px;
	overflow: hidden;
	background-color: #FFF;
	background: url(bg_repeat.png)/*tpa=http://www.jinfuzi.com/static/img/common/bg_repeat.png*/ repeat-x;
}
#md_idx_sers_bat .nav_flow .nav_flow_list {
	height: 100%;
}
#md_idx_sers_bat .nav_flow .nav_flow_list li {
	height: 100%;
	padding-right:90px;
	float: left;
	position: relative;
}
#md_idx_sers_bat .nav_flow .nav_flow_list li.last{
	padding-right:0;
}
#md_idx_sers_bat .nav_flow_list .i_com {
	width: 41px;
	height: 41px;
	top: 25px;
	left: 20px;
	position: absolute;
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat;
}
#md_idx_sers_bat .nav_flow_list .i1 {
	background-position: -278px -109px;
}
#md_idx_sers_bat .nav_flow_list .i2 {
	background-position: -330px -109px;
}
#md_idx_sers_bat .nav_flow_list .i3 {
	background-position: -378px -109px;
}
#md_idx_sers_bat .nav_flow_list .list_p {
	margin-top: 35px;
	margin-left: 70px;
}
#md_idx_sers_bat .nav_flow_list .list_p .flow_name {
	font-size: 14px;
	color: #525252;
}
#md_idx_sers_bat .nav_flow_list .i_flow {
	width: 57px;
	height: 30px;
	top: 13px;
	right: 10px;
	position: absolute;
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat -494px -50px;
}
#md_idx_sers_bat .nav_flow .baiyin_flow li {
	width: auto;
	padding-right:60px;
	float: left;
	position: relative;
}
#md_idx_sers_bat .nav_flow .waihui_flow li {
	width: auto;
	padding-right:50px;
	float: left;
	position: relative;
}
#md_idx_sers_bat .nav_flow .baiyin_flow li.last {
	padding-right:0;
}
#md_idx_sers_bat .nav_flow .waihui_flow li.last {
	padding-right:0;
}
#md_idx_sers_bat .nav_flow .baiyin_flow .i_flow{
	right: -5px;
}
#md_idx_sers_bat .nav_flow .waihui_flow .i_flow{
	right: -10px;
}
#md_idx_sers_bat .nav_flow .baiyin_flow .i1 {
	width: 46px;
	height: 35px;
	background-position: -190px -320px;
}
#md_idx_sers_bat .nav_flow .baiyin_flow .i2 {
	width: 39px;
	height: 39px;
	background-position: -250px -320px;
}
#md_idx_sers_bat .nav_flow .baiyin_flow .i3 {
	width: 38px;
	height: 38px;
	background-position: -300px -320px;
}
#md_idx_sers_bat .nav_flow .baiyin_flow .i4 {
	width: 43px;
	height: 43px;
	background-position: -250px -320px;
}

#md_idx_sers_bat .nav_flow .waihui_flow .i1 {
	width: 38px;
	height: 38px;
	background-position: -200px -380px;
}
#md_idx_sers_bat .nav_flow .waihui_flow .i2 {
	width: 37px;
	height: 37px;
	background-position: -250px -380px;
}
#md_idx_sers_bat .nav_flow .waihui_flow .i3 {
	width: 43px;
	height: 41px;
	background-position: -300px -380px;
}
#md_idx_sers_bat .nav_flow .waihui_flow .i4 {
	width: 38px;
	height: 38px;
	background-position: -350px -380px;
}
/*理财攻略模块*/
#md_idx_mony_bat {
	margin-top: 25px;
}

#md_idx_mony_bat .bat_cnt {
	height: 420px;
	border: 1px solid #aaa;
	border-top:1px solid #E3E5E5;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,.2);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,.2);
	box-shadow:1px 1px 2px rgba(0,0,0,.2);
}
#md_idx_mony_bat .mony_sear {
	width: 248px;
	height: 100%;
}
#md_idx_mony_bat .mony_sear .bat_title {
	height: 38px;
	border-bottom: 2px solid #2B8CC9;
	background-color: #F4F4F4;
	position: relative;
}

#md_idx_mony_bat .mony_sear .i_title {
	width: 270px;
	height: 60px;
	line-height: 45px;
	font-size: 16px;
	font-family: '微软雅黑';
	text-indent: 90px;
	position: absolute;
	top: -12px;
	left: -11px;
	color: #FFF;
	font-style: normal;
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat 1px -170px;
}
#md_idx_mony_bat .mony_sear .prod_more {
	height: 40px;
	line-height: 40px;
	background-color: #F4F4F4;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
}
#md_idx_mony_bat .mony_sear .lab_sear {
	font-size: 14px;
	margin-left: 10px;
	font-weight: normal;
	font-family: '微软雅黑';
	color: #1F76AC;
}
#md_idx_mony_bat .mony_sear .i_search {
	width: 16px;
	height: 16px;
	margin: 0 5px;
	vertical-align: middle;
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat -831px -2px;
}
#md_idx_mony_bat .mony_cnt {
	height: 175px;
	background-color: #FAFAFA;
	border-right: 1px solid #CCC;
	overflow: hidden;
}
#md_idx_mony_bat .mony_cnt .link_list li {
	width: 81px;
	height: 34px;
	border-right: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	float: left;
}
#md_idx_mony_bat .mony_cnt .link_list li.active {
	background-color: #A7C1E7;
	color: #FFF;
}
#md_idx_mony_bat .mony_cnt .link_list li a {
	width: 100%;
	height: 100%;
	color:#525252;
	text-align: center;
	line-height: 34px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
#md_idx_mony_bat .mony_cnt .link_list li a:hover{
	background-color: #A7C1E7;
	color: #FFF;
}
#md_idx_mony_bat .mony_cnt .link_list li.active a {
	color: #FFF;
}
#md_idx_mony_bat .mony_cnt .link_list .i_more {
	width: 14px;
	height: 14px;
	vertical-align: -2px;
	*vertical-align: -1px;
	margin-right:3px;
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat -853px -2px;
}
#md_idx_mony_bat .mony_cnt .link_list li.special_W {
	width: 83px;
	border-right:none;
}
#md_idx_mony_bat .consult {
	height: 83px;
	background-color: #F8F8F8;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}
#md_idx_mony_bat .consult .con_p1 {
	padding-left: 10px;
	padding-top: 10px;
	font-size: 14px;
	color: #666;
	margin-bottom: 5px;
}
#md_idx_mony_bat .con_p1 .i_ask {
	width: 24px;
	height: 24px;
	vertical-align: middle;
	margin-right: 5px;
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat -481px -110px;
}
#md_idx_mony_bat .con_p1 .ask_txt b {
	color: #F60;
	font-size: 16px;
	margin: 0 2px;
}
#md_idx_mony_bat .consult .con_p2 {
	text-align: right;
	margin-right: 25px;
}
#md_idx_mony_bat .con_p2 .ask_now {
	width: 100px;
	height: 30px;
	line-height: 30px;
	color: #FFF;
	background: #FF8000;
	text-align: center
}
#md_idx_mony_bat .jieshao {
	height: 80px;
	background-color: #FFF;
	border-right: 1px solid #CCC;
}
#md_idx_mony_bat .jieshao .js_p {
	height: 100%;
	width: 81px;
	border-right: 1px solid #E6E6E6;
}
#md_idx_mony_bat .jieshao .lastp {
	width: 82px;
	border-right: none;
}
#md_idx_mony_bat .jieshao .i_com {
	width: 36px;
	height: 36px;
	margin-top: 15px;
	margin-left: 20px;
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat;
}
#md_idx_mony_bat .jieshao .i1 {
	background-position: -756px -50px;
}
#md_idx_mony_bat .jieshao .i2 {
	background-position: -798px -50px;
}
#md_idx_mony_bat .jieshao .i3 {
	background-position: -840px -50px;
}
#md_idx_mony_bat .jieshao span {
	margin-left: 25px;
	color: #7F7F7F;
}
#md_idx_mony_bat .mony_list {
	width: 752px;
	height: 100%;
}
#md_idx_mony_bat .nav_list_cnt {
	height: 38px;
	background-color: #F7F7F7;
	border-bottom: 2px solid #2B8CC9;
}
#md_idx_mony_bat .nav_list li {
	width: 100px;
	height: 38px;
	line-height: 38px;
	color: #DBDDDC;
	float: left;
}
#md_idx_mony_bat .nav_list li a {
	font-size: 14px;
	margin: 0 15px;
}
#md_idx_mony_bat .nav_list li.on {
	background: url(nav_bg2.png)/*tpa=http://www.jinfuzi.com/static/img/common/nav_bg2.png*/ no-repeat bottom center;
}
#md_idx_mony_bat .nav_cont_cnt {
	height: 299px;
	border-bottom: 1px solid #CCC;
	background-color: #FFF;
	overflow: hidden;
}
#md_idx_mony_bat .nav_cont_cnt .cont_lt {
	width: 300px;
	height: 100%;
}
#md_idx_mony_bat .cont_lt .tj {
	width: 300px;
	height: 215px;
	overflow: hidden;
}
#md_idx_mony_bat .cont_lt .ask {
	border-top: 1px solid #E6E6E6;
}
#md_idx_mony_bat .cont_lt .ask p {
	margin-left: 10px;
	margin-top: 5px;
}
#md_idx_mony_bat .cont_lt .ask p.que {
	font-size: 14px;
	font-weight:bolder;
	color: #1F76AC;
}
#md_idx_mony_bat .cont_lt .ask p.anw {
	color: #525252;
}
#md_idx_mony_bat .cont_lt .ask .more {
	color: #1F76AC;
}
#md_idx_mony_bat .cont_lt .ask .more:hover{
	color: #F60;
}
#md_idx_mony_bat .nav_cont_cnt .cont_rt {
	width: 451px;
	height: 100%;
	border-left: 1px solid #CCC;
}
#md_idx_mony_bat .cont_rt .rt_list li {
	width: 224px;
	height: 149px;
	position:relative;
	float: left;
	border-right: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	*height:148px;
}
#md_idx_mony_bat .cont_rt .rt_list li.special_W {
	border-right: none;
	margin-left:1px;
}
#md_idx_mony_bat .cont_rt .img_cnt {
	width: 225px;
	height: 148px;
	overflow: hidden;
	text-align: center;
	_width:224px;
}
#md_idx_mony_bat .cont_rt .img_cnt img{
	width: 225px;
	height: 148px;
	_width:224px;
}
#md_idx_mony_bat .cont_rt .ask_cnt .ask {
	display:none;
	height: 26px;
	line-height: 26px;
	text-align: center;
	width: 225px;
	color: #FFF;
	background:rgba(167,193,231,0.8);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#CCA7C1E7',EndColorStr='#CCA7C1E7');
	position: absolute;
	bottom: 0;
	left: 0;
}
:root #md_idx_mony_bat .cont_rt .ask_cnt .ask{
	filter: none;
}
#md_idx_mony_bat .nav_flow {
	height: 80px;
	background-color: #FFF;
	background: url(bg_repeat.png)/*tpa=http://www.jinfuzi.com/static/img/common/bg_repeat.png*/ repeat-x;
}
#md_idx_mony_bat .nav_flow_list li {
	float: left;
	position: relative;
	padding-right:90px;
}
#md_idx_mony_bat .nav_flow_list li.last{
	padding-right:0;
}
#md_idx_mony_bat .nav_flow_list .i_com {
	width: 43px;
	height: 38px;
	top: 25px;
	left: 20px;
	position: absolute;
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat;
}
#md_idx_mony_bat .nav_flow_list .i1 {
	background-position: -505px -110px;
}
#md_idx_mony_bat .nav_flow_list .i2 {
	background-position: -550px -110px;
}
#md_idx_mony_bat .nav_flow_list .i3 {
	background-position: -601px -110px;
}
#md_idx_mony_bat .nav_flow_list .list_p {
	margin-top: 35px;
	margin-left: 75px;
}
#md_idx_mony_bat .nav_flow_list .flow_name {
	font-size: 14px;
	color: #525252;
}
#md_idx_mony_bat .nav_flow_list .i_flow {
	width: 57px;
	height: 30px;
	top: 13px;
	right: 0px;
	position: absolute;
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat -494px -50px;
}

#md_idx_mony_adv {
	margin-top: 20px;
	padding-bottom: 20px;
}
#md_idx_mony_adv .adv_cnt {
	height: 478px;
	border: 1px solid #aaa;
	border-top: none;
	background:#FFF;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,.2);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,.2);
	box-shadow:1px 1px 2px rgba(0,0,0,.2);
}
#md_idx_mony_adv .adv_sear {
	width: 248px;
	height: 100%;
}
#md_idx_mony_adv .adv_sear .bat_title {
	height: 50px;
	background-color: #F4F4F4;
	position: relative;
}
#md_idx_mony_adv .adv_sear .i_title {
	width: 260px;
	height: 60px;
	line-height: 45px;
	font-size: 16px;
	font-family: '微软雅黑';
	text-indent: 90px;
	position: absolute;
	top: -1px;
	left: -12px;
	color: #FFF;
	font-style: normal;
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat 1px -230px;
}
#md_idx_mony_adv .adv_sear .prod_more {
	height: 40px;
	line-height: 40px;
	background-color: #F4F4F4;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
}
#md_idx_mony_adv .prod_more .lab_sear {
	font-size: 14px;
	margin-left: 10px;
	font-weight: normal;
	font-family: '微软雅黑';
	color: #1F76AC;
}
#md_idx_mony_adv .prod_more .i_search {
	width: 24px;
	height: 26px;
	margin: 0 5px;
	vertical-align: middle;
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat -881px -50px;
}
#md_idx_mony_adv .best_adv {
	height: 148px;
	border-right: 1px solid #ccc;
	background-color: #FAFAFA;
}
#md_idx_mony_adv .best_adv .user_photo {
	margin-left: 10px;
	margin-top: 15px;
}
#md_idx_mony_adv .best_adv .user_photo .photo img{
	width: 68px;
	height: 81px;
}
#md_idx_mony_adv .best_adv .qq {
	width: 70px;
	height: 25px;
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat -910px -50px;
}
#md_idx_mony_adv .best_adv .user_info {
	margin-top: 10px;
	margin-left: 10px;
}
#md_idx_mony_adv .best_adv .user_name {
	font-size: 14px;
	color: #1F76AD;
}
#md_idx_mony_adv .best_adv p {
	margin: 3px 0;
}
#md_idx_mony_adv .best_adv .v {
	width: 50px;
	height: 15px;
	vertical-align: 0px;
}
#md_idx_mony_adv .user_info .i_phone {
	width: 16px;
	height: 16px;
	vertical-align: -1px;
	margin-right: 5px;
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat -650px -110px;
}
#md_idx_mony_adv .user_info .phone_num {
	font-size: 15px;
	color: #1F76AC;
	font-weight:bolder;
}
#md_idx_mony_adv .user_info .area {
	color: #999;
	margin-right: 5px;
}
#md_idx_mony_adv .user_info .city {
	color: #525252;
}
#md_idx_mony_adv .user_info .ping {
	color: #999;
}
#md_idx_mony_adv .user_info .ping .r {
	color: #FD6400;
}
#md_idx_mony_adv .user_info .zy {
	color: #999;
	margin-right: 5px;
}
#md_idx_mony_adv .user_info .zy_desc {
	color: #525252;
}
#md_idx_mony_adv .adv_order {
	height: 149px;
	background-color: #F7F7F7;
	border-right: 1px solid #CCC;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}
#md_idx_mony_adv .order_form {
	padding-top: 15px;
	padding-left: 25px;
}
#md_idx_mony_adv .order_form .lab {
	color: #525252;
}
#md_idx_mony_adv .order_form .order_input {
	width: 145px;
	height: 30px;
	background: #FFF;
	border: 1px solid #C7C7C7;
	text-indent: 5px;
	*vertical-align: middle;
	line-height: 30px;
}
#md_idx_mony_adv .order_form .order_cnt {
	margin-bottom: 10px;
}
#md_idx_mony_adv .order_form .order_link {
	width: 90px;
	height: 30px;
	line-height: 30px;
	background-color: #FF8000;
	color: #FFF;
	text-align: center;
	margin-left: 31px;
}
#md_idx_mony_adv .order_form .order_link:hover{
	background: #D93600;
}
#md_idx_mony_adv .order_list {
	height: 88px;
	background-color: #FFF;
	border-right: 1px solid #CCC;
}
#md_idx_mony_adv .order_list .list {
	padding-left: 25px;
	padding-top: 5px;
}
#md_idx_mony_adv .order_list .list li {
	margin: 5px 0;
	color: #525252;
}
#md_idx_mony_adv .order_list .prod_name {
	color: #1F76AC;
}
#md_idx_mony_adv .adv_active {
	width: 450px;
	height: 100%;
	border-top: 2px solid #2B8CC9;
}
#md_idx_mony_adv .adv_active .active_title {
	height: 47px;
	line-height: 47px;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	background-color: #F4F4F4;
	font-size: 14px;
	color: #1F76AC;
	text-indent: 10px;
	font-family: '微软雅黑';
}
#md_idx_mony_adv .adv_active .i_active {
	width: 22px;
	height: 18px;
	vertical-align: middle;
	margin-right: 3px;
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat -680px -110px;
}
#md_idx_mony_adv .active_cnt {
	border-right: 1px solid #CCC;
	height: 428px;
	background-color: #FFF;
	overflow: hidden;
}
#md_idx_mony_adv .active_cnt .newList_wrap{
	padding-left: 25px;
	margin-top: 30px;
	height: 364px;
	overflow: hidden;
}
#md_idx_mony_adv .active_cnt .active_list {
	
}
#md_idx_mony_adv .active_cnt .active_list li {
	height: 30px;
	line-height: 30px;
	color: #525252;
	text-indent: 20px;
	background: url(li_bg.png)/*tpa=http://www.jinfuzi.com/static/img/common/li_bg.png*/ no-repeat;
}
#md_idx_mony_adv .active_cnt .active_list li a{
	color: #1F76AC;
}
#md_idx_mony_adv .active_cnt .active_list li a:hover{
	color: #f60;
}
#md_idx_mony_adv .adv_rank {
	width: 302px;
	height: 100%;
	border-top: 2px solid #2B8CC9;
}
#md_idx_mony_adv .adv_rank .i_rank {
	width: 22px;
	height: 21px;
	vertical-align: middle;
	margin-right: 3px;
	background: url(index_sprite.fw.png)/*tpa=http://www.jinfuzi.com/static/img/common/index_sprite.fw.png*/ no-repeat -710px -110px;
}
#md_idx_mony_adv .adv_rank .rank_title {
	height: 47px;
	line-height: 47px;
	border-bottom: 1px solid #CCC;
	background-color: #F4F4F4;
	font-size: 14px;
	color: #1F76AC;
	text-indent: 10px;
	font-family: '微软雅黑';
}
#md_idx_mony_adv .adv_rank .rank_cnt {
	height: 428px;
	background-color: #FAFAFA;
	overflow: hidden;
}
#md_idx_mony_adv .adv_rank .rank_list li {
	width: 100%;
	height: 71px;
	border-bottom: 1px solid #E6E6E6;
	background-color: #FAFAFA;
	position:relative;
	float: left;
	*height:70px;
}
#md_idx_mony_adv .adv_rank .rank_list li.last{
	border-bottom: none;
}
#md_idx_mony_adv .adv_rank .rank_list li.hover{
	background-color:#FFF;
}
#md_idx_mony_adv .rank_list .icon_rank {
	width: 20px;
	height: 20px;
	line-height: 20px;
	color: #FFF;
	background: url(../../img/common/index_sprite.fw.png) no-repeat -770px -110px;
	font-style: normal;
	text-align: center;
	float: left;
	margin-right: 5px;
	margin-top: 10px;
}
#md_idx_mony_adv .rank_list .user_photo img{
	width: 35px;
	height: 45px;
}
#md_idx_mony_adv .rank_list .i_first {
	background: url(../../img/common/index_sprite.fw.png) no-repeat -740px -110px;
}
#md_idx_mony_adv .rank_list .qq_link {
	width: 80px;
	height: 25px;
	position: absolute;
	right: 15px;
	top: 37px;
	background: url(../../img/common/index_sprite.fw.png) no-repeat -800px -110px;
}
#md_idx_mony_adv .rank_list p {
	margin: 15px 0px 0px 10px;
}
#md_idx_mony_adv .rank_list .duty {
	color: #525252;
}
#md_idx_mony_adv .rank_list .score {
	color: #FD6400;
}

/**********************************选择城市浮层*******************************************/
.city_wrap {
	/*display: block !important;*/
	width: 400px;
	border: 1px solid #969696;
	font-size: 12px;
	position: absolute;
	background-color: #FFF;
	z-index: 999;
	overflow: hidden;
	-moz-box-shadow:2px 2px 4px rgba(0,0,0,.2);
	-webkit-box-shadow:2px 2px 4px rgba(0,0,0,.2);
	box-shadow:2px 2px 4px rgba(0,0,0,.2);
	*zoom: 1;
}
#md_idx_banner .select_cnt .city_wrap{
	top: 30px;
	left: 0px;
}
#md_idx_sers_bat .sear_cnt .city_wrap{
	top: 30px;
	left: -1px;
}
.city_wrap .bt {
	background-color: #F7F7F7;
	height: 32px;
	line-height: 32px;
	text-align: right;
}
.city_wrap .bt .more {
	margin-right: 10px;
}
.city_wrap .bt .more .i_arr{
	width: 13px;
	height: 13px;
	vertical-align:middle;
	margin-right: 4px;
	background: url(../../img/common/i_down.png) no-repeat;
}
.city_wrap .city_com {
	border-bottom: 1px solid #E6E6E6;
}
.city_wrap .hbdb .title {
	padding: 10px;
	padding-right:0;
	width: 80px;
	color: #999;
}
.city_wrap .hbdb .d_list {
	padding: 10px 0;
	width: 300px;
}
.city_wrap .hbdb .u_list {
}
.city_wrap .hbdb .u_list li {
	width: 60px;
	margin-bottom: 2px;
}
.city_wrap .hbdb .u_list a {
	color:#525252;
	padding:4px 4px;
}
.city_wrap .hbdb .u_list a:hover{
	background:#2B8CC9;
	color: #FFF;
}
