/*
 * @author : hhw
 * @data   : 2013/11/18/
 * @desc   : 金斧子首页页面样式改版
 *
 **/
body {
	background: url(body_bg.png)/*tpa=http://www.jinfuzi.com/static/img/common/body_bg.png*/ repeat;
}
a {
	color: #999;
}
a:hover {
	color: #F60;
	text-decoration: none;
}
/*布局样式*/
.layout {
	width: 1000px;
	margin: 0px auto;
}
/*-----------------------------------------------------首页模块------------------------------------------------------*/
/*logo模块*/
#md_login_banner {
	
}
#md_login_banner .wrap {
	height: 35px;
}
#md_login_banner .link{
	margin-top: 8px;
}
#md_login_banner .i_logo {
	width: 224px;
	height: 38px;
	background: url(jinfuzi.png)/*tpa=http://www.jinfuzi.com/static/img/public/login/jinfuzi.png*/ no-repeat;
}
#md_login_banner .i_back {
	width: 21px;
	height: 21px;
	background: url(login_sprite.png)/*tpa=http://www.jinfuzi.com/static/img/public/login/login_sprite.png*/ -10px -70px no-repeat;
	vertical-align: -6px;
	*vertical-align: middle;
}
#md_login_banner .back {
	margin-left: 3px;
}
/*主体模块*/
#md_login_main {
	margin-top: 17px;
	background: url(bg_repeat-1.png)/*tpa=http://www.jinfuzi.com/static/img/public/login/bg_repeat.png*/ repeat-x;
	border:1px solid #C0E7F8;
}
#md_login_main .login_wrap{
	background: url(main_bg.png)/*tpa=http://www.jinfuzi.com/static/img/public/login/main_bg.png*/ no-repeat center top;
}
#md_login_main .wrap {
	height: 600px;
	position: relative;
}
#md_login_main .jfz {
	position: absolute;
	top: 180px;
	left: 100px;
	width: 477px;
	height: 60px;
	background: url(logo.png)/*tpa=http://www.jinfuzi.com/static/img/public/login/logo.png*/ no-repeat;
}
#md_login_main .err_info {
	display:none;
	width:312px;
	height:138px;
	position:absolute;
	top: 110px;
	left: 375px;
	background: url(err_info.png)/*tpa=http://www.jinfuzi.com/static/img/public/login/err_info.png*/ no-repeat;
}
#md_login_main .err_info .i_com{
	width: 21px;
	height: 21px;
	vertical-align: middle;
	margin-right:5px;
}
#md_login_main .err_info .i_err{
	background: url(login_sprite.png)/*tpa=http://www.jinfuzi.com/static/img/public/login/login_sprite.png*/ -10px -10px no-repeat;
}
#md_login_main .err_info  .tip_txt {
	color:#999;
}
#md_login_main .err_info .tip_link{
	color:#2579B2;
}
#md_login_main .err_info .tip_link:hover{
	color: #f60;
}
#md_login_main .err_info .info_type {
	padding: 17px 20px;
}
.info_tip{
	padding: 10px 20px;
}
#md_login_main .main {
	width: 305px;
	height: 410px;
	margin-top: 70px;
	position:relative;
	background-color: #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 5px #B8B8B8;
	-webkit-box-shadow: 2px 2px 5px #B8B8B8;
	box-shadow: 2px 2px 5px #B8B8B8;
}
#md_login_main .tab_wrap {
	margin-bottom: 50px;
}
#md_login_main .tab_list li {
	float: left;
	height: 46px;
	line-height: 46px;
	width: 152px;
	color: #525252;
	border-bottom: 1px solid #CCC;
	background: url(li_active.png)/*tpa=http://www.jinfuzi.com/static/img/public/login/li_active.png*/ repeat-x;
	font-size: 15px;
	font-family:'微软雅黑';
	text-align: center;
	cursor:pointer;
}
#md_login_main .tab_list li.last {
	border-left: 1px solid #CCC;
}
#md_login_main .tab_list .last a{
	color: #525252;
}
#md_login_main .tab_list li.active {
	border-bottom: none;
	background: #FFF;
	color: #FF6600;
}
#md_login_main .form_wrap {
	padding: 0 30px;
}
#md_login_main .form_wrap .icon{
	width:21px;
	height:21px;
	position:absolute;
	right: 10px;
	top: 10px;
}
#md_login_main .form_wrap .placeholder{
	color:#CCC;
	font-family:'宋体';
	position: absolute;
	top: 12px;
	left: 35px;
}
#md_login_main .form_wrap .i_err{
	background: url(login_sprite.png)/*tpa=http://www.jinfuzi.com/static/img/public/login/login_sprite.png*/ -10px -10px no-repeat;
}
#md_login_main .form_wrap .i_right{
	background: url(login_sprite.png)/*tpa=http://www.jinfuzi.com/static/img/public/login/login_sprite.png*/ -10px -40px no-repeat;
}
#md_login_main .form_wrap .user_wrap {
	width: 245px;
	height: 42px;
	margin-bottom: 20px;
	background: url(user_input_sprite.png)/*tpa=http://www.jinfuzi.com/static/img/public/login/user_input_sprite.png*/ -10px -10px no-repeat;
	position: relative;
}
#md_login_main .form_wrap .user_focus{
	background: url(user_input_sprite.png)/*tpa=http://www.jinfuzi.com/static/img/public/login/user_input_sprite.png*/ -10px -110px no-repeat;
}
#md_login_main .form_wrap .user_input_err{
	background: url(user_input_sprite.png)/*tpa=http://www.jinfuzi.com/static/img/public/login/user_input_sprite.png*/ -10px -210px no-repeat;
}
#md_login_main .form_wrap .user_wrap .user_name {
	border: none;
	position: absolute;
	right: 1px;
	top: 1px;
	width: 205px;
	height: 20px;
	padding:10px 0;
}
#md_login_main .form_wrap .pwd_wrap {
	width: 245px;
	height: 42px;
	margin-bottom: 20px;
	background: url(user_input_sprite.png)/*tpa=http://www.jinfuzi.com/static/img/public/login/user_input_sprite.png*/ -10px -60px no-repeat;
	position: relative;
}
#md_login_main .form_wrap .pwd_focus{
	background: url(user_input_sprite.png)/*tpa=http://www.jinfuzi.com/static/img/public/login/user_input_sprite.png*/ -10px -160px no-repeat;
}
#md_login_main .form_wrap .pwd_input_err{
	background: url(user_input_sprite.png)/*tpa=http://www.jinfuzi.com/static/img/public/login/user_input_sprite.png*/ -10px -260px no-repeat;
}
#md_login_main .form_wrap .pwd_wrap .pwd {
	border: none;
	position: absolute;
	right: 1px;
	top: 1px;
	width: 205px;
	height: 20px;
	padding:10px 0;
}

#md_login_main .form_wrap .fnc_wrap {
	margin-bottom: 20px;
	color: #525252;
	font-family: "宋体"
}
#md_login_main .form_wrap .fnc_wrap input {
	vertical-align: middle;
}
#md_login_main .form_wrap .fnc_wrap .icon_com{
	width: 13px;
	height:13px;
	vertical-align:middle;
	cursor:pointer;
	background: url(login_sprite.png)/*tpa=http://www.jinfuzi.com/static/img/public/login/login_sprite.png*/ -40px -70px no-repeat; 
}
#md_login_main .form_wrap .fnc_wrap .i_login{
	margin-left: 10px;
}
#md_login_main .form_wrap .fnc_wrap .icon_checked{
	background-position:-60px -70px;
}
#md_login_main .form_wrap .fnc_wrap input.rmb_login {
	margin-left: 20px;
}
#md_login_main .form_wrap .btn_wrap {
	margin-bottom: 20px;
}
#md_login_main .form_wrap .btn_wrap .btn_sub {
	border: none;
	width: 186px;
	height: 43px;
	line-height: 43px;
	text-align: center;
	font-size: 16px;
	color: #FFF;
	font-weight: bolder;
	background: url(login_sprite.png)/*tpa=http://www.jinfuzi.com/static/img/public/login/login_sprite.png*/ -110px -10px no-repeat;
	vertical-align: middle;
	cursor: pointer;
}

#md_login_main .form_wrap .btn_wrap .fgt_pwd {
	color: #257AB3;
	cursor: help;
}
#md_login_main .form_wrap .btn_wrap .fgt_pwd:hover{
	color: #f60;
}
#md_login_main .weibo_wrap {
	background-color: #F9FAFA;
	height: 64px;
	line-height: 64px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	color:#525252;
}
#md_login_main .weibo_wrap .dl_info{
	margin-left:20px;
}
#md_login_main .weibo_wrap .wb_com{
	width:64px;
	height:24px;
	vertical-align: middle;
}
#md_login_main .weibo_wrap .wb_qq{
	background: url(../../img/public/login/login_sprite.png) -40px -10px no-repeat;
	margin-right:10px;
}
#md_login_main .weibo_wrap .wb_sina{
	background: url(../../img/public/login/login_sprite.png) -40px -40px no-repeat;
}
#md_login_main .list {
	position: absolute;
	bottom: 20px;
	right: 20px;
}
#md_login_main .list li {
	width: 55px;
	height: 5px;
	float: left;
	background-color: #BCE0F1;
	margin-right: 10px;
}
#md_login_main .list li.active {
	background-color: #2B8CC9;
}
/*脚标模块*/
#md_login_footer {
	margin-top: 20px;
}
#md_login_footer .wrap {
	color: #525252;
}
#md_login_footer .mg1 {
	margin-right: 50px;
}
#md_login_footer .mg2 {
	margin-right: 50px;
}
#md_login_footer .mg3 {
	margin-right: 50px;
}