/*
 * @author : zym
 * @data   : 2013/12/14/
 * @desc   : 通用样式
 *
 **/
/*字体颜色*/
.f_blue{color: #2076AF!important;}
.f_f60{color: #f60;}
.f_ff0{color: #ff0;}
.f_ff6{color: #ff6;}
.f_666{color: #666;}
.f_999{color: #999;}
.f_090{color: #090;}
.f_bold{font-weight: bold;}
/*字体样式*/
.yahei{ font-family: "Microsoft Yahei"}
.heiti{ font-family: tahoma,arial, 'Hiragino Sans GB','Microsoft Yahei','黑体';}
.f_tl{ text-align: left;}
.f_tr{ text-align: right;}
.f_tj{ text-align:justify;text-justify:distribute-all-lines;text-align-last:justify;-moz-text-align-last:justify;-webkit-text-align-last:justify;}
/*段落样式*/
.ti_2{text-indent: 2em;}
.ti_4{text-indent: 4em;}
.lh_150{line-height:1.5;}
.lh_180{line-height: 1.8;}
.lh_200{line-height: 2;}
/*宽度*/
.w260{width: 260px;}
.w415{width: 415px;}
.w435{width: 435px;}
.w450{width: 450px;}
.w455{width: 455px;}
.w575{width: 575px;}
.w600{width: 600px;}
.w610{width: 610px;}
.w725{width: 725px;}
.w1000{width: 1000px;}
/*边距*/
.m_5  {margin: 5px;}
.m_10 {margin: 10px;}
.m_15 {margin: 15px;}
.m_20 {margin: 20px;}
.m_25 {margin: 25px;}
.mt_5 {margin-top: 5px;}
.mt_10{margin-top: 10px;}
.mt_15{margin-top: 15px;}
.mt_20{margin-top: 20px;}
.mt_25{margin-top: 25px;}
.mt_30{margin-top: 30px;}
.mb_5 {margin-bottom: 5px;}
.mb_10{margin-bottom: 10px;}
.mb_15{margin-bottom: 15px;}
.mb_20{margin-bottom: 20px;}
.mb_25{margin-bottom: 25px;}
.ml_5 {margin-left: 5px;}
.ml_10{margin-left: 10px;}
.ml_15{margin-left: 15px;}
.ml_20{margin-left: 20px;}
.ml_25{margin-left: 25px;}
.mr_5 {margin-right: 5px;}
.mr_10{margin-right: 10px;}
.mr_15{margin-right: 15px;}
.mr_20{margin-right: 20px;}
.mr_25{margin-right: 25px;}

.p_5  {padding: 5px;}
.p_10 {padding: 10px;}
.p_15 {padding: 15px;}
.p_20 {padding: 20px;}
.p_25 {padding: 25px;}
.pt_5 {padding-top: 5px;}
.pt_10{padding-top: 10px;}
.pt_15{padding-top: 15px;}
.pt_20{padding-top: 20px;}
.pt_25{padding-top: 25px;}
.pt_30{padding-top: 30px;}
.pb_5 {padding-bottom: 5px;}
.pb_10{padding-bottom: 10px;}
.pb_15{padding-bottom: 15px;}
.pb_20{padding-bottom: 20px;}
.pb_25{padding-bottom: 25px;}
.pb_30{padding-bottom: 30px;}
.pl_5 {padding-left: 5px;}
.pl_10{padding-left: 10px;}
.pl_15{padding-left: 15px;}
.pl_20{padding-left: 20px;}
.pl_25{padding-left: 25px;}
.pr_5 {padding-right: 5px;}
.pr_10{padding-right: 10px;}
.pr_15{padding-right: 15px;}
.pr_20{padding-right: 20px;}
.pr_25{padding-right: 25px;}
/*定位*/
.pr{position: relative;}
.pa{position: absolute;}
/*盒模型*/
.f_ib {display: inline-block;*display: inline;*zoom: 1;}
.f_db{display: block;}
.hide{display: none;}
/*浮动*/
.f_fl {float: left; display: inline;}
.f_fr {float: right; display: inline;}
.f_cl {clear: both;height: 0;line-height: 0;font-size: 0;}
.clearfix {*zoom: 1;}
.clearfix:before,.clearfix:after {display: table; content: ""; height:0; clear:both; visibility: hidden;}