/*该页面使用到的布局*/
.layout_1420{
	width: 1420px;
	margin: 0 auto;
}
/*面包屑导航*/
#md_topic_nav{ height: 38px; background-color: #f8f8f8; font-family: "宋体"; color: #525252;}
#md_topic_nav a,
#md_topic_nav span{ float: left; margin-top: 11px;}
#md_topic_nav a{color:#2076AF;}
#md_topic_nav .nav_sep{float: left; width: 11px; height: 8px;margin: 15px 8px;background:url(../../img/public/special/001.png) no-repeat;}
/*选择资管页面*/
#md_topic_seleZG{
	
}
#md_topic_seleZG .ban_wrap{
	background:url(../../img/public/special/zg_bg.png) repeat-x;
}
#md_topic_seleZG .ban{
	height:420px;
	background:url(../../img/public/special/zg_nav_bg.png) no-repeat center top;
	position: relative;
}
#md_topic_seleZG .nav_list{
	position: absolute;
	bottom: 50px;
	left: 225px;
}
#md_topic_seleZG .ban li{
	width: 220px;
	margin-left:20px;
	float: left;
}
#md_topic_seleZG .ban li a{
	width:100%;
	height:56px;
	font-size:0;
	display: block;
	*display:inline;
	*zoom:1;
}

#md_topic_seleZG .body_wrap{
	margin-top:20px;
}
#md_topic_seleZG .daodu_wrap{
	width:1001px;
	height: 171px;
	margin:0 auto;
	position:relative;
	background:url(../../img/public/special/daodu.png) no-repeat;
}
#md_topic_seleZG .daodu_wrap .info{
	width: 775px;
	color:#FFF;
	font:16px/1.5 '微软雅黑';
	padding-left: 180px;
	padding-top: 40px;
}
#md_topic_seleZG .main_wrap{
	width: 1040px;
	margin:0 auto;
}
#md_topic_seleZG .sub_wrap{
	margin:30px 0;
	position:relative;
}
#md_topic_seleZG .sub1{
	background:url(../../img/public/special/zg_link1.png) no-repeat;
	height:453px;
}
#md_topic_seleZG .sub1 .top_wrap{
	font: 14px/2 '微软雅黑';
	color:#525252;		
	position: absolute;
	top: 110px;
	left: 15px;

}
#md_topic_seleZG .sub1 .info{
	padding:0 66px;
}
#md_topic_seleZG .sub1 .bot_wrap{
	padding:0 66px;
	position: absolute;
	bottom: 55px;
	left: 15px;
	font-family: '微软雅黑';
	font-size: 14px;
	*bottom:30px;
}
#md_topic_seleZG .sub1 .bot_wrap .title{
	color: #f60;
	font-size: 16px;
	margin-bottom:15px;
}
#md_topic_seleZG .sub1 .bot_wrap li{
	color:#525252;
	margin-bottom:5px;
}
#md_topic_seleZG .sub1 .bot_wrap li p{
	margin-left: 15px;
}
#md_topic_seleZG .sub1 .bot_wrap .block{
	width: 5px;
	height: 5px;
	background:#FF9900;
	margin-top:10px;
	vertical-align: middle;
	position: absolute;
	left:60px;
}

#md_topic_seleZG .sub2{
	background:url(../../img/public/special/zg_link2.png) no-repeat;
	height:393px;
}
#md_topic_seleZG .sub2 .tb{
	width: 899px;
	position: absolute;
	top: 120px;
	left: 70px;
	font-family: '微软雅黑';
}
#md_topic_seleZG .sub2 .tb th{
	font-size: 25px;
	text-align: left;
	padding:10px 15px;
	border: 1px dashed #E1E1E1;
}
#md_topic_seleZG .sub2 .tb td{
	padding:10px 15px;
	border: 1px dashed #E1E1E1;
	color: #525252;
}
#md_topic_seleZG .sub2 .tb .c1{
	background:#F7F7F7;
}
#md_topic_seleZG .sub2 .tb .c2{
	background:#EDF8FF;
}
#md_topic_seleZG .sub2 .tb .c3{
	background:#FDFFEC;
}

#md_topic_seleZG .sub3{
	background:url(../../img/public/special/zg_link3.png) no-repeat;
	height:446px;
}
#md_topic_seleZG .sub3 .prod_list{
	position: absolute;
	top: 120px;
	left: 70px;
	font-family: '宋体';
}
#md_topic_seleZG .sub3 li{
	margin-right: 45px;
	margin-bottom: 45px;
	float: left;
	*margin-right: 90px;
}
#md_topic_seleZG .sub3 .slider_left{
	width:100px;
	text-align:center;
	margin-right: 20px;
}
#md_topic_seleZG .sub3 .slider_left .p1{
	background:#A7C1E7;
	color: #FFF;
	padding:5px;
}
#md_topic_seleZG .sub3 .slider_left .p2{
	background:#EFEFEF;
	color: #FF6600;
	font-size: 18px;
	font-weight: bolder;
	margin-bottom:2px;
	padding:15px;
}
#md_topic_seleZG .sub3 .slider_left .p3{
	background:#FF8000;
	color: #FFF;
	padding:5px;
}
#md_topic_seleZG .sub3 .slider_right .p1{
	padding-bottom:5px;
	border-bottom: 1px dashed #E6E6E6;
}
#md_topic_seleZG .sub3 .slider_right .prod_name{
	font:14px/1.5 '宋体';
	color: #1F76AC;
}
#md_topic_seleZG .sub3 .slider_right .info{
	font-size:12px;
	color:#999999;
	margin:3px 0;
}
#md_topic_seleZG .sub3 .slider_right .info span{
	color: #525252;
}

#md_topic_seleZG .sub4{
	background:url(../../img/public/special/zg_link4.png) no-repeat;
	height: 563px;
}
#md_topic_seleZG .sub4 .info1{
	width: 480px;
	position:absolute;
	top: 45px;
	left: 70px;
}
#md_topic_seleZG .sub4 .info1 .title{
	font: 22px '微软雅黑';
	color: #FF6600;
	margin-bottom: 20px;
}
#md_topic_seleZG .sub4 .info1 span{
	font: 18px '微软雅黑';
	color: #1F76AC;
}
#md_topic_seleZG .sub4 .info1 p {
	margin: 10px 0;
	font: 14px/1.5 '宋体';
	color: #666666;
}
#md_topic_seleZG .sub4 .info2{
	position: absolute;
	top: 55px;
	right: 80px;
	width: 262px;
}
#md_topic_seleZG .sub4 .order_wrap{
	
}
#md_topic_seleZG .sub4 .order_wrap h2 {
	font: 22px '微软雅黑';
	color: #FF6600;
	margin-bottom: 20px;
}
#md_topic_seleZG .sub4 .order_wrap .tip1 {
	font: 12px;
	color: #333333;
	margin-bottom: 10px;
}
#md_topic_seleZG .sub4 .order_wrap .p {
	margin: 10px 0;
}
#md_topic_seleZG .sub4 .order_wrap .user_lb {
margin-top: 6px;
}
#md_topic_seleZG .sub4 .order_wrap .input_wrap {
	border: 1px solid #C7C7C7;
	height: 20px;
	width: 172px;
	padding: 5px;
	background: #FFF;
}
#md_topic_seleZG .sub4 .order_wrap input {
	border: none;
}
#md_topic_seleZG .sub4 .order_wrap .sub {
	background: #F60;
	padding: 5px 10px;
	color: #FFF;
	font: 18px '微软雅黑';
	margin-left: 60px;
}
#md_topic_seleZG .sub4 .order_wrap .call {
	font: 16px '宋体';
	color: #333;
	margin-top: 30px;
}
#md_topic_seleZG .sub4 .order_wrap .phone {
	color: #FF6600;
	font-weight: bolder;
}
#md_topic_seleZG .sub4 .order_wrap .tip2 {
	color: #999;
	font: 12px '宋体';
	margin-top: 20px;
}
#md_topic_seleZG .sub4 .info3{
	position:absolute;
	bottom: 60px;
	right: 80px;
	width: 275px;
	color: #525252;
}
#md_topic_seleZG .sub4 .info3 .email_wrap {
	margin-top: 20px;
}
#md_topic_seleZG .sub4 .info3 .email {
	border: 1px solid #D8D8D8;
	background: #FFF;
	width: 175px;
	padding: 9px 0;
}
#md_topic_seleZG .sub4 .info3 input{
	border: none;
}
#md_topic_seleZG .sub4 .info3 .em_input {
	width: 100%;
	text-indent: 5px;
}
#md_topic_seleZG .sub4 .info3 .sub {
	width: 90px;
	background: #2B8CC9;
	height: 38px;
	color: #FFF;
	cursor: pointer;
	font-size: 18px;	
}
#md_topic_seleZG .sub5 .bg{
	width:1000px;
	background:url(../../img/public/special/zg_link5.png) no-repeat;
	height: 60px;
	margin:0 auto;
}
#md_topic_seleZG .sub5 .rt_bg{
	width: 20px;
	height: 150px;
	background:url(../../img/public/special/zg_rt_bg.png) no-repeat;
	position: absolute;
	right: 0;
	top:10px;
}
#md_topic_seleZG .sub5 .tb_wrap{
	width:1000px;
	margin:0 auto;
}
#md_topic_seleZG .sub5 .tb_prod{
	background: #FED100;;
	padding:10px;
}
#md_topic_seleZG .sub5 .tb{
	background: #FFF;
}
#md_topic_seleZG .sub5 .tb th{
	background:#EDF8FF;
	font:14px '宋体';
	color: #1F76AC;
	padding:15px 30px;
	border-bottom: 1px dashed #E1E1E1;
	text-align: left;
}
#md_topic_seleZG .sub5 .tb td{
	padding:10px 30px;
	border-top: 1px dashed #E1E1E1;
	font:14px '宋体';
	color:#666666;
}
#md_topic_seleZG .sub5 .tb .even{
	background:#FFF;
}
#md_topic_seleZG .sub5 .tb .odd{
	background:#F7F7F7;
}
#md_topic_seleZG .sub5 .tb .num{
	text-align: right;
	padding-right:50px;
}






