body {margin:0; padding:0; font-size:12px; color:#525252; line-height:21px;}
div,ul,li,H2,H3,H4,P,span {margin:0; padding:0; font-style:normal; list-style:none; font-size:12px;}
a {color:#525252; text-decoration:none;}
a:hover {color:#F60; text-decoration:none;}
.clear {clear:both;}

.citymap_main {width:1000px; margin:15px auto;}
.citymap_main .info {border:#CCC solid 1px; padding:10px 15px; background:#F6F6F6; color:#666;}

.citymap_list {margin:15px 0 0 0;}
.citymap_list ul {margin:10px 15px;}
.citymap_list li {width:160px; float:left;}
.citymap_list a {color:#666;}
.citymap_list a:hover {color:#F60;}
.citymap_list h2 {font-size:14px; font-weight:bold; color:#2176AF;background:#F6F6F6; height:35px; line-height:35px; padding:0 15px; border-bottom:#DFDFDF solid 1px;}
.citymap_list h2 a {color:#2176AF;}


.zhoubian_list {border:#DFDFDF solid 1px; margin:15px 0 0 0;}
.zhoubian_list ul {margin:10px 15px;}
.zhoubian_list li {width:190px; float:left;}
.zhoubian_list a {color:#999;}
.zhoubian_list a:hover {color:#F60;}
.zhoubian_list h2 {font-size:14px; font-weight:bold; color:#999; background:#F6F6F6; height:35px; line-height:35px; padding:0 15px;}
.zhoubian_list h2 a {color:#999;}


.citymap_list2 {border:#DFDFDF solid 1px; padding:0 15px 15px 15px;}
.citymap_list2 dl {}
.citymap_list2 dt {color: #333333;float: left;font-weight: bold;line-height: 32px;width: 40px;}
.citymap_list2 dd {border-bottom: 1px dotted #E3E3E3;float: left;line-height: 32px;width: 880px;}
.citymap_list2 dd a {padding: 0 12px 0 0; color:#2176AF;}
.citymap_list2 dd a:hover {color:#F60;}

.citymap_main .soyin {border:#CCC solid 1px; padding:10px 15px; background:#F6F6F6; color:#666;}
.citymap_main .soyin span {font-weight:bold; padding-right:10px; font-size:14px;}
.citymap_main .soyin font a {color:#F60; font-size:12px;}
.citymap_main .soyin a {margin-right:15px; font-family:Arial;}
.citymap_main .soyin a:hover {color:#F60;} 

.abc_list ul {margin:0; border-bottom:#DFDFDF solid 1px; padding:15px 0; padding-left:70px; position:relative;}
.abc_list li {width:180px; float:left;}
.abc_list a {color:#666;}
.abc_list a:hover {color:#F60;}
.abc_list ul span {background:#2176AF; color:#FFF; font-size:14px; font-weight:100; padding:2px 7px; position:absolute; left:17px;}


.page {background:#F6F6F6; border:#DFDFDF solid 1px; height:35px; line-height:35px; text-align:right; margin-top:10px; padding-right:15px;}
.page a {border:#DFDFDF solid 1px; padding:3px 7px; background:#FFF; margin:0 2px;}
.page span {margin-left:10px;}


.citywork_main {width:1000px; margin:15px auto;}
.citywork_main h2 {font-size:14px; border-bottom:#CCC solid 1px; padding-bottom:10px;}
.citywork_main h2 span {font-weight:100; margin-left:15px;}
.citywork_main h2 span a {color:#2176AF;}
.citywork_main h2 span a:hover {color:#F60;}
.citywork_main ul {}
.citywork_main li {float:left; width:333px; border-bottom:#DFDFDF solid 1px; padding:15px 0;}
.citywork_main P {height:21px; line-height:21px;}
.citywork_main a {margin-right:5px; color:#2176AF;}
.citywork_main a:hover {color:#F60;}
.citywork_main a.red {color:#F60;}
.citywork_main H3 a {color:#666; font-size:14px;}

.hot_city_line {width:1002px; margin:0 auto; height:3px; overflow:hidden; background:#2176AF;}
.hot_city {width:1000px; margin:0 auto 15px auto; border:#CCC solid 1px; border-top:none;}
.hot_city H2 {background:#F6F6F6; border-bottom:#DFDFDF solid 1px; height:35px; line-height:35px; padding-left:15px; font-size:14px;}
.hot_city ul {margin:10px 15px;}
.hot_city li {float:left; width:138px;}
.hot_city a {color:#999;}
.hot_city a:hover {color:#F60;}

.citywork_main2 {width:1000px; margin:15px auto;}
.citywork_main2 ul {position:relative; border-bottom:#DFDFDF solid 1px; padding:15px 0 15px 70px;}
.citywork_main2 li {float:left; width:310px; padding-bottom:10px;}
.citywork_main2 P {height:21px; line-height:21px;}
.citywork_main2 a {margin-right:5px; color:#999;}
.citywork_main2 a:hover {color:#F60;}
.citywork_main2 a.red {color:#F60;}
.citywork_main2 H3 a {color:#2176AF; font-size:14px;}
.citywork_main2 span {position:absolute; left:0; top:15px; font-size:14px; font-weight:bold;}

.citywork_main2 .soyin {border:#CCC solid 1px; padding:10px 15px; background:#F6F6F6; color:#666;}
.citywork_main2 .soyin em {font-weight:bold; padding-right:10px; font-size:14px; font-style:normal;}
.citywork_main2 .soyin font a {color:#F60; font-size:12px;}
.citywork_main2 .soyin a {margin-right:15px; font-family:Arial; color:#666;}
.citywork_main2 .soyin a:hover {color:#F60;} 


.sitemap_main {width:1000px; margin:15px auto;}

.sitemap_sidebar {float:right; width:280px;}
.sitemap_sidebar h2 {border:#DFDFDF solid 1px; background:#F6F6F6; height:35px; line-height:35px; padding-left:15px; font-weight:bold; font-size:14px;}
.sitemap_sidebar .con {border:#DFDFDF solid 1px; border-top:none; margin-bottom:15px; padding:5px;}
.sitemap_sidebar .con a {float:left; width:35px; height:35px; line-height:35px; overflow:hidden; text-align:center; font-family:Arial; color:#2176AF;} 
.sitemap_sidebar .con a:hover {color:#FFF; background:#2176AF;}

.sitemap_con {width:700px; float:left;}
.sitemap_con .m01 {border:#DFDFDF solid 1px; margin-bottom:15px;}
.sitemap_con .m01 h2 {font-size:14px; font-weight:bold; padding-left:15px; height:35px; line-height:35px; background:#F6F6F6; border-bottom:#DFDFDF solid 1px; position:relative;}
.sitemap_con .m01 h2 em {height: 14px; font-style:normal; font-size:12px; font-weight:100; color:#2176AF; position:absolute;top: 10px; right:15px;}
.sitemap_con .m01 h2 a {color:#2176AF;line-height: 1;}
.sitemap_con .m01 h2 a:hover {color:#F60;}
.sitemap_con .m01 .info {background:#F6F6F6; padding:5px 15px; color:#999; border-bottom:#DFDFDF solid 1px;}
.sitemap_con .m01 ul { position:relative; padding-left:100px; margin:5px auto; border-bottom:#DFDFDF dotted 1px; padding-bottom:2px;}
.sitemap_con .m01 li {float:left; width:115px;}
.sitemap_con .m01 span { position:absolute; top: 0px; left:10px; background:#2176AF; color:#FFF; padding:0 5px;}