/*该页面使用到的布局和公共样式*/
.layout_1000{
	width: 1000px;
	margin: 0 auto;
}
.layout_976 {
	width: 976px;
	margin: 0 auto;
}
.cl_f60{
	color: #f60;
}
.cl_999{
	color: #999;
}
.font_bold{
	font-weight: bolder;
}
/*面包屑导航*/
#md_topic_nav{ height: 38px; background-color: #f8f8f8; font-family: "宋体"; color: #525252;}
#md_topic_nav a,
#md_topic_nav span{ float: left; margin-top: 11px;}
#md_topic_nav a{color:#2076AF;}
#md_topic_nav .nav_sep{float: left; width: 11px; height: 8px;margin: 15px 8px;background:url(../../img/public/special/001.png) no-repeat;}
/*选择私募页面*/
#md_topic_seleSM .sm_wrap{
	background: url(../../img/public/special/main_bg.png) repeat;

	padding-bottom: 15px;
}
#md_topic_seleSM .top_wrap{
	background: url(../../img/public/special/sm_wrap_bg.png) no-repeat center top;
}
#md_topic_seleSM .nav_wrap{
	position: relative;
}
#md_topic_seleSM .nav_wrap a{
	position: absolute;
	width: 235px;
	height: 78px;
	font-size: 0;
}
#md_topic_seleSM .nav_wrap a.link1{
	top: 294px;
	left: 465px;
}
#md_topic_seleSM .nav_wrap a.link2{
	top: 265px;
	left: 710px;
}
#md_topic_seleSM .nav_wrap a.link3{
	top: 228px;
	left: 960px;
}
#md_topic_seleSM .nav_wrap a.link4{
	top: 210px;
	left: 1206px;
}
#md_topic_seleSM .pad_405{
	padding-top: 405px;
}
#md_topic_seleSM .sub_wrap{
	margin-bottom:30px;
	position: relative;
}
#md_topic_seleSM .sub_wrap .info_com{
	position: absolute;
	color: #666666;
	font-family: '宋体';
}
#md_topic_seleSM .head_bg{
	height:65px;
	background: url(../../img/public/special/sm_bg.png) no-repeat;
}
#md_topic_seleSM .redline{
	background: url(../../img/public/special/redline.png) no-repeat;
	height: 12px;
}
#md_topic_seleSM .title_wrap{
	color: #FFF;
	font-family: '微软雅黑';
	font-size: 22px;
	padding-top: 20px;
}
#md_topic_seleSM .title_wrap .title_desc{
	height: 50px;
    line-height:2;
    padding:0 10px;
	background:url(../../img/public/special/vline_01.png) repeat-x;
}
#md_topic_seleSM .title_wrap .title_end{
	height: 50px;
	width:44px;
	background:url(../../img/public/special/vline_02.png) no-repeat;
}
#md_topic_seleSM .cnt1{
	background: #FFF;
	height: 303px;
}
#md_topic_seleSM .cnt2{
	background: #FFF;
	height: 425px;
}
#md_topic_seleSM .cnt3{
	background: #FFF;
	height: 575px;
}
#md_topic_seleSM .cnt4{
	background: #FFF;
	height: 309px;
}
#md_topic_seleSM .sub1{
	background:#FED100;
	height:1684px;
}
#md_topic_seleSM .sub1 .info1{
	width: 467px;
	top:120px;
	left:50px;
}
#md_topic_seleSM .sub1 .img1{
	top: 70px;
	right: 50px;
}
#md_topic_seleSM .sub1 .img2{
	top: 500px;
	left: 190px;
}
#md_topic_seleSM .sub1 .info1 p{
	margin-bottom: 30px;
}
#md_topic_seleSM .sub1 .info2{
	width:505px;
	top: 425px;
	left: 250px;
	font: 16px '微软雅黑';
}
#md_topic_seleSM .sub1 .info2 p{
	text-align: center;
}
#md_topic_seleSM .sub1 .info3{
	width: 913px;
	top: 885px;
	left: 45px;
}
#md_topic_seleSM .sub1 .info3 .tb td{
	border: 1px solid #DFDFDF;
	padding:7px 10px;
}
#md_topic_seleSM .sub1 .info3 .hd_even{
	background:#F7F7F7;
}
#md_topic_seleSM .sub1 .info3 .td_hd_odd{
	background:#F7F7F7;
}
#md_topic_seleSM .sub1 .info3 .td_hd_even{
	background:#ECECEC;
}
#md_topic_seleSM .sub1 .info3 .rt_slider{
	width: 450px;
}
#md_topic_seleSM .sub1 .info3 .bg_df{
	background:#F7F7F7;
}
#md_topic_seleSM .sub1 .info3 dt{
	color: #FF6600;
	margin-top:20px;
}
#md_topic_seleSM .sub1 .info3 .tip{
	margin-top:30px;
	padding: 20px 5px 40px 20px;
	background:#FDFFEC;
	border:1px solid #FFCC99;
}
#md_topic_seleSM .sub1 .info4{
	width: 913px;
	bottom: 40px;
	left: 45px;
}
#md_topic_seleSM .sub1 .info4 table{
	border: 1px solid #CCCCCC;
	margin-bottom:20px;
}
#md_topic_seleSM .sub1 .info4 tr.title{
	border: 1px solid #ECECEC;
	background:#ECECEC;
}
#md_topic_seleSM .sub1 .info4 table td{
	text-align: right;
	padding:10px 15px;
}
#md_topic_seleSM .sub1 .info4 .bg_ec{
	background:#ECECEC;
}
#md_topic_seleSM .sub1 .info4 table td.td_left{
	text-align: left;
	padding-left: 10px;
}
#md_topic_seleSM .sub1 .info4 table td.special{
	background-color:#E5F5FF;
	color:#009900;
}
#md_topic_seleSM .sub1 .info4 table td.special_2{
	background:#CBECFF;
	color:#009900;
}
#md_topic_seleSM .sub1 .info4 .title th{
	text-align: center;
	padding:10px 0;
}
#md_topic_seleSM .sub1 .info4 table tr.last{
	background:#F7F7F7;
}
#md_topic_seleSM .sub2{
	background: url(../../img/public/special/sm_link2.png) no-repeat;
	height: 848px;
}
#md_topic_seleSM .sub2 .title_wrap{
	position: relative;
	padding:0px;
}
#md_topic_seleSM .sub2 .po1{
	left: -38px;
	top: -35px;
}
#md_topic_seleSM .sub2 .po2{
	left: -34px;
	top: -35px;
}
#md_topic_seleSM .sub2 .po3{
	left: -35px;
	top: -15px;
}
#md_topic_seleSM .sub2 .po4{
	color:#1F76AD;
	font:16px '微软雅黑';
	position: absolute;
	left: 125px;
	top: -5px;
}
#md_topic_seleSM .sub2 .info1{
	width:420px;
	top: 150px;
	left: 50px;
}
#md_topic_seleSM .sub2 .flow{
	
}
#md_topic_seleSM .sub2 .flow .desc{
	font-size: 14px;
	margin-bottom:20px;
}
#md_topic_seleSM .sub2 .flow .unit{
	text-align: center;
	border: 1px solid #CBECFF;
	margin-bottom:20px;
}
#md_topic_seleSM .sub2 .flow .p1{
	padding:5px 0;
	color: #1F76AE;
	background:#CBECFF;
}
#md_topic_seleSM .sub2 .flow .p2{
	padding:8px 20px;
	color: #8C8C8C;
	background:#EDF8FF;
}
#md_topic_seleSM .sub2 .info2{
	width:420px;
	top: 150px;
	right: 40px;
}
#md_topic_seleSM .sub2 .info3{
	width:913px;
	bottom: 50px;
	right: 40px;
	font-size: 14px;
}
#md_topic_seleSM .sub3{
	background: url(../../img/public/special/sm_link3.png) no-repeat;
	height: 558px;
}
#md_topic_seleSM .sub3 .info1{
	width:210px;
	left: 55px;
	top: 140px;
}
#md_topic_seleSM .sub3 .info2{
	width:210px;
	left: 55px;
	top: 325px;
}
#md_topic_seleSM .sub3 .info3{
	width:240px;
	right: 53px;
	top: 238px;
}
#md_topic_seleSM .sub3 .unit{
	font:16px '微软雅黑';
}
#md_topic_seleSM .sub3 .unit h2{
	color: #FF6600;
	margin-bottom:10px;
}
#md_topic_seleSM .sub3 .unit p{
	font-size: 14px;
	margin-bottom:10px;
}
#md_topic_seleSM .sub4{
	background: url(../../img/public/special/sm_link4.png) no-repeat;
	height: 1168px;
}
#md_topic_seleSM .sub4 .info_title{
	color: #f60;
	font-size: 24px;
	font-weight:bold;
	top: 125px;
	left: 45px;
}
#md_topic_seleSM .sub4 .info_zoushi{
	color: #2B8CC9;
	font-size: 20px;
	font-weight:bold;
	top: 490px;
	left: 45px;
}
#md_topic_seleSM .sub4 .info_img{
	top: 526px;
	left: 100px;
}
#md_topic_seleSM .sub4 .info0{
	top: 305px;
	left: 45px;
	font-size: 14px;
	color: #666666;
}
#md_topic_seleSM .sub4 .info0 .tb{
	border: 1px solid #CCC;
	width: 904px;
	font:12px '宋体';
}
#md_topic_seleSM .sub4 .info0 tr.first{
	border-bottom: 1px solid #CCC;
}
#md_topic_seleSM .sub4 .info0 th,#md_topic_seleSM .sub4 .info0 td{
	text-align: left;
	padding:10px 5px;
}
#md_topic_seleSM .sub4 .info0 p{
	margin-bottom:5px;
}
#md_topic_seleSM .sub4 .info0 .bg_grey{
	color: #999999;
}
#md_topic_seleSM .sub4 .info1{
	width: 870px;
	bottom:100px;
	left:100px;
	font-size: 14px;
}
#md_topic_seleSM .sub4 .info1 h3{
	font:16px '微软雅黑';
	color: #1F76AD;
	margin-bottom:20px;
}
#md_topic_seleSM .sub4 .info1 li{
	margin-bottom: 10px;
}
#md_topic_seleSM .sub4 .info1 .block{
	width: 5px;
	height: 5px;
	background: #999;
	margin-right: 10px;
	margin-top: 10px;
}
#md_topic_seleSM .sub4 .info2{
	bottom: 41px;
	right: 47px;
}
#md_topic_seleSM .sub4 .info2 .order_link{
	width: 244px;
	height:67px;
}
#md_topic_seleSM .sub5{
	background: url(../../img/public/special/sm_link5.png) no-repeat;
	height: 561px;
	margin-bottom:10px;
}
#md_topic_seleSM .sub5 .info1{
	width: 480px;
	top: 45px;
	left: 70px;
}
#md_topic_seleSM .sub5 .info1 .title {
	font: 22px '微软雅黑';
	color: #FF6600;
	margin-bottom: 20px;
}
#md_topic_seleSM .sub5 .info1 span {
	font: 18px '微软雅黑';
	color: #1F76AC;
}
#md_topic_seleSM .sub5 .info1 p {
	margin: 10px 0;
	font: 14px/1.5 '宋体';
	color: #666666;
}
#md_topic_seleSM .sub5 .info2{
	top: 55px;
	right: 60px;
	width: 262px;
}
#md_topic_seleSM .sub5 .info2 .order_wrap h2 {
	font: 22px '微软雅黑';
	color: #FF6600;
	margin-bottom: 20px;
}
#md_topic_seleSM .sub5 .order_wrap .tip1 {
	font: 12px;
	color: #333333;
	margin-bottom: 10px;
}
#md_topic_seleSM .sub5 .order_wrap .p {
	margin: 10px 0;
}
#md_topic_seleSM .sub5 .order_wrap .user_lb {
	margin-top: 6px;
}
#md_topic_seleSM .sub5 .order_wrap .input_wrap {
	border: 1px solid #C7C7C7;
	height: 20px;
	width: 172px;
	padding: 5px;
	background: #FFF;
}
#md_topic_seleSM .sub5 .order_wrap input {
	border: none;
}
#md_topic_seleSM .sub5 .order_wrap .sub {
	background: #F60;
	padding: 5px 10px;
	color: #FFF;
	font: 18px '微软雅黑';
	margin-left: 60px;
}
#md_topic_seleSM .sub5 .order_wrap .call {
	font: 16px '宋体';
	color: #333;
	margin-top: 30px;
}
#md_topic_seleSM .sub5 .order_wrap .phone {
	color: #FF6600;
	font-weight: bolder;
}
#md_topic_seleSM .sub5 .order_wrap .tip2 {
	color: #999;
	font: 12px '宋体';
	margin-top: 20px;
}
#md_topic_seleSM .sub5 .info3{
	bottom: 60px;
	right: 60px;
	width: 275px;
	color: #525252;
}
#md_topic_seleSM .sub5 .info3 .email_wrap {
	margin-top: 20px;
}
#md_topic_seleSM .sub5 .info3 .email {
	border: 1px solid #D8D8D8;
	background: #FFF;
	width: 175px;
	height: 36px;
	line-height: 36px;
}
#md_topic_seleSM .sub5 .info3  input{
	border:none;
}
#md_topic_seleSM .sub5 .info3 .em_input {
	width: 100%;
	text-indent: 5px;
	margin-top: 9px;
	height: 18px;
}
#md_topic_seleSM .sub5 .info3 .sub {
	width: 90px;
	background: #2B8CC9;
	height: 38px;
	color: #FFF;
	cursor: pointer;
	font-size: 18px;
}