/*顶部banner样式*/

.maintop {
	background: url(../images/toprpx.png) repeat-x;
	height: 31px;
	border-bottom: 1px #CECFCE solid;
}

.maintop .topinter a:hover{
	color:#0079BD;
}

.maintop .topinter {
	width: 1000px;
	margin: 0 auto;
	z-index: 111;
	position: relative;
} 

.maintop .topinter a {
	color: #888888;
}

.maintop .topinter .leftbox {
	float: left;
	display: inline;
	overflow: hidden;
	height: 31px;
}

.maintop .topinter .leftbox p {
	word-wrap: break-word;
}

.maintop .topinter .leftbox a.txtbule {
	color: #0079BD;
}

.maintop .topinter .leftbox span.line {
	border-left: 1px #DEDFDE solid;
	border-right: 1px #F8F8F8 solid;
	display: inline-block;
	height: 35px;
	overflow: hidden;
	width: 0;
	vertical-align: middle;
	margin: 0 5px;
}

.maintop .topinter .rightbox {
	float: right;
	display: inline;
}

.maintop .topinter ul.sublist {
	float: left;
	list-style: none;
}

.maintop .topinter ul.sublist li {
	float: left;
	display: inline;
	line-height: 31px;
	position: relative;
	height: 31px;
}
.maintop .topinter .selcenter {
	padding: 1px 20px 0 12px;
	background: url(../images/topmymore.png) no-repeat 90% 50%;
	display: inline-block;
}
.maintop .topinter .dark .selcenter{
	padding: 0 19px 0 11px;
	border: 1px #DDDDDD solid;
	background: #fff url(../images/topmymore.png) no-repeat 91% 49%;
	border-bottom: 0;
}

.maintop .topinter li.onself div.popmyself {
	position: absolute;
	right: 0px;
	top: 31px;
	border: 1px #DDDDDD solid;
	background: #fff;
	line-height: 23px;
	width: 78px;
	border-top: 0;
	display: none;
}

.maintop .topinter  div.popmyself p {
	padding-left: 12px;
}

.maintop .topinter li.line {
	border-left: 1px #DEDFDE solid;
	border-right: 1px #F8F8F8 solid;
	height: 31px;
	overflow: hidden;
	width: 0;
}


.maintop .rightbox  a.nollink {
	padding: 0 10px;
}

.maintop .rightbox a.wxus {
	margin: 0 13px 0 10px;
	padding-left: 30px;
	background: url(../images/topwximg.png) no-repeat 0 50%;
} 

.maintop .rightbox div.popwxour {
	position: absolute;
	right: -86px;
	top: 31px;
	border: 1px #DDDDDD solid;
	background: #fff;
	line-height: 21px;
	width: 270px;
	color: #8F8F8F;
	display:none;
}

.maintop .rightbox div.popwxour i {
	position: absolute;
	left: 48%;
	top: -5px;
	background: url(../images/toppoparr.png) no-repeat;
	width: 14px;
	height: 5px;
	overflow: hidden;
}

.maintop .rightbox .popwxour .wxinter {
	padding: 5px;
	overflow: hidden;
	zoom: 1;
	display:none;
}

.maintop .rightbox .wximg {
	float: left;
	display: inline;
	width: 97px;
	background: #fff;
}

.maintop .rightbox .popwxour .txtwxp {
	border-top: 1px #E1E1E1 solid;
	padding-top: 3px;
	margin-top: 3px;
}

.maintop .rightbox .ourphone {
	margin: 0 10px;
	padding-left: 20px;
	background: url(../images/tophonenum.png) no-repeat 0 50%;
	color: #FD6400;
	font-size: 13px;
}

















































