.hide{display:none;}

.hotlclist th, .hotlclist td {padding: 3px 2px;}

.find-man{margin-bottom:3px;}

.myqabox li {font-size: 12px;}


.new-nav{
	overflow: visible;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.box500, .tc-wrap{margin:12px auto; border:1px solid #CCC; position:relative;  font-family:Microsoft Yahei; background-color:#fff; }

.tc-hd{font-size:16px;background-color:#84c3f7; padding-bottom:3px; color:#fff; padding-left:6px; height:33px; *height:auto;line-height:33px;}
.tc-hd-tw{position:absolute;background:url(../images/box/tc_tw.png) no-repeat left center;overflow:hidden;width:19px;height:20px;display:inline-block;left:10px;top:12px;display:inline-block;}
.tc-hd-zc{position:absolute;background:url(../images/box/tc_zc.png) no-repeat left center;overflow:hidden;width:19px;height:20px;display:inline-block;left:10px;top:12px;display:inline-block;}
.tc-hd-dl{position:absolute;background:url(../images/box/tc_dl.png) no-repeat left center;overflow:hidden;width:19px;height:20px;display:inline-block;left:14px;top:9px;display:inline-block;}
.tc-ct{ background-color:#Fff; padding:6px; margin:10px;}
.tc-ct,.tc-ft{clear:both;}

.tc-con{ margin:0 auto;}
.tc-ft{ padding:6px 10px; background-color:#f7f7f7; border-top:1px solid #CCC;}
.tc-ft p{float:left;padding-top:5px;}
.tc-dis{ padding:3px 0;}
.tc-moren{display:inline-block;background:url(../images/down_up.gif) no-repeat  ;width:11px;height:6px;overflow:hidden;}
.tc-dis a{padding-left:3px;}
.tc-ft-btns a{}
.tc-ft-btns span{display:none;}
.tc-close{background:url(../images/close.png) no-repeat;position:absolute;right:3px;top:3px;display:block;width:29px;height:29px;cursor:pointer; z-index:1000;}
.tc-close:hover{background-position:bottom;}
.tc-close span{display:none;}

.news_list_box .bd li {
	background: none
}

.rangking-box .rangking-con {
    padding-left: 10px;
    width: 210px;
}

.pp_location
{
	 height:242px;
}

.pp_location .T_iframe  
{  
    position: absolute;/*绝对定位保证iframe不会占用流布局空间*/  
    width: 100%;    /*100%保证可以覆盖整个div*/  
    height: 100%;  
    z-index:-1; /*-1保证iframe显示在div下方*/  
    border:0;
    top:0;
    left:0;
	z-index: -99999;
}  