
.websitebox{margin-bottom: 8px;color:#6A6A6A;}


.wd-list-content-title .v-on, .wd-list-content-title .v-off{margin:2px 4px 0 0}
#Advice_type br{display: none;}
.bannshowbox{margin-bottom: 15px;}

.hotstart-box{border: 1px #ECE8D7 solid;border-top: 1px #247DBA solid;zoom:1;padding-bottom: 10px; display:inline; visibility:visible}
.hotstart-list{padding: 10px 10px 0;}
.hotstart-list li{padding: 5px 0 15px;border-bottom: 1px #E5E5E5 solid;margin-bottom: 10px}
.hotstart-con{float: left; position: relative; width: 610px;z-index: 9;}
.hotstart-con .ic-tj{display:inline-block; vertical-align:-2px;width:36px; height:17px;margin-left: 5px;overflow:hidden;background: url(../images/wd/ic_tuijian.png) no-repeat;}
.hotstart-con .con-hp{bottom: 0;position: absolute;right: 0;}
.hotstart-con .con-hp .hp-txt{font:14px/20px "Microsoft Yahei";color: #666666;color:#E10505;padding-left: 20px;background: url(../images/wd/icon_hp.png) no-repeat 0 3px;}
.hotstart-con .con-hp .hp-txt em{font:15px/20px arial;}
.hotstart-con .jf-boxs{color:#333333;margin: 8px 0 0;position:relative;zoom:1;}
.hotstart-con .jf-boxs p{margin-bottom:10px}
.hotstart-con .jf-boxs .jf-tit{color:#6A6A6A;}
.hotstart-con .jf-boxs .icon-all{padding-left: 16px;background: url(../images/wd/icon-jfall.png) no-repeat 2px center;*background-position: 2px 0;   }
.hotstart-con .jf-boxs .line{margin: 0 11px 0 8px;}
.hotstart-con .jf-boxs .links-op{position:absolute;right:0px;bottom:0px;*bottom:10px;width:62px; height:23px;line-height: 23px;overflow:hidden;background: url(../images/wd/btn-findop.png) no-repeat;text-align:center;color:#fff;}
.hotstart-con .hp-titbox{font-size: 14px;padding-left: 22px;line-height: 22px;height: 22px;margin:15px 0 5px;*margin:5px 0;background: url(../images/wd/icon-goodjl.png) no-repeat 0 center;}
.hotstart-con .hp-listbox{height: 130px;position:relative;}
.hotstart-con .hp-listbox .linksup{position:absolute;left:0px;top:0px;width:530px;height: 9px;overflow:hidden;background: url(../images/bg-linksnav.png) no-repeat }
.hotstart-con .hp-listbox .linksnext{position:absolute;left:0px;bottom:0px;width:530px;height: 9px;overflow:hidden;background: url(../images/bg-linksnav.png) no-repeat 0 -18px ;}

.hotstart-con .hplistcon{position:absolute;left:0px;top:13px;width:530px;height: 104px;overflow:hidden;background:#F5F5F5; }
.hotstart-con .hplistcon dl{padding: 12px;}
.hotstart-con .hplistcon dl dt{padding-left: 20px;background: url(../images/wd/icon-titqa.png) no-repeat 0 -2px;color:#858585;}
.hotstart-con .hplistcon dl dd{color:#3E3D3D;padding:9px 0 10px;line-height: 22px}
.hotstart-con .txt-ztbox{position:absolute;left:540px;top:60px;}
.hotstart-con .txt-ztbox .zt-txt{padding-left: 18px;display:inline-block;background: url(../images/wd/icon-zt.png) no-repeat 0 -2px;white-space:nowrap;color:#464646;}
.hotstart-con .txt-ztbox .zt-txt em{padding-left: 2px}

.pagebox{text-align:center;padding: 5px 0;color:#247DBA;line-height: 25px;font-family:simsun;}
.pagebox .links{display:inline-block; vertical-align:middle;height: 23px;padding: 0 10px;border: 1px #D7D7D7 solid;color:#247DBA;}
.pagebox .not{color:#C8C7C7;cursor: default;}
.pagebox .not:hover{color:#C8C7C7;cursor: default;}
.pagebox .formto{margin-left: 20px; }
.pagebox .intxts{width: 30px;height: 23px;line-height: 23px;border: 1px #D7D7D7 solid;text-align:center;vertical-align:middle;margin:0 3px}
.pagebox .gotolinks{background: url(../images/bg-pagebg.png) repeat-x 0 bottom}
.pagebox .nowpage{display:inline-block; vertical-align:middle;height: 23px;padding: 0 10px;color:#494949;font-size: 14px;}

.hp-ts{border:1px #C7DAE1 solid;margin-bottom: 10px;background: #F1F9FC}
.hp-ts h3{height: 25px;background: #247DBA;padding: 3px 0;}

.haopin-tb{border:#DFDFDF solid 1px;margin-bottom:10px;font-size:12px;}
.haopin-tb table{}
.haopin-tb th{background:#E8E8E8;height:26px;line-height:26px;text-align:center;font-weight:100;}
.haopin-tb td{height:26px;}
.haopin-tb span{margin-left:3px;}
.haopin-tb .name{padding-left:5px;overflow:hidden; text-align:left;}
.haopin-tb .jifen{color:#999;text-align:right;padding-right:10px;font-size:12px;}
.haopin-tb img{vertical-align:middle;}
.haopin-tb a{color:#247DBB;font-size: 12px;}
.haopin-tb a:hover{color:#C00;}
.haopin-tb .three a{color:#247DBA;}
.haopin-tb .three a:hover{color:#C00;}
.haopin-tb .city{font-size:12px;color:gray;}
.haopin-tb h2{background:url("../images/TitleBG.jpg") repeat ;color:#247DBB;font-size:12px;font-weight:bold;height:36px;line-height:36px;padding-left:10px;position:relative;}
.haopin-tb h2 em{font-size:12px;font-style:normal;font-weight:100;position:absolute;right:6px;top: 0px}
.haopin-tb .icon-num{display:inline-block;vertical-align:middle;width:17px; height:18px;overflow:hidden;background:url(../images/wd/bg-iconnum.png) no-repeat 0 -19px;color:#676666;font:9px/18px Verdana;}
.haopin-tb .hot-num{background-position: 0 0;color:#F05C14;}

.haopin-tb .td-conbox{border: 1px #FFD8C5 solid;margin:5px;zoom:1;overflow:hidden;height: 70px;}
.haopin-tb .td-conbox .tdimg{float:left;display:inline;width: 55px;margin: 5px}
.haopin-tb .td-conbox .td-coninfo{float:left;width: 165px;line-height: 20px;color:#666666;padding:3px 0 0 0 }
.haopin-tb .td-conbox .rr-qq{ background: url(../images/wd/qq.gif) no-repeat ;padding-left: 24px; padding-right: 10px;display:inline-block; height: 22px;line-height: 22px}
.haopin-tb .td-conbox .rr-phonenum{ background: url(../images/wd/bg_phonenum.png) no-repeat ;padding-left:17px;display:inline-block; height: 22px;line-height: 22px}

.subfooter{margin: 10px 0 0}


/* 2012-10-25 */
.jspaimin-tb{border:#DFDFDF solid 1px;margin-bottom:10px;}
.jspaimin-tb table{}
.jspaimin-tb th{background:#E8E8E8;height:26px;line-height:26px;text-align:center;font-weight:100;font-size: 12px}
.jspaimin-tb td{font-size: 12px;padding:5px 0px;}
.jspaimin-tb span{margin-left:3px;}
.jspaimin-tb .name{padding-left:5px;overflow:hidden; text-align:left;}
.jspaimin-tb .jifen{color:#999;text-align:right;padding-right:10px;font-size:12px;}
.jspaimin-tb img{vertical-align:middle;}
.jspaimin-tb a{color:#247DBB;font-size: 12px}
.jspaimin-tb a:hover{color:#C00;}
.jspaimin-tb h2{background:url("../images/TitleBG.jpg") repeat ;color:#247DBB;font-size:14px;font-weight:bold;height:36px;line-height:36px;padding-left:10px;position:relative;}
.jspaimin-tb h2 em{font-size:12px;font-style:normal;font-weight:100;position:absolute;right:6px;top: 0px}
.jspaimin-tb h2 .subtit{font-size: 15px;color:#FF0100;font-weight: bold;}
.jspaimin-tb .icon-num{display:inline-block;vertical-align:middle;width:17px; height:18px;overflow:hidden;background:url(../images/wd/bg-iconnum.png) no-repeat 0 -19px;color:#676666;font:9px/18px Verdana;}
.jspaimin-tb .hot-num{background-position: 0 0;color:#F05C14;}
.jspaimin-tb .td-conbox{border: 1px #FFD8C5 solid;margin: 0px 5px;zoom:1;}


.whyusebox{border:1px #DDDDDD solid;margin-bottom: 10px;}
.whyusebox h2{font-size: 14px;color:#247DBA;border-bottom:1px #DDDDDD solid;line-height: 30px;padding-left: 10px }

.nolsearchbox{height: 20px;position:relative;}

.searchkey .colorred{color:#CC0000;}
.searchkey a{margin-right: 10px;}

.seachright{position:absolute;right:0px;top:0px;}
.seachright .inputtxt{border:1px #C0C1C2 solid;padding:0px 4px;float:left;height: 19px;width: 196px}
.seachright .inbtnserch{padding:0px 10px;float:left;background:url(../images/searcrpx.png) repeat-x;color:#fff;height: 21px;overflow:hidden;line-height: 21px; }
.seachright .inbtnserch:hover{color:#fff;text-decoration:none;}

.alljsbox{border:1px #C7DAE1 solid;zoom:1;margin-bottom: 10px;}
.alljsbox h2{font-size: 14px;color:#247DBA;border-bottom:1px #DDDDDD solid;line-height: 30px;padding-left: 10px}
.suoyinbox{position:relative;zoom:1;padding: 10px;}
.suoyinbox .suoyinnum{font-family:verdana;position:relative;z-index: 11;zoom:1;margin-bottom: 5px;}
.suoyinbox .suoyinnum em{display:inline-block; padding: 2px 6px 4px;font-size: 14px;cursor: pointer;font-style:normal;vertical-align:middle;}
.suoyinbox .suoyinnum .on{border:1px #FFCE69 solid;background: #FFF9E5;border-bottom: 0}
.suoyinbox .suoyincon{border:1px #FFCE69 solid;background: #FFF9E5;padding: 6px;position:relative;z-index: 10;margin-top: -6px;}
.suoyinbox .suoyincon a{margin: 0 5px;font-size: 14px;display:inline-block;line-height: 23px}

.suoyinbox .suoyinbottom{color:#999999; font-family:verdana;position:relative;z-index: 11;zoom:1;margin-bottom: 5px;font-size: 13px;}
.suoyinbox .suoyinbottom em{color:#999999;display:inline-block; padding: 2px 6px 4px;font-size: 14px;cursor: pointer;font-style:normal;vertical-align:middle;}
.suoyinbox .suoyinbottom .on{border:1px #F3F3F3 solid;background: #F3F3F3;border-bottom: 0}
.suoyinbox .suoyinbottomcon{padding: 6px;position:relative;z-index: 10;margin-top: -6px;}
.suoyinbox .suoyinbottomcon a{color:#999999; margin: 0 5px;font-size: 12px;display:inline-block;line-height: 23px;}

.jzallmap li{padding: 10px;}
.jzallmap .sypingyin{padding-left: 15px;font-size: 14px;background:url(../images/iconarrjs.png) no-repeat 0 center;font-family:verdana;margin-bottom: 10px}
.jzallmap .sylists {line-height: 25px;padding-left: 13px;zoom:1;overflow:hidden;}
.jzallmap .sylists a{display:inline-block; width:136px;font-size: 14px;float:left;}
.jzallmap .bglist{background: #F1F9FC}



.soutbbox{zoom:1;margin-bottom: 10px;}
.soutbbox h2{font-size: 14px;color:#247DBA;border:1px #C7DAE1 solid;border-bottom:0;line-height: 30px;padding-left: 10px;color:#6A6A6A;}
.soutbbox .tb {border-collapse:collapse;width: 100%;}
.soutbbox .tb td{border:1px #C7DAE1 solid;padding: 5px 10px;font-size: 14px;text-align:center;}
.soutbbox .tb thead td{font-weight: bold;background:url(../images/bg_titrpx.png) repeat-x 0 bottom;line-height: 22px }
.soutbbox .tb .txtleft{text-align:left;}
.soutbbox .tb .txtname a{margin:0 15px 0 0;display:inline-block;font-size: 14px;line-height: 25px }
.soutbbox .tb .colorred{color:#CC0000;font-weight: bold;}

.qh-head-stepopen{background: url(../images/topstepbg.png) no-repeat center right;    bottom: 16px;}
.areainfobox{border: 1px solid #DDDDDD;padding: 10px; color:#666666;line-height: 23px}
.areainfobox .areaimg{margin-bottom: 10px;display:block; }

.qh-list .list-photo {width:150px; border-bottom: 1px dotted #D0D0D0;}
.qh-list .list-photo p{font-size:12px;font-weight:normal;}
.qh-list .list-photo a{padding-bottom: 20px;}
.qh-list .list-photo img{padding-top:10px;}
.qh-list .list-photo .wd-list-img{width:none; border-bottom: none;font-weight: normal;text-align: left;}
.qh-list .list-photo .wd-list-img .show-info{top:-233px;}
.qh-list .info {padding: 10px 0px;}
.qh-list .info .info-hd { padding-right: 10px;}
.qh-list .info .info-hd h5{ float:left;}
.qh-list .info .painum{display:inline-block;font-size: 14px;vertical-align:0;background: url(../images/iconnum.png) no-repeat 0 0;width:22px; height:23px;overflow:hidden;text-align:center;color:#fff;line-height:18px}
.qh-list .info .colortit{color:#000;}
.qh-list .info .txtjuli{color:#E10505;font-size: 12px}
.qh-list .info .linkinfo{font-size: 12px;color:#247DBA;}
.qh-list .info .info-hd .zhoujifen{ font-size:12px;}
.qh-list .info .info-hd .zhoujifen em{ color:#999;}
.qh-list .info .info-hd .zongjifen{ font-size:12px; margin-left:12px;}
.qh-list .info .info-hd .zongjifen em{ color:#999;}
.areatbbox {border-top: 1px #247DBA solid;}
.areatbbox td{border-bottom: 1px #D0D0D0 dotted;}
.areatbbox dl{padding-right: 15px}
.areatbbox .molkbox{padding-top: 5px}
.areatbbox .hpnumbox{padding-left: 18px;background: url(../images/icgoodping.png) no-repeat 0 0;margin:15px 0 0 25px;text-align:left;line-height: 18px}
.areatbbox .hpnumbox1{padding-left: 18px;background: url(../images/icgoodping.png) no-repeat 0 0;margin:0 0 15px 25px;text-align:left;line-height: 18px}
.areatbbox .hpnumbox2{padding-left: 18px;margin:1px 0 0 25px;text-align:left;line-height: 18px;padding-bottom:10px;}

.areatbbox .bottombtn{padding: 15px 15px 5px 0;text-align:right;}
.areatbbox .bottombtn a:hover{filter:alpha(opacity=80); opacity: 0.80; }
.qh-list .info .tuijian{font-size: 13px;display:inline-block; padding: 2px 4px 0px;}

.areasitebox{border:1px #DDDDDD solid;margin-bottom: 10px}
.areasitebox h3{border-bottom:1px #DDDDDD solid;background: url(../images/TitleBG.jpg) repeat-x 0 bottom;font-size: 14px;line-height: 33px;color:#666666;padding-left: 10px}
.areasitebox .arealinksbox{padding: 10px;line-height: 23px}
.areasitebox .arealinksbox a{margin-right: 20px;display:inline-block; }

.juanrenbox{border: 1px #DDDDDD solid}
.juanrenbox .renfrom{font-size: 12px;color:#333333;}
.juanrenbox .v-on, .areasitebox .v-off {margin: 2px 4px 0 0;}
.juanrenbox a.cname{color:#247DBA;}
.juanrenbox .txtzz{color:#048A2A;}
.juanrenbox .bottombtn {padding: 5px 10px 5px 0;}
.areatbbox .hpnumbox{}

.findlicai{border:1px #DDDDDD solid;padding: 2px;background: #EEEEEE;margin-bottom: 10px}
.licaiinter{background: #fff;color:#666666;}
.licaiinter .lchead{border-bottom: 1px #DBDBDB solid;height: 28px;line-height: 28px;position:relative;}
.licaiinter .lchead h3{float:left;padding-left: 10px;font-size: 14px;}
.licaiinter .lchead .subcity{position:absolute;right:5px;top:0px;}
.licaiinter .lchead .subcity a{color:#E10505;margin-left: 5px}
.licaiinter .lcareabox{padding: 8px 8px 0px;zoom:1;}
.licaiinter .lcareabox dl{overflow:hidden;zoom:1;padding-bottom: 5px;margin-bottom: 5px}
.licaiinter .lcareabox dl dt{float:left;width: 42px;font-weight: bold;line-height: 22px}
.licaiinter .lcareabox dl dd{float:left;width: 650px;display:inline;  }
.licaiinter .lcareabox dl dd a{ font-family: Arial;font-size: 12px; margin: 0 8px 3px 0;display:inline-block;padding:1px 3px 0;*padding: 2px 3px 0;line-height: 19px}
.licaiinter .lcareabox dl dd a:hover{color:#fff;background: #247DBA;text-decoration:none;}
.licaiinter .lcareabox .all { background:#247DBA; color: #FFFFFF; }
.licaiinter .lcareabox .lkmore { background:url(../images/yuye_sjx2.png) no-repeat right 7px;padding-right: 12px;color:#666666;}
.licaiinter .lcareabox .lkmore:hover{ background:url(../images/yuye_sjx1.png) no-repeat right 7px;color:#247DBA;}
.licaiinter .lcareabox .lines{margin: 0 8px 0px 0;display:inline-block;vertical-align:middle; }
.licaiinter .lcareabox .diqulink{border:1px #F3DCB1 solid;background: #FCF5E0;zoom:1;padding: 2px 5px;margin: 3px 0 }
.licaiinter .lcareabox .diqulink a{font-family: Arial;color:#CC6600;font-size: 12px; margin: 0 8px 3px 0;display:inline-block;padding:1px 3px 0;*padding: 2px 3px 0;line-height: 19px}
.licaiinter .lcareabox .diqulink a:hover{color:#fff;background: #CC6600;text-decoration:none;}
.licaiinter .lcareabox .diqulink .on{color:#fff;background: #CC6600;text-decoration:none;}

.tuijianbox{border:1px #F3DCB1 solid;}
.tuijianbox .tjhead{    background: none repeat scroll 0 0 #FCF5E0;
    height: 28px;
    line-height: 28px;
    padding: 5px 0;
    position: relative;}
.tuijianbox .tjhead h3{float:left;padding-left: 10px;font-size: 14px;color:#666666;}
.tuijianbox .tjhead .subcity{position:absolute;right:5px;top:0px;color:#CC6600;}
.tuijianbox .tjlistbox{padding: 15px 0 5px 8px;}
.tuijianbox .tjlistbox li{float:left;display:inline; margin-right: 25px;width: 95px;text-align:center;}
.tuijianbox .tjlistbox .tjnames{padding: 7px 0 ;font-size: 14px;}
.tuijianbox .tjlistbox .tjnames a{font-size: 14px;font-weight: bold;}
.tuijianbox .tjlistbox .qqtalk{vertical-align:middle;}
.tuijianbox .tjlistbox .lastbox{margin-right: 0px;}
.tuijianbox .tjlistbox .linkzj{color:#E10505;}


.yinyenav {background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #DDDDDD;
    height: 36px;
    position: relative;
    border-bottom: none;
}

.yinyenav ul {
    position: absolute;
    left: 5px;
    top: 4px;
}

.yinyenav ul li {
    display: inline;
    float: left;
    height: 33px;
    line-height: 33px;
    margin-left: -1px;
    width: 86px;
}
.yinyenav ul li a {
    background: url("../images/yinyenavline.png") no-repeat scroll right 5px transparent;
    color: #636363;
    display: inline-block;
    font-size: 12px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    width: 86px;
}

.yinyenav ul .active a {
    background: url("../images/yinyenavbg.png") no-repeat scroll 0 0 transparent;
    color: #247DBA;
}
.yinyenav .yinyelist li a{display:inline-block;width:86px; height:33px;line-height: 33px;text-align:center;color:#636363;font-size: 12px;background:url(../images/yinyenavline.png) no-repeat right 5px;}
.yinyenav .yinyelist .on a{color:#247DBA; font-weight:bold;}
.yinyenav .yinyelist .firstli{margin-left: 1px}
.yinyenav .yinyelist .lastli{background: none;}
.yinyenav ul .lastli a {
    background: none repeat scroll 0 0 transparent;
}
.yiyetop {border:1px #DDDDDD solid;margin-bottom: 10px;height:auto!important;height: 172px;min-height: 172px;width: 100%}
.yiyetop .photo {float: left;text-align: center;width: 170px;padding-top: 20px;display: none;}
.yiyetop .info {float: left;padding:0 10px;}
.yiyetop .info h3 {border-bottom: 1px solid #DDDDDD;font-family: Microsoft Yahei; font-size: 20px; font-weight: 400; padding: 5px 0 4px;}
.yiyetop .info h3 a{font-size: 20px; }
.yiyetop .info dl {color: #666666; font-size: 12px; line-height: 22px;padding: 8px 0}
.yiyetop .info dl dt{margin-bottom: 5px}
.yiyetop .info dl dd{margin-bottom: 5px}
.yiyetop .info dl strong{font-weight:bold}
.yiyetop .info h3 span.fr{padding:5px 0; }
.yiyetop .info h3 span a{font-size: 12px;}
.kaihubox{margin-bottom: 15px;}
.kaihubox .khnavbox {overflow:hidden;zoom:1;background:url(../images/kaihunav_bg.png) no-repeat right; height:36px;}
.kaihubox .khnavbox ul{}
.kaihubox .khnavbox li{float:left; height:36px;}
.kaihubox .khnavbox li a{float:left;display:block;color:#666666;font:14px/34px \5FAE\8F6F\96C5\9ED1;width: 100px;text-align:center; height:36px;}
.kaihubox .khnavbox .on{background:url(../images/bg_khlistrpx_R.png) no-repeat right; padding-right:10px;}
.kaihubox .khnavbox .on a{color:#247DBA;background:url(../images/bg_khlistrpx_L.png) no-repeat left; padding-left:10px;}
.kaihubox .khnavbox .on a:hover{ text-decoration:none;}
.kaihubox .khnavbox .noselect a{background:url(../images/line.gif) no-repeat left;}
.kaihubox .khnavbox .noselect a:hover{ color:#247DBA; text-decoration:none;}
.kaihubox .khnavbox .lastselect a{background:url(../images/line.gif) no-repeat left;}
.kaihubox .khnavbox .lastselect a:hover{color:#247DBA; text-decoration:none;}
.kaihubox .khnavbox .long{width: 173px;}
.kaihubox .khconbox{zoom:1; border:1px solid #ddd; border-top:none;}
.kaihubox .khformbox{float:left;display:inline; padding: 20px 0 10px;margin-left: 10px}
.kaihubox .khformbox li{margin-bottom: 10px;}
.kaihubox .khformbox li label{display:inline-block; width: 120px;text-align:right;font:14px/20px \5FAE\8F6F\96C5\9ED1;color:#6F6F6F;}
.kaihubox .khformbox .khinput{border:1px #CCCCCC solid;padding: 2px 4px;height: 18px;line-height: 18px;width: 200px}
.kaihubox .khformbox .khinput-erro{border:1px #FF9898 solid;}
.kaihubox .khformbox .errotxt{color:#FF0101;padding: 3px 0 3px 130px;}
.kaihubox .khformbox .linksyue{width:152px; height:40px;overflow:hidden;display:inline-block;background:url(../images/btnsyue.png) no-repeat 0 0 ;margin: 10px 0 0}
.kaihubox .khformbox .linksyue:hover{filter:alpha(opacity=80); opacity: 0.80; }

.kaihubox .subkhcon{float:left;display:inline;font:14px/20px \5FAE\8F6F\96C5\9ED1;color:#909090;margin-left: 25px;margin-top:10px;line-height: 25px;border-left: 1px #E6E6E6 solid;padding:10px 0 10px 25px}
.kaihubox .subkhcon .tithead{font-size: 16px;font-weight: bold;margin-bottom: 5px;color:#666666;}
.kaihubox .khstepbox{background:#F7F7F7;border-top: 1px #EBEBEB solid;}
.firstselect{background:url(../images/line.gif) no-repeat left;}


.yyshowimg{border:1px #E1DFDF solid;background: #F8F8F8;margin-bottom: 10px;}
.yyshowimg .showhd{margin: 0 15px;border-bottom: 1px #E6E6E6 solid;padding: 4px 0 0;}
.yyshowimg .showhd h3{color:#434343;line-height: 25px;float:left;display:inline;font-size: 14px;padding-top: 4px}
.yyshowimg .showhd .linksub{float:right;display:inline;padding: 5px 0  0}
.yyshowimg .showhd .linksub .linkleft{display:inline-block; width:21px; height:21px;overflow:hidden;background:url(../images/iclunbo.png) no-repeat 0 0; }
.yyshowimg .showhd .linksub .linkleft:hover{filter:alpha(opacity=80); opacity: 0.80; }
.yyshowimg .showhd .linksub .linkright{display:inline-block; width:21px; height:21px;overflow:hidden;background:url(../images/iclunbo.png) no-repeat -28px 0;margin-left:4px }
.yyshowimg .showhd .linksub .linkright:hover{filter:alpha(opacity=80); opacity: 0.80; }
.yyshowimg .showlist{padding:15px 20px 5px;*padding:15px 20px 15px;overflow:hidden;zoom:1;}
.yyshowimg .showlist ul{}
.yyshowimg .showlist ul li{float:left;display:inline;margin-bottom: 15px;width: 200px}

.yyshowimg .showlistbig{padding:10px 0 0;}
.yyshowimg .showlistbig ul{padding-left: 5px}
.yyshowimg .showlistbig ul li{float:left;display:inline; margin-left: 10px;margin-bottom: 15px}
.yyshowimg .showlistbig ul li img{border:1px #E0DEDF solid;width:335px; height:230px;display:block; }


.userinqa{border:1px #DDDDDD solid;background: #FAFCFF;margin-bottom: 10px}
.quickqa{padding-left: 10px}
.quickqa .qktitbox{padding: 5px 0;padding-left: 20px;color:#424345;background:url(../images/iconqa.png) no-repeat 0 8px;line-height: 25px;margin: 4px 0 0 3px}
.quickqa .qktitbox strong{font-weight: bold;font-size: 14px;}
.quickqa .qktitbox .subtits{margin-left: 10px;color:#616161;}
.quickqa .tiwentextarea{border:1px #A3B6D3 solid;padding: 8px;width: 96%;margin-bottom: 15px;background: #fff;font-size: 14px;height: 130px}
.quickqa .qabtns{text-align:right;padding-right: 13px;padding-bottom: 10px}
.quickqa .linkti{display:inline-block;border:1px #175F8A solid;width: 100px;text-align:center;line-height:27px;color:#fff;background:url(../images/btnbgrpx.png) repeat-x 0 0; }
.quickqa .linkti:hover{filter:alpha(opacity=80); opacity: 0.80;text-decoration:none;}
.quickqa .linksou{display:inline-block;margin-left: 15px; border:1px #82C3F0 solid;width: 100px;text-align:center;line-height:27px;color:#247DBA;background:url(../images/btnbgrpx.png) repeat-x 0 -35px; }
.quickqa .linksou:hover{filter:alpha(opacity=80); opacity: 0.80;text-decoration:none; }

.yyqabox{margin-bottom: 10px}
.duanxinbox{float:right;width: 480px;}

.yytitbox{float:left;display:inline; margin-left: 10px;}
.yytitbox h3{height: 28px;line-height: 28px;padding: 0 5px;background: #247DBA;font-size: 14px;color:#fff;float:left;}
.yytitbox p{float:left;color:#969696;display:inline; margin:8px 0 0 5px}

.yyboxs{border:1px #ECE8D7 solid;}
.wendalist{padding: 8px;}
.wendalist li {padding: 8px 0;border-bottom: 1px #B8B8B8 dotted;}
.wendalist li h3{ background: url("../images/icon02.jpg") no-repeat 2px 4px;margin-bottom: 5px; font-size: 14px; font-weight: bold; line-height: 25px; padding-left: 25px;}
.wendalist li h3 a{font-size: 14px;line-height: 20px }
.wendalist .qst-userinfo{margin-left: 25px;line-height: 20px}
.wendalist .dainfobox{margin:8px 0 0}
.wendalist .datxt{float:left;line-height: 20px;color:#666666; }
.wendalist .dainfo{float:left;width:620px;line-height: 20px;color:#666666;font-size:12px;}
.wendalist .dainfo p{font-size:12px}

.dxlistbox{padding: 8px;zoom:1;}
.dxlistbox .titduanxin{color:#666666;padding: 8px 0 15px 10px;zoom:1;}
.dxlistbox .titduanxin .jsname{font-size: 14px;margin: 0 5px;}
.dxlistbox .dxinfobox{padding: 10px;position:relative;zoom:1;line-height: 20px;color:#434343;border:1px #DDDDDD solid;background: #FFFEF5;margin-bottom: 8px}
.dxlistbox .iconarr{position:absolute;left:30px;top:-11px;width:22px; height:11px;overflow:hidden;background:url(../images/tipsarr.png) no-repeat;}

.btns{margin: 5px 0}
.btns .linksmore{display:block;text-align:center;width:95%; height:35px;line-height: 35px;background:url(../images/kaihunav.png) repeat-x 0 -1px;border:1px #DEDEDE solid;margin: 5px auto; }

.userinqa .subquick{float:right;width: 245px;padding: 5px 5px 0 0}

.openvipbox{border:1px #DDDDDD solid;zoom:1;}

.titopenvip{ clear:both; background:url("../images/titlebg.png") repeat-x bottom;  line-height:32px;}
.titopenvip li{ float:left; padding:0 15px; border-right:1px solid #ddd;}
.titopenvip li.cur{ background:#fff url(../images/GrayToWhite.png) repeat-x top;}
.titopenvip li a{ font-size:14px; font-weight:bold; color:#555;}
.titopenvip li a:hover{color:#247DBA; text-decoration:none;}
.titopenvip li.cur a{ color:#247DBA;}
.titopenvip li.cur a:hover{ text-decoration:none; color:#247DBA; cursor:auto}
.titopenvip h3{font:16px/40px \5FAE\8F6F\96C5\9ED1;padding-left: 15px; border-bottom: 2px solid #ddd;}
.titopenvip p{ clear:both; background-color:#f7f7f7; height:36px; line-height:36px;padding-left:10px; border-bottom:1px solid #ddd;}
.titopenvip p a{font-size: 14px;color:#808080;height: 26px;line-height: 26px;text-align:center; padding:0 10px; }

.titopenvip-submenu{ background-color:#eff7ff; height:24px; line-height:24px;}
.titopenvip-submenu li{ float:left; border-right:2px solid #fff; width:80px; text-align:center;}
.titopenvip-submenu li.cur{ background-color:#adcfef; position:relative;}
.titopenvip-submenu li.cur span{ position:absolute; top:24px; left:37px; background:url(../images/down_cur.gif) no-repeat; display:inline-block; width:7px; height:4px;}
.titopenvip-submenu li.cur a:hover{ text-decoration:none; cursor:auto;}
.titopenvip-submenu li a{ display:inline-block; padding:0 10px; }
.titopenvip-submenu li.cur a{ color:#fff;}

.openvipinfo{padding: 10px; clear:both;}
.openvipinfo dt{padding-left: 20px;color:#333333;background:url(../images/iconarr.png) no-repeat 5px 3px;line-height: 25px;font-size:14px;border-bottom: 1px #EAEAEA solid;margin-bottom: 10px }
.openvipinfo dd{font-size:13px;margin-bottom:5px;color:#666666;line-height: 20px;padding-left: 20px }

.juliyybox li{border-bottom: 1px #DDDDDD dotted;padding-bottom: 5px;margin-bottom: 10px;color:#999999;}
.juliyybox .yynamebox{margin-bottom: 8px}
.juliyybox .yyname{font-size: 14px;}
.juliyybox .cred{color:#CC0000;}
.xiangshou{padding: 0 0 1px;}
.juliyybox{border-top: 1px #DFDFDF solid;padding: 8px 6px}
.juliyybox dt{ padding:10px 0;}
.juliyybox dd{ border-bottom:1px solid #f3f3f3; padding-bottom:8px; font-size:12px; color:#999; padding-left:12px;}
.zylcgwtj-name{ font-size:12px; font-weight:bold; color:#333; padding-left:10px; padding-top:5px;}
.juliyybox p.zylcgwtj{ padding-left:10px; padding-bottom:3px; padding-top:8px; color:#444;}
.juliyybox p.zylcgwtj a{font-size:14px; font-weight:bold; font-family:"Microsoft Yahei"}
.star{ float:right;}


.yyqamainbox{margin-bottom: 10px}
.duanxinmainbox{margin-bottom: 10px}
.duanxin-qa{border:1px #DDDDDD solid;margin-bottom: 10px;width: 698px;padding-right: 10px;padding-bottom: 15px}
.duanxin-qa .qktitbox{background:url(../images/iconphone.png) no-repeat 0 7px}
.duanxin-qa .tiwentextarea{    height: 100px;}


.about-zjbox{margin:10px;padding-top: 15px;color:#434343;font-size: 14px;line-height: 22px;}
.about-zjbox p{margin-bottom: 10px}
.gobackyy{padding: 15px 0;text-align:center;}
.onlineyuebox{margin-bottom: 10px}
.subquick .wd-login-content li .wd-input{_width: 205px}

.kh-search-con{border:1px solid #DFDFDF;padding:8px 6px;border-top: 1px #247CBA solid;zoom:1;}
.kh-search-sid{width: 250px;float:left;}
.kh-search-main{width:705px;float:right;}
.kh-search-main .alljsbox{border: 0}
.kh-search-main .alljsbox h2 {border:1px solid #DDDDDD;color:#6A6A6A;}

.kh-serach-area{border:1px #F3DCB0 solid;background: #FCF6E0;zoom:1;}
.kh-serach-area dt{float:left;display:inline; width:65px;font-size: 14px;font-weight: bold;text-align:right;line-height: 32px;color:#444245; }
.kh-serach-area dd{float:left;display:inline; width:880px;font-size: 14px;}
.kh-serach-area .searchcity{padding: 3px 5px 0}
.kh-serach-area .searchcity li a{color:#414244;font-size: 14px;}
.kh-serach-area .searchcity li a:hover{color:#257EBA;}
.kh-serach-area .popcitybox{left: -3px; top: 25px;  }
.kh-serach-area li .popcitybox a{font-size: 12px;}
.kh-serach-area li .popcitybox a:hover{color:#FF0101;}
.kh-serach-area .popcitybox .iconarr{position:absolute;left:20px;top:-11px;width:22px; height:11px;overflow:hidden;background:url(../images/tipsarr.png) no-repeat;}

.kh-search-con .citytitbox{border-bottom: 1px #E0E0E0 solid;margin: 20px 0 0px;font-size: 14px;font-weight: bold;color:#424242;line-height: 25px;padding-left: 5px}
.kh-search-con .qh-city-content{border:0;}

.kh-search-con .qh-city-content dt{float:left;display:inline; width:65px;font-size: 14px;font-weight: bold;text-align:right;line-height: 32px;color:#444245; }
.kh-search-con .qh-city-content dd{float:left;display:inline; width:880px;font-size: 14px;}
.kh-search-con .qh-city-content dd a{display:inline-block; font-size: 14px}


.qh-mt h2.noit{background: #fff;color:#247CBA;}

.headnonav{border-bottom: 2px #3186BC solid;}
.yuyueliyou{margin:15px auto ;width: 980px;padding-bottom: 1px}
.kh_interestcon{padding: 10px;}
.kh_interestcon ul{margin: 0}
.kh_interestcon li{line-height: 20px;font-size: 14px;padding-left: 5px;margin-bottom: 3px}
.kh_interestcon li a{color:#247DBA;font-size: 14px;}

.yybstar-hd {font-size: 14px;text-indent: 40px;line-height: 40px;color:#247DBA;}
.yybstar{margin-bottom: 10px;}
.linkmoresub{color:#666666!important;line-height: 40px}

.duanxinlist{border:1px #DDDDDD solid;padding: 10px;color:#434343;line-height: 22px;margin-bottom: 10px; background-color:#fffef5;}
.duanxinlist .dxbtnsbox{margin-top:10px;height: 25px;}
.duanxinlist .dxbtnsbox .datebox{float:left;display:inline;line-height: 23px}
.duanxinlist .dxbtnsbox .linkqqzx{float:right;width:63px; height:23px;line-height: 23px;text-align:center;background:url(../images/btnqqzx.png) no-repeat; }

.yuyue-commen-errorMessage{zoom:1;}

.banknetbox{border:1px #DDDDDD solid;padding: 10px;margin-bottom: 10px}
.banknetbox .titbanks{border-bottom:1px #E4E4E4 solid;padding-bottom: 5px;}
.banknetbox .titbanks h3{float:left;display:inline; font-size: 14px;margin-right: 5px;color:#333333;}
.banknetbox .titbanks .subtitbank{float:right;display:inline; color:#666666;padding-top: 3px}
.banknetbox .titbanks .changcity{float:left;display:inline;position:relative;}
.banknetbox .titbanks .nowcity{display:inline-block; padding:2px 4px;background: #247DBA;color:#fff;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px; }
.banknetbox .titbanks .nowcity a{color:#fff;}

.banknetbox .bankarealist{background: #EAF5F9;font-size: 14px;padding: 10px;line-height: 22px;margin: 3px 0 10px}
.banknetbox .bankarealist a{font-size: 14px;margin-right: 10px}
.banknetbox .bankarealist .mainarea{margin-bottom: 5px;}

.banknetbox .mapsbox{margin: 5px 0 25px}
.banknetbox .antherbank{margin: 10px 0;zoom:1;overflow:hidden;}
.banknetbox .antherbank li{float:left;display:inline; margin-right: 15px;font-size: 14px;}
.banknetbox .antherbank li a{font-size: 14px;}

.nolbox{border:1px #DDDDDD solid;margin-bottom: 10px}
.nolbox h2{border-bottom:1px #DDDDDD solid;background: url(../images/TitleBG.jpg) repeat-x 0 0 ;color: #333333;font-size: 14px;font-weight: bold;height: 30px;line-height: 30px;padding-left: 10px;}

.zdzjlistbox{padding:15px 0 0px 25px; }
.zdzjlistbox li{float:left;display:inline; margin-right:20px;margin-bottom: 15px }
.zdzjlistbox li img{display:block;border:1px #DDDDDD solid; }

.gpkhlistbox {padding:15px 0 15px 25px;zoom:1; }
.gpkhlistbox li{background: url(../images/icon02.jpg) no-repeat 0 5px;padding-left: 20px;line-height: 22px;margin-bottom: 5px }
.gpkhlistbox li a{font-size: 14px;}

/* 注册区别入口 */
.reg-mianbox{width: 960px;margin: 20px auto;}
.reg-mianbox .reglogobox{width: 960px;margin:0px auto 20px;}
.reginfobox{border:1px #DDDDDD solid;margin-bottom: 15px}
.reginfobox .regtit{border-bottom:1px #DDDDDD solid;background: url(../images/TitleBG.jpg) repeat-x;height: 30px;}
.reginfobox .regtit h2{float:left;font-size: 14px;line-height: 32px;padding-left: 10px}
.reginfobox .subtit{float:right;padding-right: 10px;line-height: 30px;}

.reginfobox .regtittop{height: 30px;border-bottom:2px #247DBA solid;margin: 15px 10px;position:relative;}
.reginfobox .regtittop .navlist{position:absolute;left:120px;top:2px;}
.reginfobox .regtittop .navlist li{font:16px/28px \5FAE\8F6F\96C5\9ED1;cursor: pointer;float:left;display:inline; margin: 0 5px 0 0px;width:105px; height:30px;text-align:center;}
.reginfobox .regtittop .navlist .on{background: url(../images/regnavbg.png) no-repeat;color:#247DBA;}

.reginfobox .regformbox{padding: 15px 10px;position:relative;zoom:1;}
.reginfobox .regformbox .formlist{overflow:hidden;zoom:1;margin-bottom: 15px;}
.reginfobox .regformbox .formlist label{float:left;width:90px;padding-right: 5px;text-align:right;font-size: 14px;line-height: 30px; }
.reginfobox .regformbox .formlist .reginput{float:left;border:1px #DDDDDD solid;width:250px;padding: 2px 4px;font-size: 14px;line-height: 25px;height: 25px }
.reginfobox .regformbox .formlist .erroinput{border:1px #FF0000 solid;color:#FF0000;}
.reginfobox .regformbox .formlist .cleartips{clear:both;padding-top: 5px;padding-left: 100px;color:#666666;font-size:12px;}
.reginfobox .regformbox .formlist .errorMessage{clear:both;padding-top: 5px;padding-left: 100px;color:#FF0000;}
.reginfobox .regformbox .formlist .errotips{color:gray;}
.reginfobox .regformbox .formlist .pwtips{float:left;display:none; margin: 10px 0 0 8px;zoom:1;}
.reginfobox .regformbox .formlist .pwtips span{display:inline-block; width: 40px;text-align:center;background: #C4C4C4;margin-right: 1px;color:#fff;}
.reginfobox .regformbox .formlist .pwtips .pwt01{background: #F79100}
.reginfobox .regformbox .formlist .pwtips .pwt02{background: #9e9c11}
.reginfobox .regformbox .formlist .pwtips .pwt03{background: #13a907}
.reginfobox .regformbox .formlist.success span{display:inline-block;}
.reginfobox .regformbox .formlist.error .cleartips{display: none;}
.reginfobox .regformbox .formlist.error input{border:1px #FF0000 solid;color:#FF0000;}
.reginfobox .regformbox .formlist span{padding-left:10px;line-height: 30px;}
.reginfobox .regformbox .linkxiyi{display:inline-block;margin: 15px 0; width:170px; height:32px;text-align:center;line-height: 32px;color:#fff;font-size: 14px;font-weight: bold;background: url(../images/btnxiyi.png) no-repeat;border: none;cursor:pointer;}
.reginfobox .xieyibox{margin: 10px 0 30px 95px;border:1px #DDDDDD solid;padding: 10px;height:150px;line-height: 22px;overflow-y:auto;color:#666666;width:720px; }
.reginfobox .xieyibox h3{font-size: 14px;font-weight: bold;text-align:center;}

.reginfobox .wologit{position:absolute;right:20px;top:20px;color:#333333;}
.reginfobox .guwenstep{position:absolute;right:20px;top:20px;}

.reginfobox .guwenimg{text-align:center;margin: 10px 0 30px;}

.reginfobox .regokbox{position:relative;margin: 30px 0 40px 40px;padding-left: 70px;font-size: 14px;color:#676767;line-height: 28px;zoom:1;}
.reginfobox .regokbox .iconok{width:50px; height:50px;position:absolute;left:0px;top:0px;background: url(../images/iconok.png) no-repeat;}
.reginfobox .regokbox .txtmail{font-family:Verdana;font-size: 18px;color:#339933;margin: 5px 0 20px}
.reginfobox .regokbox a{font-size: 14px;color:#247DBA;}
.reginfobox .regokbox a.imp{color:#C60606;}

/* 关于金斧子 */
.ab-sider{float:left;display:inline; width: 188px;border:1px #DDDDDD solid;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.ab-con{float:right;display:inline; width: 770px;border:1px #DDDDDD solid;}
.ab-con strong{font-weight: bold;}

.ab-sider h2{padding-left: 20px;background: url(../images/about/bgtit.png) repeat-x;font:14px/30px \5FAE\8F6F\96C5\9ED1;color:#696969;border-bottom: 1px #D6D6D6 solid;}
.ab-sider .sidnavlist{padding: 10px 0 20px;}
.ab-sider .sidnavlist li{height: 29px;line-height: 29px;border-bottom: 1px #D6D6D6 dashed;}
.ab-sider .sidnavlist li a{display:block;height: 29px;line-height: 29px;padding-left: 35px;background: url(../images/about/sidlist.png) no-repeat 20px 10px;color:#000;}
.ab-sider .sidnavlist .on{background: #D9EFFD}

.ab-con .aboutinfo{overflow:hidden;zoom:1;padding: 10px 10px 30px;}
.ab-con .ourcontxt{float:left;width: 455px;display:inline; margin-left: 10px;line-height: 22px}
.ab-con .ourcontxt p{margin-bottom: 25px;text-indent:2em;}
.ab-con .ourconimg{float:right;}
.ab-con .ourcontxt02 p{margin-bottom: 5px;text-indent:0em;font-size: 14px;}
.ab-con .ourcontxt02 .ourname{font:bold 18px/30px \5FAE\8F6F\96C5\9ED1;margin-bottom: 10px}
.ab-con .maps{padding: 20px 0 0 10px;font-size: 14px;line-height: 22px }

.ab-con .ourcontxt_us{float:left;display:inline; margin-left: 10px;line-height: 22px}
.ab-con .ourcontxt_us p{margin-bottom: 25px;text-indent:2em;}

.ab-con .jfz-anther{margin: 12px}
.ab-con .jfz-anther h3{font-size: 14px;font-weight: bold;color:#717171;line-height: 28px;padding-left: 5px;border-bottom: 1px #E5E5E5 solid;margin-bottom: 10px;}
.ab-con .jfz-anther .antherlist{overflow:hidden;zoom:1;width: 740px;}
.ab-con .jfz-anther .antherlist ul{overflow:hidden;zoom:1;width: 800px;}
.ab-con .jfz-anther .antherlist li{float:left;display:inline; margin-right: 10px;margin-bottom: 10px}
.ab-con .jfz-anther .antherlist li img{display:block;border:1px #E5E1E1 solid;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}

.ab-con .fuwucon{padding: 10px;color:#666666;line-height: 20px;}
.ab-con .fuwucon dl dt{font-weight: bold;margin-bottom: 5px;}
.ab-con .fuwucon dl dd{margin-bottom: 20px;}

.ab-con .links-yaoqiu{padding: 0px 0 10px 10px;font-size: 14px; color:#247DBA;line-height: 28px; }
.ab-con .links-yaoqiu h3{font-size: 14px;font-weight: bold;margin-bottom: 10px}
.ab-con .links-yaoqiu .txthz{margin: 15px 0}
.ab-con .links-yaoqiu .colortxt{color:#333333;font-family:Verdana }
.ab-con .links-yaoqiu .txt12{font-size: 12px;color:#333;}

.ab-con .youlinks{margin: 20px 0;overflow:hidden;zoom:1;}
.ab-con .youlinks h3{font-size: 14px;font-weight: bold;color:#333333;line-height: 28px;padding-left: 5px;border-bottom: 1px #E5E5E5 solid;margin-bottom: 10px;}
.ab-con .youlinks .linkslist li{float:left;display:inline; margin:0 15px 10px 5px;}

.ab-con .fangkui{margin: 30px 10px 30px;overflow:hidden;zoom:1;}
.ab-con .fangkui .fkformlist{margin-bottom: 10px;font-size: 14px;overflow:hidden;zoom:1;color:#666666;}
.ab-con .fangkui .fkformlist label{float:left;display:inline; width: 90px;text-align:right;padding-right: 5px;line-height: 22px;vertical-align:top;}
.ab-con .fangkui .fkformlist .fkinput{border:1px #DDDDDD solid;padding: 2px 4px;height: 20px;line-height: 20px;width: 300px}
.ab-con .fangkui .fkformlist .kdinarea{border:1px #DDDDDD solid;padding: 2px 4px;height: 20px;line-height: 20px;width: 400px;font-size: 13px;height: 100px;overflow:auto;background: #fff}
.ab-con .fangkui .btns{margin-top: 50px;}
.ab-con .fangkui .fkformlist .linkfkget{display:inline-block;font-size: 14px;color:#666666; width:100px; height:30px;line-height: 30px;text-align:center;background: url(../images/about/bgtit.png) repeat-x;border:1px #CCCCCC solid; }

.ab-con .jobbox h2{height: 30px;cursor: pointer;font:16px/30px \5FAE\8F6F\96C5\9ED1;padding-left: 23px;background:#DFEDF8 url(../images/about/ichid.png) no-repeat 5px 10px;margin-bottom: 10px; }
.ab-con .jobbox .showjob{background:#DFEDF8 url(../images/about/icshow.png) no-repeat 5px 10px;}
.ab-con .jobbox .jobinfos{padding: 10px 20px 40px 23px;font-size: 14px;line-height: 25px;color:#333333;}
.ab-con .jobbox .jobinfos .duan{margin-bottom: 30px}
.ab-con .jobbox .jobinfos .linkshenqin{display:inline-block; width:102px;text-align:center;height:38px;font:14px/36px \5FAE\8F6F\96C5\9ED1;color:#fff;background:url(../images/about/btnjob.png) no-repeat 0 0}
.ab-con .jobbox .jobinfos .linkshenqin:hover{text-decoration:none;filter:alpha(opacity=85); opacity: 0.85; }
.ab-con .jobbox .jobinfos .linkshouchan{display:inline-block; width:102px; text-align:center;height:38px;font:14px/36px \5FAE\8F6F\96C5\9ED1;color:#fff;background:url(../images/about/btnjob.png) no-repeat -110px 0}
.ab-con .jobbox .jobinfos .linkshouchan:hover{text-decoration:none;filter:alpha(opacity=85); opacity: 0.85; }

.ab-con .inpartbox{margin-bottom: 20px;overflow:hidden;zoom:1;padding: 5px 10px 20px}
.ab-con .inpartbox .inter{width:343px;height: 248px;float:left;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px; }
.ab-con .inpartbox .inter h2{font-size: 14px;text-align:center;padding: 15px 0 20px;color:#666666;}
.ab-con .inpartbox .inter .inlinks li{text-align:center;margin-bottom: 15px}
.ab-con .inpartbox .inter .inlinks li a{width:121px; height:31px;display:inline-block;line-height: 31px;text-align:center;color:#666666;background:url(../images/about/yuebtn01.png) no-repeat 0 0}
.ab-con .inpartbox .in01{border:1px #EEEEE4 solid;background: #FFFFF7}
.ab-con .inpartbox .in02{border:1px #E5ECEF solid;background: #F6F9FA;float:right;}
.ab-con .inpartbox .in02 .inlinks li a{background:url(../images/about/yuebtn02.png) no-repeat 0 0}

.ab-con .helppart{margin: 20px 0;overflow:hidden;zoom:1;color:#666666;}
.ab-con .helppart h3{font-size: 14px;font-weight: bold;line-height: 28px;padding-left: 5px;}
.ab-con .helppart .helpconbox{border:1px #DDDDDD solid;}
.ab-con .helppart .helpnavtop{background: #F5F5F5;border-bottom: 1px #DDDDDD solid;height: 28px;position:relative;}
.ab-con .helppart .helpnavtop ul{position:absolute;left:20px;top:3px;}
.ab-con .helppart .helpnavtop ul li{float:left;display:inline; width: 100px;text-align:center;line-height: 25px;height: 25px;cursor: pointer;}
.ab-con .helppart .helpnavtop ul li.on{border:1px #DDDDDD solid;background: #fff;border-bottom: none;font-weight: bold;}
.ab-con .helppart .helplist{padding: 10px;overflow:hidden;zoom:1;}
.ab-con .helppart .helplist ul{width:345px;line-height: 22px; }
.ab-con .helppart .helplist p{margin-bottom: 8px}

.ab-con .suggestion{ border-bottom:none; padding-bottom:0; margin-bottom:0;}
.ab-con .suggestion td{ padding:4px;}
.ab-con .suggestion td em{ padding-left:10px; color:#999;}
.ab-con .input-text{ width:300px; height:28px; line-height:28px; padding-left:6px; border:1px solid #ddd;}
.ab-con .input-textarea{width:100%; height:100px; line-height:28px; padding-left:6px; border:1px solid #ddd; background-color:#FFF;}
.ab-con .input-test-code{ width:100px; height:28px; line-height:28px; padding-left:6px; border:1px solid #ddd;}
.ab-con .suggestion .hd h2{ text-align:left; float:left;}
.ab-con .suggestion .hd em{ text-align:left; float:left; padding-left:10px; padding-top:6px; color:#666;}
.ab-con .other-contacts{ border-top:1px solid #ddd; padding-top:20px; }
.ab-con .other-contacts dt{ font-size:14px; padding-bottom:4px;}
.ab-con .other-contacts dd{ color:#666;}

.ab-con .tab-select{ border-bottom:1px solid #1071bd;}
.ab-con .tab-select-on, .ab-con .tab-select-off{ padding:0 20px; height:28px; line-height:28px; display:inline-block;margin-bottom:-1px; margin-left:10px;}
.ab-con .tab-select-on{ border:1px solid #1071bd; border-bottom-color:#FFF;   color:#333;}
.ab-con .tab-select-on:hover{ text-decoration:none;}
.ab-con .tab-select-off{ border:1px solid #d6d6d6;border-bottom:none;  background-color:#efefef; color:#aaa;}

.eject-windows{ width:360px; height:160px; border:1px solid #ccc; margin:10px auto; font-family:"Microsoft Yahei"; text-align:center; padding:10px; }
.eject-windows .hd{ margin:10px auto;}
.eject-windows .hd h2{ margin:0 auto; background: url(../images/about/ok.png) no-repeat left center; padding-left:30px; width:200px; font-size:24px;font-weight:normal;}
.eject-windows .bd{ color:#666;}
.submit-yellow{ background:#ff7c10 url(../images/about/yellow-btn.png) repeat-x bottom; display:inline-block; border:1px solid #e75d00; cursor:pointer; height:26px; line-height:26px; padding:0 20px; color:#FFF; margin:20px 0;}
.pzimgbox{margin-bottom: 10px;}
.dianping{font-size: 14px;line-height: 24px;color:#434343;}
.dianping strong{font-weight: bold;}

.aboutinfo  .hd{ border-bottom:1px dashed #CCC;}
.aboutinfo  .hd h3{ font-size:18px; padding:5px 10px; color:#666; font-family:"Microsoft Yahei"; font-weight:normal;}
.aboutinfo-newslist{ font-family:"Microsoft Yahei"; margin-bottom:15px; border-bottom:1px dashed #CCC; padding-bottom:15px; padding-top:8px;}
.aboutinfo-news{margin-bottom:15px; border-bottom:1px dashed #CCC; padding-bottom:15px;}
.aboutinfo-newslist li{ padding:3px 0; background:url(../images/dotter.jpg) no-repeat 5px center; padding-left:18px;}
.aboutinfo-newslist li a{ font-size:14px; display:inline-block; position:relative; }
.aboutinfo-newslist li a span{ position:absolute; right:-10px; top:-10px;}
.aboutinfo-newslist li em{ padding-left:20px; color:#999;}
.aboutinfo-news{ font-family:"Microsoft Yahei";}
.aboutinfo-news .hd{ text-align:center; padding:10px; border-bottom:1px dashed #CCC;}
.aboutinfo-news .hd h2{ font-size:18px; font-weight:normal;}
.aboutinfo-news .hd p{ font-size:12px; color:#999; padding-top:10px;}
.aboutinfo-news .bd{ color:#333; line-height:24px; padding:10px 20px;}
.aboutinfo-news .bd p{ padding-bottom:10px;}
.aboutinfo-news .errorMessage{color:#FF0000;}
.pzimgbox{margin-bottom: 10px;}
.dianping{font-size: 14px;line-height: 24px;color:#434343;}
.dianping strong{font-weight: bold;}

.licaigw{margin-bottom: 10px;}
.licaigw .lctit{line-height: 27px;height: 27px;border-bottom: 1px #DBDBDB solid}
.licaigw .lctit h2{line-height: 27px;height: 27px;border-bottom: 1px #0081DE solid;font-size: 14px;color:#247DBA;position:absolute;padding-right: 10px}
.licaigw .lclist{overflow:hidden;zoom:1;padding: 10px 0 0;}
.licaigw .lclist li{float:left;display:inline; width: 44%;margin-bottom: 10px}
.licaigw .lclist .lcinfos{line-height: 25px}
.licaigw .lclist .lcuser{float:left;display:inline; margin-right: 10px;text-align:center;}
.licaigw .lclist .lcuser img{margin-bottom: 8px}
.licaigw .lclist .lcuser a{font-weight: bold;}
.licaigw .lclist .btns{display:inline-block; width:62px; height:23px;line-height: 23px;color:#fff;background:url(../images/mybtns.png) no-repeat 0 0;text-align:center;}
.licaigw .lclist .btns:hover{filter:alpha(opacity=80); opacity: 0.80;text-decoration:none; color:#FFF;}


.heyuetb{width:90%;margin:0px auto;font-size: 12px;}
.heyuetb table{width: 100%;margin: 15px }
.heyuetb td{padding: 5px;border:1px #BABABA solid;font-size: 12px;}

.jinajiebox{line-height: 22px;color:#434343;}
.wentibox{ border-top: 1px solid #DFDFDF;   padding: 8px 10px;line-height: 23px}
.wentibox a{color:#434343;}
h2.bgnot{background: none;height: 30px;overflow:hidden;}
.quicktw {padding: 5px 10px}
.quicktw .tiwentextarea{border:1px #DBDBDB solid;margin-bottom: 10px;width: 100%;color:#999;font-size: 12px;line-height: 18px;background: #fff;height: 80px;overflow: auto;}
.quicktw .twbtn{text-align:right;}
.quicktw .linkti{display:inline-block;border:1px #175F8A solid;width: 80px;text-align:center;line-height:25px;color:#fff;background:url(../images/btnbgrpx.png) repeat-x 0 0; }
.quicktw .linkti:hover{filter:alpha(opacity=80); opacity: 0.80;text-decoration:none; color:#FFF;}
/*分页*/
.listpage{padding: 0px 0 10px;text-align:center; }
.listpage .gomag{margin-left: 30px;}
.listpage .gomag .goinput{height: 18px;line-height: 18px;border:1px #D7D7D7 solid;padding: 2px 4px;width: 30px;vertical-align:middle;margin: 0 3px }
.listpage .gomag .linkcx{height: 18px;line-height: 18px;border:1px #D7D7D7 solid;text-align:center;display:inline-block;vertical-align:middle; ; }
.listpage a{border:1px #D7D7D7 solid;padding: 2px 8px;height: 18px;line-height: 18px;text-align:center;margin: 0 1px;color:#333333;display:inline-block; }
.listpage a.nolink{ color:#999; cursor:auto;}
.listpage a.nolink:hover{ text-decoration:none;}
.listpage a.on{color:#FF6600;border:1px #D7D7D7 solid;}
.listpage .linksup{padding-left: 13px;background:url(../images/xt/pgleft.png) no-repeat 7% 6px;}
.listpage .linksnext{padding-right: 13px;background:url(../images/xt/pgright.png) no-repeat 93% 6px;}
.listpage .pglinks-no{cursor: default;filter:alpha(opacity=50); opacity: 0.50; }
.listpage .pglinks-no:hover{text-decoration:none;}
/*期货品种*/
.sublinksnav{    background-color: #F7F7F7;
    border-bottom: 1px solid #DDDDDD;
    clear: both;
    height: 36px;
    line-height: 36px;
    padding-left: 10px;}
.sublinksnav a{    color: #808080;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    text-align: center;}
.sublinksnav .lines{margin: 0 10px}
/*信托*/
.no-jieguo{padding: 30px 0 40px;text-align:center;font-size: 16px;color:#EC6B02;font-weight: bold;}
.jianyibox{margin-bottom: 18px;}
.jianyibox .jy-conbox{padding: 8px 5px;}
.jianyibox h3{border-bottom: 1px #DDDDDD solid;color:#5E5E5E;line-height: 25px;padding-left: 22px;background:url(../images/xt/iconstjy.png) no-repeat 4px 3px;font-size: 14px;font-weight: bold;}
.jianyibox .jy-input{vertical-align:middle;border:1px #CCCCCC solid;padding: 2px;height: 19px;line-height: 19px;width: 200px;color:#B7B7B7;}
.jianyibox .jy-tijiao{vertical-align:middle;display:inline-block;margin-left: 10px; width:41px; height:23px;line-height: 23px;text-align:center;color:#fff;background:url(../images/xt/btntijiao.png) no-repeat}
.jfz-tuijian{color:#5E5E5E;line-height: 25px;padding-left: 22px;background:url(../images/xt/iconsttj.png) no-repeat 4px 4px;font-size: 14px;font-weight: bold;}
/* 信托浮层 */
.pop-xtpbox{background: #fff;border:1px #DDDDDD solid;position:relative;z-index: 1000}
.p-infotypebox{width: 390px;}
.p-infoformbox{width: 550px;}
.p-infolxbox{width: 420px;}
.pop-xtpbox .pop-xtpconbox{padding:10px 15px 15px;position:relative;}
.pop-xtpbox .p-xttoptit{border-bottom: 2px #DBDBDB solid;zoom:1;}
.pop-xtpbox .p-xttoptit h2{font:18px/30px \5FAE\8F6F\96C5\9ED1;color:#666666;}
.pop-xtpbox .p-xttoptit .subh2{font-size: 13px;margin-left: 6px}
.pop-xtpbox .p-xttoptit .zxname{color:#247DBA;}
.pop-xtpbox .p-xtclose{position:absolute;right:10px;top:10px;width:10px; height:10px;overflow:hidden;text-indent: -9999em;background:url(../images/xt/popclose.png) no-repeat}

.pop-xtpbox .p-typeinfos{padding: 25px 0;text-align:left;}
.pop-xtpbox .p-btnxt{text-align:center;color:#343434;}
.pop-xtpbox .p-btnsure{text-align:center;border:1px #0464A6 solid;background:url(../images/xt/bgbtn-rpx.png) repeat-x;display:inline-block; width:80px; height:24px;line-height: 24px;color:#fff; font-family:"Microsoft Yahei"; font-size:14px;}
.pop-xtpbox .p-btnsure:hover{text-decoration:none;color:#fff;}
.pop-xtpbox .p-daikuancon{border-bottom: 1px #E5E5E5 solid;padding: 22px 0 0px;margin-bottom: 15px;zoom:1;}
.pop-xtpbox .p-daikuancon li{margin-bottom: 17px;}
.pop-xtpbox .p-daikuancon .p-listlb{float:left;display:inline; width: 100px;text-align:right;padding-right: 6px;font-size: 14px;line-height: 25px}
.pop-xtpbox .p-daikuancon .p-indkput{border:1px #DDDDDD solid;width: 250px;height: 20px;line-height: 20px;padding: 2px 4px;font-size: 14px;margin-right: 6px;}
.pop-xtpbox .p-daikuancon .p-indkputred{border-color: #FF0000;color:#FF0000;}
.pop-xtpbox .p-daikuancon .p-redtips{padding:4px 0 0 106px;color:#FF0000;}
.pop-xtpbox .p-myzxtitbox{border-bottom: 1px #DDDDDD solid;background:url(../images/xt/tbtitrpx.png) repeat-x;}
.pop-xtpbox .p-myzxtitbox .sidtits{font-size: 14px;color:#247DBA;line-height: 26px;height: 26px;padding: 3px 0 2px 10px;}
.pop-xtpbox .p-myzxtitbox .sidtits img{margin: 4px 3px 0 0;float:left;display:inline; }
.pop-xtpbox .p-xt-zixun{padding: 10px;font-size: 12px;color:#666666;}
.pop-xtpbox .p-xt-zixun .zixunarea{width: 356px;overflow:auto;border:1px #DDDDDD solid;padding: 6px;height: 100px;margin-bottom: 10px;background: #fff;font-size: 12px;}
.pop-xtpbox .p-xt-zixun .linktj{display:inline-block; float:right;margin-right: 3px;width:71px; height:23px;line-height: 23px;text-align:center;color:#fff;border:1px #0464A6 solid;background:url(../images/xt/bgbtn-rpx.png) repeat-x;}
.pop-xtpbox .p-xt-zixun .linktj:hover{text-decoration:none;filter:alpha(opacity=85); opacity: 0.85; }
.pop-xtpbox .p-xt-zixun .you-txt{line-height: 24px}
.pop-xtpbox .p-headtop{margin: 10px 0;color:#888888;line-height: 22px}
.pop-xtpbox .p-headtop .namep{padding-top: 10px;margin-bottom: 20px}
.pop-xtpbox .p-headtop .headimg{float:left;display:inline; margin: 10px;border:1px #DDDDDD solid;}
.pop-xtpbox .p-headtop .c_name{font-size: 14px;font-weight: bold;color:#555555;}
.pop-xtpbox .p-headtop .lxta{display:inline-block;font-size: 12px;margin-right: 20px ;background:url(../images/xt/bglianxi.png) no-repeat 0 0;width:60px; height:18px;line-height: 18px;text-align:center;color:#fff;}
.pop-xtpbox .p-headtop .lxphone{display:inline-block;margin-right: 12px ;background:url(../images/xt/icphone.png) no-repeat 0 0;padding-left: 22px;line-height: 18px;color:#666666;}
.pop-xtpbox .p-headtop .lxtenxun{display:inline-block;background:url(../images/xt/ictx.png) no-repeat 0 0;padding-left: 22px;line-height: 18px;color:#666666;}
.pop-xtpbox .p-youcan{background: #F3F3F3;padding: 10px;margin-bottom: 10px}
.pop-xtpbox .p-cancon{padding: 10px 0 0px;margin: 0 ;border:0;}
.pop-xtpbox .p-cancon .p-listlb{width: 64px;}
.pop-xtpbox .p-cancon .p-redtips{padding-left: 72px;font-size: 12px; }
.pop-xtpbox .p-btnlxwo{width:106px; height:31px;line-height: 31px;color:#fff;font-size: 14px;font-weight: bold;display:inline-block;background:url(../images/xt/btnbigyue.png) no-repeat }
.pop-xtpbox .p-btnlxwo:hover{text-decoration:none;}
.pop-xtpbox .p-bomtips{line-height: 25px;font-size: 12px;color:#A1A1A1;margin-top: 10px}
.pop-xtpbox .p-bomtips .wxfirst{border-bottom: 1px #EDEDED solid;}