@charset "utf-8";/* CSS Document */
.undis{display:none}
.dis{display:block}
.ind{text-indent:2em}
.ind10{text-indent:10px;}
.noborder{border:0;}
.Q-red a,a.Q-red{color:#bd0a01!important}
.Q-black a,a.Q-black{color:#000!important}
.Q-bold{font-weight:bold!important}
.layout:after,.hd:after,.bd:after,.ft:after,.cf:after,.Q-tList:after,.Q-tList ul:after,.Q-tList ol:after,.Q-pList:after,.Q-pList ul:after,.Q-tpList:after,.Q-tpList ul:after,.Q-tpWrap:after{content:"";display:table;clear:both}
.layout,.hd,.bd,.ft,.cf,.Q-tList,.Q-tList ul,.Q-tList ol,.Q-pList,.Q-pList ul,.Q-tpList,.Q-tpList ul,.Q-tpWrap{*zoom:1}
.cl{clear: both;}
.fl,.layout .fl,.chief{float:left;display:inline}
.fr,.layout .fr,.extra{float:right;display:inline}
.fn{font-weight:normal;}
.layout{width:1000px;margin:0 auto}
.leftArea{width:660px;float:left;}
.rightArea{width:318px;border:1px solid #d2e1f1;background:#fff;float:right;}
.mt8{margin-top:8px}
.mt12{margin-top:12px}
.mt15{margin-top:15px}
.mb10{margin-bottom:10px}
.marR10{margin-right:10px;}
.margin980{width:980px;margin:0 auto;}
.clear{clear:both;height:0;line-height:0;font-size:0;}

.border-grey{border-color:#CCC;}
.border-yellow{border-color:#FC9;}

.header{width:100%;}
.Topline{background:#F6F6F6;border-bottom:#DFDFDF solid 1px;height:24px;line-height:24px;}
.Toplinecon{width:980px;margin:0 auto;}
.QQgroup{float:left;}
.Topmenu{float:left;font-size:12px;color:#CCC;}
.Topmenu li{display:inline}
.Topmenu a{margin:0 8px;font-size:12px}
.Topmenu .active{font-weight:bold;}
.Login{float:right;margin-top:1px;_margin-top:3px;display:inline;font-size:12px}
.Login a{font-size:12px}
.Login em img{vertical-align:-6px;_vertical-align:-3px;}
.Login .input01{width:120px;height:18px;line-height:18px;border:#DFDFDF solid 1px;}
.Login .btm01{background:url(../images/Btm_BG.png);width:49px;height:22px;line-height:22px;border:none;cursor:pointer;}
.Login .weibo img{vertical-align:-3px;_vertical-align:-2px;}

.headerBG{margin:0 auto;background:url(../images/headerBG.jpg) no-repeat top right;border-bottom:4px solid #2B87C5;}
.headerBG1{margin:0 auto 20px;background:url(../images/headerBG1.jpg) repeat-x top left;}
.header-con{width:100%;background:url(../images/MenuUlBG.jpg) repeat-x left bottom;}
.header-con1{position:relative;height:110px;width:980px;margin:0 auto;}
/*.logo{position:absolute;top:20px;left:5px;}*/
.banner{position:absolute;bottom:2px;right:0;z-index:1;}
.menu{position:absolute;bottom:0;left:10px;}
.menu ul{}
.menu li{float:left;background:url(../images/Menu_BG.jpg);width:92px;height:31px;line-height:31px;text-align:center;margin-right:5px;position:relative;}
.menu li a{font-size:14px;color:#333;width:92px;height:31px;display:block;}
.menu li a:hover{color:#C00;text-decoration:none;}
.menu .active{background:url(../images/Menu_BG_active.jpg);font-weight:bold;}
.menu .active a{color:#FFF;}
.menu .active a:hover{color:#FFF;}
.menu em{position:absolute;top:-4px;right:5px;}

.main{width:980px;margin:0 auto 15px auto;}
.content{float:left;width:715px;}
.sidebar{float:right;width:250px;}
.sidebar .ad{border:#DFDFDF solid 1px;background:#F6F6F6;text-align:center;padding:3px;}
.sidebar .phb{border:#DFDFDF solid 1px;margin-bottom:15px;}

.sidebar .phb table{background:url(../images/num.jpg) no-repeat left top;background-position:10px 2px;}
.sidebar .phb th{background:#E8E8E8;height:24px;line-height:24px;text-align:center;font-weight:100;}
.sidebar .phb td{height:24px;line-height:24px;}
.sidebar .phb span{margin-left:3px;}
.sidebar .phb .name{padding-left:33px;overflow:hidden;}
.sidebar .phb .jifen{color:#999;text-align:right;padding-right:10px;font-size:12px;}
.sidebar .phb img{vertical-align:middle;}
.sidebar .phb a{color:#247DBB;}
.sidebar .phb a:hover{color:#C00;}
.sidebar .phb .three a{color:#247DBA;}
.sidebar .phb .three a:hover{color:#C00;}
.sidebar .phb .city{font-size:12px;color:gray;}
.sidebar .phb h2{background:url("../images/TitleBG.jpg") repeat scroll 0 0 transparent;color:#247DBB;font-size:14px;font-weight:bold;height:36px;line-height:36px;padding-left:10px;position:relative;}
.sidebar .phb h2 em{font-size:12px;font-style:normal;font-weight:100;position:absolute;right:6px;}
/*右侧问题盒子*/
.qst-box{border:#DFDFDF solid 1px;background:#F8F8F8;margin-bottom:15px;background:#FFF;}
.qst-box H2{font-size:14px;font-weight:bold;color:#247DBB;background:url(../images/TitleBG.jpg);height:36px;line-height:36px;padding-left:10px;border-bottom:#DFDFDF solid 1px;}
.qst-box ul{padding:10px 15px;}
.qst-box li{line-height:19px;padding:7px 0 7px 17px;background:url(../images/icon02.jpg) no-repeat left top;background-position:0 10px;}
.qst-box a{font-size:14px;}

/*提问框模块*/
.wrap-ask{background:#DFDFDF;padding:1px;margin-bottom:15px;}
.block-ask{background:#F7F7F7;padding:15px;height:110px;overflow:hidden;}
.block-ask h2{font-size:16px;font-weight:bold;color:#247DBB;margin-bottom:15px;background:url(../images/icon01.jpg) no-repeat left center;padding-left:20px;}
.block-ask h2 span{font-size:14px;font-weight:100;color:#999;margin-left:10px;}
.ask-title{width:420px;height:28px;line-height:28px;padding:5px 5px 5px 30px;border:#68C3E9 solid 2px;overflow:hidden;*width:410px;color:#666;background:url(../images/searchicons.png) no-repeat left center #FFF;background-position:5px;font-size:14px;color:#CCC;}
.block-ask .ask-btn{float:right;margin-top:1px;}
.block-ask .ask-btn .ask-btn-ask{background:url(../images/tiwenbut03.png);width:88px;height:41px;border:none;cursor:pointer;margin-right:5px;}
.block-ask .ask-btn .ask-btn-search{background:url(../images/tiwenbut04.png);width:88px;height:41px;border:none;cursor:pointer;}
.ask-hot{} 
.ask-hot a{margin:0 8px 0 0;}


.zhoubian{margin-bottom:15px;border:#DDD solid 1px;}
.zhoubian h2{height:35px;line-height:35px;background:url(../images/TitleBG.jpg) repeat-x left top;overflow:hidden; padding-left:15px;color:#247DBA;font-size:14px;border-bottom:#DDD solid 1px;}
.zhoubian ul{padding:0 15px;padding-bottom:12px;}
.zhoubian li{border-bottom:#DDD dotted 1px;padding:2px 0;}
.zhoubian li P{font-size:12px;line-height:19px;}
.zhoubian li P font{color:#C00;font-size:12px;}
.zhoubian li h3{font-size:14px;font-weight:bold;color:#247DBA;height:35px;line-height:35px;width:225px;overflow:hidden;}
.zhoubian li h3 span{padding:1px 8px 5px 6px;background:url(../images/zhoubian_bg.jpg) no-repeat left top;width:18px;height:22px;margin-right:6px;color:#FFF;font-size:12px;font-weight:100;}



.yuyuekaihu2{background:url(../images/yuyue_bg.jpg);width:254px;height:212px;overflow:hidden;}
.yuyuekaihu2 .info{margin:25px 25px;margin-bottom:0;padding-bottom:15px;line-height:17px;font-size:12px;}
.yuyuekaihu2 table{margin:10px;}
.yuyuekaihu2 table th{font-weight:100;text-align:left;width:80px;font-size:12px;width:70px;}
.yuyuekaihu2 table td{height:30px;line-height:30px;}
.yuyuekaihu2 .input01{background:url(../images/licai/input02.png);width:141px;height:25px;line-height:25px;border:none;padding:0 5px;}
.yuyuekaihu2 .input02{background:url(../images/licai/yuyue.png);width:109px;height:27px;border:none;cursor:pointer;margin-top:10px;margin-bottom:10px;}

.kh_map{margin-top:15px;border-top:#7896CD solid 1px;}
.kh_map h2{background:#EEF7FB;height:30px;line-height:30px;position:relative;font-size:14px;font-weight:bold;padding-left:10px;color:#247DBA;}
.kh_map h2 a{font-size:14px;font-weight:bold;}
.kh_map h2 span{position:absolute;right:10px;font-weight:100;font-size:12px;color:#333;}
.kh_map h2 em{font-style:normal;font-size:12px;font-weight:100;margin-left:15px;}
.kh_map h2 em input{vertical-align:-3px;}

.gxqd{margin-top:15px;border:#DDD solid 1px;}
.gxqd h2{height:35px;line-height:35px;background:url(../images/TitleBG.jpg) repeat-x left top;padding-left:15px;color:#247DBA;font-size:14px;border-bottom:#DDD solid 1px;}
.gxqd ul{padding:15px;}
.gxqd li{float:left;width:25%;height:24px;line-height:24px;}



.xiangguan{margin-top:15px;border:#DDD solid 1px;}
.xiangguan h2{height:35px;line-height:35px;background:url(../images/TitleBG.jpg) repeat-x left top;padding-left:15px;color:#247DBA;font-size:14px;border-bottom:#DDD solid 1px;}
.xiangguan ul{padding:0 15px;padding-bottom:12px;padding-top:3px;}
.xiangguan li{border-bottom:#DDD dotted 1px;line-height:34px;background:url(../images/icon02.jpg) no-repeat left center;padding-left:15px;}

.hot_kaihu{width:980px;margin:15px auto;/*height:108px;*/}
.hot_kaihu h2{font-size:14px;font-weight:100;color:#999;border-bottom:#247DB9 solid 3px;padding-left:15px;height:25px;line-height:25px;}
.hot_kaihu P{line-height:24px;padding:0 15px;font-size:12px;}
.hot_kaihu span{color:#333;margin-right:20px;}
.hot_kaihu a{margin-right:20px;font-size:12px;}
.hot_kaihu .nr{padding:10px 0;background:#F3F3F3;}


.map_popo{width:290px;overflow:hidden;border:#C00 solid 1px;position:relative;margin:100px;}
.map_popoh2{background:#C00;color:#FFF;font-weight:100;padding-left:10px;font-size:12px;height:26px;line-height:26px;}
.map_popoh3{background:url(../images/weibo_bg.png) repeat-x left bottom;padding:5px 10px;font-size:12px;font-weight:100;border-bottom:#DDD solid 1px;line-height:17px;}
.map_popoinfo{padding:10px;}
.map_popoinfo img{float:left;}
.map_popoinfo .text{float:left;margin-left:10px;line-height:17px;font-size:12px;width:160px;overflow:hidden;}
.map_popoinfo .text .btn{height:30px;overflow:hidden;}
.map_popoinfo .text .input01{background:url(../images/maps_yuyue.jpg) no-repeat;width:67px;height:25px;border:none;cursor:pointer;position:absolute;right:10px;bottom:10px;}

.map_popo_smaill{margin-left:100px;position:relative;margin-bottom:10px;}
.map_popo_smaill img{}
.map_popo_smaill span{border:#247DBA solid 2px;border-left:none;padding:0 5px;position:absolute;top:0;_left:20px;height:15px;line-height:15px;overflow:hidden;font-size:12px;}

.map_popo_smaill_hover{margin-left:100px;position:relative;margin-bottom:10px;}
.map_popo_smaill_hover img{}
.map_popo_smaill_hover span{border:#C00 solid 2px;border-left:none;padding:0 5px;position:absolute;top:0;_left:20px;height:15px;line-height:15px;overflow:hidden;font-size:12px;}
/*淘宝*/

.sns-msg{margin:0;min-height:25px;}
.msg-full{width:100%;}
.sns-msg{display:block;margin-bottom:5px;min-height:30px;}
.sns-msg p{line-height:30px !important;padding:0 10px 0 32px !important;}
.sns-msg .error,.sns-msg,.sns-msg .ok{background:url("../images/msg_icon_15x15_8.png") no-repeat scroll 10px 200px transparent;}
.sns-msg .ok{background-color:#FCFFE0;background-position:-50px 8px;border-bottom:1px solid #CEDBA0;color:#8DAE1A;}
.sns-msg .error{background-color:#FFFBDE;background-position:10px -52px;border-bottom:1px solid #F7E3B3;color:#FF8500;}

/*营业部选择器样式*/
.jfz-picker{border:1px solid #005EAC;width:650px;background-color:white;}
.picker-header{background:#3777BC;color:white;padding:4px 10px 5px;font-size:14px;font-weight:700;margin:0;}
.pick-province,.pick-city,.pick-trader,.pick-department{margin:5px 8px 10px 8px;border:1px solid #C3C3C3;}
.pick-province a,.pick-city a,.pick-trader a{display:inline-block;height:18px;line-height:18px;color:#005EAC;text-decoration:none;font-size:9pt;margin:2px 5px;padding:1px;text-align:center;}
.pick-province a:hover,.pick-city a:hover,.pick-trader a:hover{text-decoration:underline;cursor:pointer;}
.pick-province a.selected,.pick-city a.selected,.pick-trader a.selected{background-color:#005EAC;color:white;}

.pick-department{overflow-x:hidden;overflow-y:auto;height:200px;}
.pick-trader{overflow-x:hidden;overflow-y:auto;max-height:100px;_height:100px;}
.pick-department li{line-height:18px;float:left;display:block;list-style:none outside none;overflow:hidden;margin:0 5px;padding:4px 0 4px 10px;width:185px;background:url("../images/dept_list_dot.gif") no-repeat scroll left 12px transparent;}
.pick-department li a{color:#005EAC;text-decoration:none;font-size:9pt;}
.pick-department li a:hover{background-color:#005EAC;color:white;cursor:pointer;}

.picker-footer{background:#F0F5F8;padding:8px;text-align:right;border-top:1px solid #CCC;height:40px;}
.picker-footer input{vertical-align:middle;text-align:center;background-color:#005EAC;color:white;border-top:1px solid #B8D4E8;border-left:1px solid #B8D4E8;border-right:1px solid #114680;border-bottom:1px solid #114680;cursor:pointer;width:60px;height:25px;margin-top:6px;margin-right:6px;}

/*通用型box*/
.jfz-article-box{margin-bottom:10px;}
.jfz-article-box>div{background:url("../images/TitleBG.jpg") repeat scroll 0 0 transparent;height:33px;position:relative;border:1px solid #DDDDDD;border-bottom:0px;}
.jfz-article-box>div>h3{font-size:14px;font-weight:bold;height:33px;line-height:33px;padding-left:10px;color:#247DBA;display:inline-block;}
.jfz-article-box>div>span{position:absolute;right:10px;text-align:right;top:7px;width:100px;}
.jfz-article-box>div>span>a{font-size:12px;}
.jfz-article-box>ul{border:1px solid #DDDDDD;padding:10px;}
.jfz-article-box>ul>li{background:url("../images/zt/default_bg.png") no-repeat scroll left -81px transparent;height:24px;line-height:24px;padding-left:10px;}
.jfz-article-box>ul>li>a{font-size:12px;}

/*专题*/
.khzt-city{background:url("../images/Securities_info_bg.jpg") repeat-x scroll left top transparent;border:1px solid #DDDDDD;font-size:14px;margin:10px auto;padding:10px 0;width:980px;}
.khzt-city p{height:24px;line-height:24px;margin:0 15px;}
.khzt-city a{font-size:14px;margin:0 5px;}

.khzt-container{width:980px;margin:0 auto;color:#444444;}
.khzt-main{float:left;width:720px;margin-bottom:10px;}
.khzt-sidebar{float:right;width:250px;}
.khzt-focus{margin:0 0 10px 0;}
.khzt-focustext{float:left;width:290px;padding:10px;border:1px solid #DDDDDD;font-size:12px;}
.khzt-sidetext{border:#BACAD6 solid 1px;font-size:12px;overflow:hidden;margin-bottom:10px;line-height:0.5cm;}
.khzt-slider{float:left;width:310px;margin:0 0 15px 0;border:1px solid #333333;position:relative;}
.khzt-brief{float:right;width:400px;}
.khzt-brief .khzt-content li{margin:0 0 15px 0;}
.khzt-brief .khzt-content li h2{text-align:center;}
.khzt-brief .khzt-content li div{line-height:24px;}
.khzt-brief .khzt-content-topic li h2{text-align:center;}
.khzt-subject{border:1px solid #DDDDDD;margin:0 0 10px 0;background:url("../images/linkbg.png") repeat-x scroll left bottom transparent;}
.khzt-subject h1{font-size:20px;font-weight:bold;height:35px;line-height:35px;margin-bottom:3px;overflow:hidden;text-align:center;text-overflow:ellipsis;white-space:nowrap;}
.khzt-content{font-size:12px;border:1px solid #DDDDDD;padding:10px;margin-bottom:15px;}
.khzt-content h2{font-size:14px;margin-bottom:10px;overflow:hidden;text-align:left;text-overflow:ellipsis;white-space:nowrap;}
.khzt-content div p{line-height:20px;text-indent:2em;white-space:normal;width:94%;word-wrap:break-word;}
.khzt-content-topic{font-size:12px;border:1px solid #DDDDDD;padding:10px;margin-bottom:15px;height:160px;}
.khzt-content-topic h2{font-size:14px;margin-bottom:10px;overflow:hidden;text-align:left;text-overflow:ellipsis;white-space:nowrap;}
.khzt-content-topic div p{line-height:20px;text-indent:2em;white-space:normal;width:94%;word-wrap:break-word;}

.khzt-main>.khzt-content li{padding:0 0 10px 0;border-bottom:1px dashed #AAA;margin:0 0 20px 0;}
.khzt-main>.khzt-content li.khzt-content-last{border:0px;}
.khzt-main>.khzt-content div{padding-left:0px;}
.line-height15em{line-height:2em;}
.khzt-tels{margin-bottom:10px;padding:0 9px;border:1px solid #DDDDDD;background:none repeat scroll 0 0 #F6F6F6;height:30px;line-height:30px;font-size:12px;}
.khzt-friendlink{padding:10px;margin-bottom:10px;}
.khzt-friendlink p{height:30px;line-height:30px;font-size:14px;font-weight:bold;}
.khzt-friendlink li{float:left;margin-right:10px;padding-right:10px;border-right:1px solid #DDDDDD;}
.khzt-friendlink li a{font-size:12px;}

.khzt-reserve{border:#BACAD6 solid 1px;font-size:12px;background:#ECF4FB;overflow:hidden;margin-bottom:10px;}
.khzt-reserve h2{text-align:center;font-size:14px;font-weight:bold;height:35px;line-height:35px;margin:0;}
.khzt-reserve .info{margin:5px 10px;border:#BACAD6 solid 1px;padding:5px 10px;line-height:19px;background:#FFF;}
.khzt-reserve table{margin:5px 13px;}
.khzt-reserve th{font-size:12px;font-weight:100;text-align:left;width:60px;line-height:35px;}
.khzt-reserve td{height:35px;line-height:35px;}
.khzt-reserve .input01{width:141px;height:25px;line-height:25px;border:none;background:url(../images/input02.png);padding:0 5px;color:#999;}
.khzt-reserve .input02{background:url(../images/yuyue.png);width:109px;height:27px;border:none;cursor:pointer;margin:10px 0;}


.review-rank{border:1px solid #CCCCCC;margin-bottom:10px;}
.review-rank .rr-title{border-bottom:1px solid #CCCCCC;height:34px;line-height:34px;}
.review-rank .rr-title h2{color:#247DBB;float:left;font-size:14px;padding-left:6px;font-weight:bold;}
.review-rank .rr-title h2 em{font-size:12px;font-style:normal;font-weight:100;position:relative;left:90px;}
.review-rank .rr-more{float:right;padding-right:3px;}
.review-rank .rr-more a{font-size:12px;}
.review-rank .rr-body{clear:both;padding:6px;}
.review-rank dl{border-bottom:1px dotted #CCCCCC;clear:both;padding:8px 0;}
.review-rank dt{float:left;padding-right:8px;height:53px;width:42px;}
.review-rank dt img{height:53px;width:42px;}
.review-rank dd h3{float:left;font-size:14px;color:#3F9AD3;display:inline;}
.review-rank dd h3 a{font-size:14px;font-weight:normal;}
.review-rank dd strong{font-weight:normal;font-size:13px;}
.review-rank dd strong em{color:#FF0000;font-style:normal;}
.review-rank dd p{padding-top:10px;}
.review-rank dd p a{color:#999999;font-size:12px;height:22px;line-height:22px;padding:3px;}
.review-rank dd p a:hover{color:#3F9AD3;}
.review-rank dd p a.rr-qq{background:url("../images/man/qq.gif") no-repeat scroll left center transparent;padding-left:22px;padding-right:12px;}
.review-rank dd p a.rr-qq:hover{}
.review-rank dd p a.rr-ask{background:url("../images/man/ask.gif") no-repeat scroll left center transparent;padding-left:22px;}
.review-rank dd p a.rr-ask:hover{}

.hot_kaihu caption{border-bottom:3px solid #247DB9;color:#999999;font-size:12px;font-weight:100;height:25px;line-height:25px;padding-left:15px;text-align:left;}
.hot_kaihu caption a{font-size:12px;margin-right:0px;}
.hot_kaihu th,.hot_kaihu td{padding:3px 6px;text-align:left;border-bottom:1px solid #EFEFEF;}
.hot_kaihu th{width:120px;vertical-align:top;font-weight:normal;line-height:22px;}
.hot_kaihu td a{line-height:22px;white-space:nowrap;word-wrap:break-word;overflow:hidden;display:inline-block}
.hot_kaihu tr.friendlink,.hot_kaihu tr.friendlink a{color:#999}
.hot_kaihu tr.relatedlink a{color:black}

/**
 * ReservationV2
 **/
.rsv-block{border:1px solid #CDCDCD;margin-bottom:15px;}
/*营业部信息*/
.rsv-block .dept-info{margin-bottom:10px;padding:10px;}
.rsv-block .dept-logo,.rsv-block .dept-intro{float:left;word-break:break-all;word-wrap:break-word;}
.rsv-block .dept-logo{text-align:center;width:200px;}
.rsv-block .dept-intro{color:#666666;font-size:12px;overflow:hidden;width:460px;}
.rsv-block .dept-intro th{font-weight:normal;padding:3px;width:100px;}
.rsv-block .dept-intro td{padding:3px;width:375px;}
.rsv-block .dept-intro td a{font-size:12px;}

.rsv-block .rb-main{clear:both;margin:10px 0}
/*切换*/
.rsv-block .rb-tab{background:url("../images/yykh_bg.png") repeat-x scroll 0 0 transparent;border-bottom:1px solid #CDCDCD;border-top:1px solid #CDCDCD;height:34px;}
.rsv-block .rb-tab{height:34px;}
.rsv-block .rb-tab li{float:left;height:34px;line-height:34px;text-align:center;width:237px;}
.rsv-block .rb-tab li a{background:url("../images/yykh_bg.png") repeat-x scroll 0 0 transparent;color:#999999;display:block;font-size:18px;height:34px;text-decoration:none;}
.rsv-block .rb-tab li.active a{background:url("../images/yykh_cur.png") repeat-x scroll 0 0 transparent;border-bottom:1px solid #FFFFFF;color:#247DBB;z-index:9999;}
.rsv-block .rb-tab li a.line{border-color:#CDCDCD #CDCDCD #FFFFFF;border-image:none;border-right:1px solid #CDCDCD;border-style:none solid solid;border-width:medium 1px 1px;}
.rsv-block .rb-tab li a:hover{background:none repeat scroll 0 0 #CCEDFB;}
.rsv-block .rb-content{background:none repeat scroll 0 0 #FFFFFF;padding:30px;}
/*表单*/
.rsv-block .rb-form{float:left;}
.rsv-block .rsv-item{padding:0 0 6px;}
.rsv-block .rsv-item label,.rsv-block .rsv-item-btn label{float:left;font-size:12px;padding:7px 6px 0 0;text-align:left;width:60px;}
.rsv-block .rsv-item .rsv-input-text{border:1px solid #DFDFDF;float:left;height:24px;line-height:24px;padding:2px 0;}
.rsv-block .rsv-item-btn .rsv-submit-btn{border:none;background:url("../images/kaihu_btn.png") no-repeat scroll 0 0 transparent;cursor:pointer;height:34px;width:138px;float:left;margin:10px 0;}
.rsv-block .rsv-item-btn .rsv-submit-btn:hover{background-position:0 -34px;}
.rsv-block .rp-tips{border-top:1px dotted #CCCCCC;color:#999999;line-height:18px;padding:10px;}
.rsv-block .errorMessage{float:left;color:#F00;padding:5px;font-size:12px;}
/*提示*/
.rsv-block .rb-tips{float:right;margin-right:40px;padding-left:5px;border-left:dotted #CCC 1px;}
.rsv-block .rb-tips dl{color:#666666;font-size:12px;width:250px;}
.rsv-block .rb-tips dt{border-bottom:1px solid #CCCCCC;padding:10px 0 10px 8px;}
.rsv-block .rb-tips dt em{color:#996600;font-size:14px;font-weight:bold}
.rsv-block .rb-tips dd{line-height:28px;padding-left:8px;}
.rsv-block .rb-tips dd strong{color:#999900;font-size:14px;}
.rsv-block .rb-step{padding:0 20px;}

/*V*/
.v-on{display:block;float:left;background:url(../images/wd/v.png) no-repeat;width:42px;height:16px;}
.v-off{display:block;float:left;background:url(../images/wd/v1.png) no-repeat;width:42px;height:16px;}
.v-off{background-position:right;}
.v-on em,.v-off em{display:none;}

/**
 * START 所有预约框样式 ------------------------------------------------------------------------------------------------------------------------
 */

/*V1版本*/
.rsv-portlet{background-color:#f1f9fc;margin-bottom:12px;}
.rsv-portlet .portlet-decoration{background:url("../images/qh_yuyue_hd.png") repeat-x;height:30px;line-height:30px;color:#FFF;}
.rsv-portlet .portlet-title{float:left;padding-left:8px;font-size:14px;font-weight:bold}
.rsv-portlet .portlet-content{border:1px solid #c7dae1;border-top:none;padding:10px 6px;font-size:12px;}
.rsv-portlet .rsv-item{padding:0 0 6px;}
.rsv-portlet .rsv-item label,.rsv-portlet .rsv-item-btn label{float:left;font-size:12px;padding:7px 6px 0 0;text-align:left;width:60px;}
.rsv-portlet .rsv-item .rsv-input-text{border:1px solid #DFDFDF;float:left;height:24px;line-height:24px;padding:2px 0;}
.rsv-portlet .rsv-item-btn .rsv-submit-btn{border:none;background:url("../images/qh_yuyue.png") no-repeat scroll 0 0 transparent;cursor:pointer;height:27px;width:109px;float:left;margin:10px 0;}
.rsv-portlet .rsv-item-btn .rsv-submit-btn:hover{background-position:bottom;}
.rsv-portlet .tips-text{color:#999;border-top:1px dotted #CCC;padding-top:10px;line-height:18px;}
.rsv-portlet .errorMessage{float:left;color:#F00;padding:5px 0 3px 66px;}

/*V2版本*/
.reserve-portlet{font-size:12px;margin:0px auto;width:250px;margin-bottom:10px;}
.reserve-portlet .rp-title{border:#aecbd4 1px solid;padding:1px;background-color:#fff;border-bottom:none;padding-bottom:0;}
.reserve-portlet .rp-tab{background:url("../images/qh_yuyue_hd.png") repeat-x scroll 0 0 transparent;height:30px;padding-left:2px;}
.reserve-portlet .rp-tab li{float:left;margin-right:1px;list-style-type:none;height:30px}
.reserve-portlet .rp-tab li a{float:left;color:#fff;line-height:30px;height:30px;padding:0 38px;text-decoration:none;font-size:13px;outline:none;}
.reserve-portlet .rp-tab li a:hover{color:#FF3;}
.reserve-portlet .rp-tab li.active{background-color:#d7edf4;height:30px;margin-top:2px;}
.reserve-portlet .rp-tab li.active a{color:#000;line-height:30px;height:30px;font-weight:bold;font-size:14px;}
.reserve-portlet .rp-tab li.active a:hover{color:#000;}

.reserve-portlet .rp-content{border:#aecbd4 1px solid;padding:1px;background-color:#fff;border-top:none;padding-top:0;}
.reserve-portlet .rsv-form{padding:10px;background:url("../images/bg.gif") repeat-x;color:#474747;}
.reserve-portlet .rsv-item{padding:0 0 6px;}
.reserve-portlet .rsv-item label,.reserve-portlet .rsv-item-btn label{float:left;font-size:12px;padding:7px 6px 0 0;text-align:left;width:60px;}
.reserve-portlet .rsv-item .rsv-input-text{border:1px solid #DFDFDF;float:left;height:24px;line-height:24px;padding:2px 0;}
.reserve-portlet .rsv-item-btn .rsv-submit-btn{border:none;background:url("../images/qh_yuyue.png") no-repeat scroll 0 0 transparent;cursor:pointer;height:27px;width:109px;float:left;margin:10px 0;}
.reserve-portlet .rsv-item-btn .rsv-submit-btn:hover{background-position:bottom;}
.reserve-portlet .rp-tips{border-top:1px dotted #CCCCCC;color:#999999;line-height:18px;padding:10px;}
.reserve-portlet .rsv-form .rp-hint{margin-bottom:8px;height:28px;line-height:28px;font-size:14px;font-weight:bold;color:#c02c2c;text-align:center;background-color:#F7F2D9;border:1px solid #E4E2CA;}
.reserve-portlet .errorMessage{float:left;color:#F00;padding:5px 0 3px 66px;font-size:12px}

/*基础对话框样式*/
.tang-dialog{position: absolute;}
.tang-dialog .tang-background-inner{width:100%;height:100%;margin:5px auto auto 4px;background:url(../js/dialog/shadow.png) no-repeat right bottom;_margin-top:4px;_background:url(../js/dialog/shadow.gif) no-repeat right bottom;}
.tang-dialog .tang-title{background:url(../js/dialog/dialog.png);border:1px solid #606060;border-width:1px 1px 0 1px;}
.tang-dialog .tang-title-dragable{cursor:move;}
.tang-dialog .tang-title .buttons{float:right;}
.tang-dialog .tang-title .buttons a{display:block;width:29px;height:29px;outline:none;background:transparent url(../js/dialog/btns.gif) no-repeat;}
.tang-dialog .tang-title a.close-btn{background-position:0 0;}
.tang-dialog .tang-title a.close-btn:hover{background-position:0 -29px;}
.tang-dialog .tang-title span{height:29px;line-height:29px;color:#fff;font-size:14px;font-weight:700;padding-left:10px;width:auto;margin-right:29px;display:block;overflow:hidden;text-overflow:ellipsis;}
.tang-dialog .tang-body{background-color:#f4f4f4;border:1px solid #a9a9a9;border-width:0 1px 1px 1px;}
.tang-dialog .tang-body .tang-content{padding:10px;}
.tang-dialog .tang-body .contentFrame{padding:0;}
.tang-dialog .tang-body .contentFrame iframe{border:0;width:100%;height:100%;}
.tang-dialog .tang-body{position:relative;}
.tang-dialog .tang-buttons{position:absolute;right:20px;bottom:20px;padding:0;margin:0;}
.tang-dialog .tang-buttons button{height:30px;width:90px;}
.tang-mask{background-color:#000;left:0;opacity:0.15;position:fixed;top:0;filter:alpha(opacity=15)}

/*补填预约信息对话框样式*/
#complete_rsv_info.tang-dialog .tang-foreground{background:url("../images/box/tc_bg.png") no-repeat scroll center -2px transparent;position:relative;}
#complete_rsv_info.tang-dialog .tang-title{background:url("../images/box/tc_tw.png") no-repeat scroll 5px center transparent;border:1px solid #606060;border-width:1px 1px 0 1px;}
#complete_rsv_info.tang-dialog .tang-title .buttons{top:5px;right:5px;position:absolute;}
#complete_rsv_info.tang-dialog .tang-title .buttons a{display:block;width:29px;height:29px;outline:none;}
#complete_rsv_info.tang-dialog .tang-title span{height:39px;line-height:39px;margin:0 0 0 30px;padding:0;}

/*券商三业务预约样式*/
.reserve-trader{background:url("../images/dl/yuyue-bg-hd.png") no-repeat scroll 0 0 transparent;height:365px;width:275px;margin-bottom:10px;}
.reserve-trader .rt-tab{margin:0 0 0 8px;padding:0;*float:left;}
.reserve-trader .rt-tab li{color:#FFFFFF;float:left;height:36px;line-height:36px;margin:0 1px 0 0;position:relative;top:1px;}
.reserve-trader .rt-tab li.active{background-color:#D4EFFB;}
.reserve-trader .rt-tab li a{display:block;color:#FFF;padding:0 37px;font-size:12px;font-weight:bold}
.reserve-trader .rt-tab li.active a{color:#247DBA;}
.reserve-trader .rt-content{padding:20px;background:url("../images/dl/yuyue-bg-md.png") repeat-y scroll 0 0 transparent;*float:left;width:235px}
.reserve-trader .rsv-item{padding:0 0 6px;}
.reserve-trader .rsv-item label,.reserve-trader .rsv-item-btn label{float:left;font-size:12px;padding:7px 6px 0 0;text-align:left;width:60px;}
.reserve-trader .rsv-item .rsv-input-text{border:1px solid #DFDFDF;float:left;height:24px;line-height:24px;padding:2px 0;border:1px solid #65BDE7;}
.reserve-trader .rsv-item-btn .rsv-submit-btn{border:none;background:url("../images/btn/lijiyuyue.png") no-repeat scroll left center transparent;cursor:pointer;height:31px;width:106px;float:left;margin:10px 0;}
.reserve-trader .rsv-item-btn .rsv-submit-btn:hover{background-position:right center;}
.reserve-trader .rt-tips{background:url("../images/dl/tips.png") no-repeat scroll 3px 3px transparent;margin:5px 8px;text-align:left;text-indent:2em;font-size:12px;line-height:15px}
.reserve-trader .errorMessage{float:left;color:#F00;padding:5px 0 3px 66px;font-size:12px}

/*N业务预约面板*/
.rsv-panel{margin-bottom:15px;}
.rsv-panel .rp-tab{overflow:hidden;zoom:1;background:url(../images/kaihunav_bg.png) no-repeat;height:36px;border-left:1px solid #ddd;border-right:1px solid #ddd;}
.rsv-panel .rp-tab li{float:left;height:36px;}
.rsv-panel .rp-tab li a{float:left;display:block;color:#666666;font:14px/34px \5FAE\8F6F\96C5\9ED1;width:120px;text-align:center;height:36px;border-left:1px #D4D3D3 solid;}
.rsv-panel .rp-tab li a:hover{color:#247DBA;}
.rsv-panel .rp-tab li.active a{color:#247DBA;background:url(../images/bg_khlistrpx.png) repeat-x;}
.rsv-panel .rp-tab .long{width:173px;}

.rsv-panel .rp-main{zoom:1;border:1px solid #ddd;border-top:none;}
.rsv-panel .rsv-form{display:inline;float:left;margin-left:10px;padding:20px 80px 10px;/*width:350px*/}
.rsv-panel .rsv-item{padding:0 0 6px;}
.rsv-panel .rsv-item label,.rsv-panel .rsv-item-btn label{float:left;padding:4px 15px 0 0;color:#6F6F6F;display:inline-block;font:14px/20px "Microsoft Yahei";text-align:right;width:120px;}
.rsv-panel .rsv-item .rsv-input-text{border:1px solid #DFDFDF;float:left;height:24px;line-height:24px;padding:2px 0;width:300px}
.rsv-panel .rsv-item-btn .rsv-submit-btn{border:none;background:url("../images/btnsyue.png") no-repeat scroll 0 0 transparent;cursor:pointer;height:40px;width:152px;float:left;margin:10px 0;}
.rsv-panel .rsv-item-btn .rsv-submit-btn:hover{filter:alpha(opacity=80);opacity:0.80;}
.rsv-panel .errorMessage{float:left;color:#F00;padding:5px 0 3px 140px;font-size:12px}

.rsv-panel .rp-tips{float:left;display:inline;font:14px/20px \5FAE\8F6F\96C5\9ED1;color:#909090;margin-left:25px;margin-top:10px;line-height:25px;border-left:1px #E6E6E6 solid;padding:10px 0 10px 25px}
.rsv-panel .rp-tips .rp-tips-title{font-size:16px;font-weight:bold;margin-bottom:5px;color:#666666;}
.rsv-panel .rp-step{height:33px;background:#F7F7F7 url(../images/quickstep1.png) no-repeat center center;border-top:1px #EBEBEB solid;}

/*广告页面预约*/
.rsv-ads{width:272px;height:315px;position:relative;background:url(../images/bgformyue.jpg) no-repeat;float:right;margin:10px 25px 0 0;display:inline;}
.rsv-ads h2{position:absolute;left:10px;top:15px;font:18px/20px \5FAE\8F6F\96C5\9ED1;color:#fff;}
.rsv-ads .ra-tips{position:absolute;right:10px;top:15px;font:14px/20px \5FAE\8F6F\96C5\9ED1;color:#fff;}
.rsv-ads .rsv-form{padding:70px 0 0 10px;}
.rsv-ads .rsv-item{padding:0 0 6px;}
.rsv-ads .rsv-item label,.rsv-ads .rsv-item-btn label{color:#247DBA;display:inline-block;font-size:14px;padding-right:3px;text-align:center;width:80px;}
.rsv-ads .rsv-item .rsv-input-text{border:1px solid #719CBA;color:#717171;font-size:12px;height:16px;line-height:18px;padding:6px 4px;vertical-align:middle;width:140px;}
.rsv-ads .rsv-item select{font-size:12px;height:24px;padding:3px}
.rsv-ads .rsv-item select#item_district{margin:10px 0 0 90px;}
.rsv-ads .rsv-item-btn .rsv-submit-btn{border:none;background:url("../images/btntopyue.png") no-repeat scroll 0 0 transparent;cursor:pointer;height:33px;width:117px;display:inline-block;margin:12px 0 0;}
.rsv-ads .rsv-item-btn .rsv-submit-btn:hover{filter:alpha(opacity=80);opacity:0.80;}
.rsv-ads .rsv-item.error .rsv-input-text{background:none repeat scroll 0 0 #FFDED1;border-color:#A00000;color:#A00000;}
.rsv-ads .rsv-item.success .rsv-input-text{background:none repeat scroll 0 0 #d1ffde;border-color:#00a000;color:#00a000;}
.rsv-ads .errorMessage{float:left;color:#F00;padding:5px 0 3px 140px;font-size:12px;visibility:hidden;position:absolute;}


/*期货港股营业部预约*/
.rsv-qhd{background-color:#FEFBE5;border:1px solid #EFEACC;float:left;height:220px;margin-left:5px;padding:6px;width:460px;_width:360px;}
.rsv-qhd .rsv-form{display:inline;float:left;margin-left:10px;padding:20px 0 10px;width:95%;}
.rsv-qhd .rsv-item{padding:0 0 6px;}
.rsv-qhd .rsv-item label,.rsv-qhd .rsv-item-btn label{float:left;padding:4px 15px 0 20px;color:#6F6F6F;display:inline-block;font:14px/20px "Microsoft Yahei";text-align:right;width:60px;}
.rsv-qhd .rsv-item .rsv-input-text{border:1px solid #DFDFDF;float:left;height:24px;line-height:24px;padding:2px 0;width:200px}
.rsv-qhd .rsv-item-btn .rsv-submit-btn{border:none;background:url("../images/btnsyue.png") no-repeat scroll 0 0 transparent;cursor:pointer;height:40px;width:152px;float:left;margin:10px 0;}
.rsv-qhd .rsv-item-btn .rsv-submit-btn:hover{filter:alpha(opacity=80);opacity:0.80;}
.rsv-qhd .errorMessage{float:left;color:#F00;padding:5px 0 0 10px;font-size:12px}
.rsv-qhd-tips{float:left;margin-left:100px;color:#666666;font-size:12px;}
.qh-lkyy-main .rsv-qhd .rsv-form{padding:5px;}
/*营业部预约专员*/
#reserve_broker.tang-dialog .tang-title{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #DDDDDD;border-bottom:none}
#reserve_broker.tang-dialog .tang-body{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #DDDDDD;border-top:none;}
.rb-wrap{margin:10px 40px}
.rb-wrap .rb-title{border-bottom:2px solid #D6DBE5;color:#666666;font-family:"Microsoft Yahei","宋体",arial;font-size:20px;padding-bottom:9px;width:460px;}
.rb-wrap .rb-title span{color:#666666;font-size:14px;padding-left:10px;}
.rb-wrap .rsv-form{margin:10px;width:438px}
.rb-wrap .rsv-item{padding:0 0 16px;}
.rb-wrap .rsv-item.success .rsv-input-text{border-color:#10D800}
.rb-wrap .rsv-item.error .rsv-input-text{border-color:#D91111}
.rb-wrap .rsv-item label{float:left;font-size:14px;padding:7px 10px 0 0px;text-align:right;width:90px;}
.rb-wrap .rsv-item label .required{color:red;font-size:12px;}
.rb-wrap .rsv-item .rsv-input-text{border:1px solid #DDD;float:left;height:24px;line-height:24px;padding:2px 0;width:250px}
.rb-wrap .rsv-item-btn{border-top:1px solid #E5E5E5;padding-top:15px;text-align:center;}
.rb-wrap .rsv-submit-btn{background:url("../images/greenbg.png") repeat-x scroll center bottom transparent;border:1px solid #4D980B;box-shadow:0 1px 3px #ECECEC;color:#FFFFFF;cursor:pointer;overflow:hidden;font:16px "Microsoft Yahei","宋体";height:34px;text-align:center;width:110px;}
.rb-wrap .errorMessage{float:left;color:#F00;padding:5px 0 3px 100px;font-size:12px}

/*弹出式AJAX预约框*/
#reserve-dialog{width:438px}
#reserve-dialog .rsv-form{background:none repeat scroll 0 0 #FFFFFF;padding-top:15px;}
#reserve-dialog .rsv-item{height:56px;}
#reserve-dialog .rsv-item.success .rsv-input-text{border-color:#10D800}
#reserve-dialog .rsv-item.error .rsv-input-text{border-color:#D91111}
#reserve-dialog .rsv-item>label{float:left;font-size:14px;padding:7px 10px 0 0px;text-align:right;width:90px;}
#reserve-dialog .rsv-item>label .required{color:red;font-size:12px;}
#reserve-dialog .rsv-item #ReserveForm_bizType{float:left;padding:8px 0 0;}
#reserve-dialog .rsv-item #ReserveForm_bizType .separator{margin:0 10px 0}
#reserve-dialog .rsv-item .rsv-input-text{border:1px solid #DDD;float:left;height:24px;line-height:24px;padding:2px 0;width:250px}
#reserve-dialog .rsv-item-btn{border-top:1px solid #E5E5E5;text-align:center;background:none repeat scroll 0 0 #D4EEFC;padding:10px 0;}
#reserve-dialog .rsv-submit-btn{background:url("../images/popyue/btnnowyue.png") no-repeat scroll 0 0 transparent;color:#FFFFFF;display:block;font:16px/30px "Microsoft Yahei";height:29px;margin:0 auto;text-align:center;width:107px;border:none;cursor:pointer}
#reserve-dialog .errorMessage{float:left;color:#F00;padding:5px 0 3px 100px;font-size:12px}
#reserve-dialog .rsv-tips{background:none repeat scroll 0 0 #F7F9EE;border:1px solid #E2E1BB;color:#636363;margin:5px;}
#reserve-dialog .rsv-tips p{background:url("../images/popyue/iconstart.png") no-repeat scroll 5px 2px transparent;font-size:12px;height:24px;line-height:24px;overflow:hidden;padding:0 0 0 25px;}
#reserve-dialog .rsv-suc{display:none;overflow:hidden;padding-top:50px;}
#reserve-dialog .rsv-suc .tick{display:inline;float:left;margin:0 0 0 50px;}
#reserve-dialog .rsv-suc h2{color:#333333;display:inline;float:left;font:30px/34px "Microsoft Yahei";margin:0 0 0 20px;}
#reserve-dialog .vert-space{height:66px;}

/**
 * END 所有预约框样式 ------------------------------------------------------------------------------------------------------------------------
 */

/*券商三业务样式*/
.trader-biz{margin:0 auto;width:980px;}
.trader-biz .tb-crumb{height:30px;line-height:30px;margin-bottom:10px;}
.trader-biz .tb-content{background:url("../images/dl/main-bg.png") no-repeat scroll center top transparent;margin:0 auto 12px;min-height:370px;position:relative;width:980px;}
.trader-biz .tb-intro{float:left;width:685px;font-size:14px;padding-left:15px;padding-top:8px;}
.trader-biz .tb-intro h4{color:#247DBA;padding:6px 0;}
.trader-biz .tb-intro p{color:#666;text-indent:2em;padding-bottom:6px;line-height:24px;}
.trader-biz .tb-intro p img{padding-right:10px;}
.trader-biz .tb-reserve{width:275px;float:right;}
.trader-biz .tb-step1,.tb-step2,.tb-step3{background-image:url(../images/dl/fenbuzhou.png);width:980px;height:41px;margin:0 auto;margin-bottom:10px;}
.trader-biz .tb-step1{background-position:0 0;}
.trader-biz .tb-step2{background-position:0 222px;}
.trader-biz .tb-step3{background-position:0 442px;}


/*右下角悬浮*/
.suspension-bar{bottom:0;height:33px;position:fixed;right:10px;_position:absolute;_top:expression(eval(document.documentElement.scrollTop + document.documentElement.clientHeight - this.offsetHeight-(parseInt(this.currentStyle.marginTop,10) || 0) - (parseInt(this.currentStyle.marginBottom,10) || 0)));}
.suspension-bar a{color:#fff;font-size:14px;font-family:"Microsoft Yahei";height:33px;line-height:33px;padding:0 10px 0 28px;display:inline-block;border-right:1px solid #145b90;overflow:hidden;}
.suspension-bar a:hover{text-decoration:none;}

.suspension-bar .rsv-btn{background:url("../images/btn/ft_yy.png") no-repeat left top;}
.suspension-bar .rsv-btn:hover{background-position:left bottom;}

.suspension-bar .ask-btn{background:url("../images/btn/ft_ask.png") no-repeat left top;}
.suspension-bar .ask-btn:hover{background-position:left bottom;}
/*
.suspension-bar .ask-btn,.suspension-bar .rsv-btn{background:url("../images/btn/ft_yy.png") no-repeat scroll 0 0 transparent;display:block;height:33px;width:100px;}
.suspension-bar .ask-btn{background-position:0 0;float:left;}
.suspension-bar .ask-btn:hover{background-position:0 -33px;}
.suspension-bar .rsv-btn{background-position:-100px 0;float:left;}
.suspension-bar .rsv-btn:hover{background-position:-100px -33px;}
.suspension-bar .ask-btn span,.suspension-bar .rsv-btn span{display:none;}*/

/*筛选/翻页列表*/
.list-filter{margin-bottom:18px;}
.list-filter .lf-frame{background-color:#EEE;border:1px solid #DBDBDB;padding:2px;}
.list-filter .lf-content{background-color:#FFF;overflow:hidden;padding:0 8px;}
.list-filter .lf-content dl{border-top:1px dotted #DBDBDB;clear:both;margin-top:-1px;padding:7px 0 0;font-size:12px;}
.list-filter .lf-content dl dt{float:left;line-height:24px;}
.list-filter .lf-content dl dd{/*float:left;会产生一个未知行高*/line-height:24px;white-space:nowrap;}
.list-filter .lf-content dl #trader_hide{display:none;}
.list-filter .lf-content dl dd a{padding:0 10px;font-size:12px;float:left;_zoom:1;}
.list-filter .lf-content dl dd a.current{background-color:#247DBA;color:#FFFFFF;}
.list-filter .lf-content .more{color:#CC0000;padding:0 15px 15px 0;text-align:right;}
/*列表*/
.list-main{float:left;width:718px;}
.list-title{height:30px;line-height:30px;position:relative;border-bottom:2px solid #247DBA;}
.list-title h2{float:left;color:#FFF;background:#247dba;padding:0 8px;margin-left:8px;font-size:14px;}
.list-title span{padding-left:6px;font-size:12px;color:#999;}
.list-title span strong{color:#F00;}
.list-content{border:1px solid #DBDBDB;border-bottom:none;}
.list-content.recommend{background-color:#fffef3;border-bottom:1px solid #DBDBDB}
.list-content li:hover{background-color:#F1F9FC}
.list-content li{padding:15px 5px;border-bottom:1px solid #F3F3F3;*zoom:1}
.list-content .lc-photo{float:left;width:140px}
.list-content .lc-photo a{border:1px solid #DDD;display:block;width:110px;overflow:hidden}
.list-content .lc-photo.ashare a img{padding:10px 5px;}

.list-content .lc-qhphoto{float:left;width:140px;padding-top:25px;vertical-align:middle;}
.list-content .lc-qhphoto a{border:1px solid #DDDDDD;display:block;overflow:hidden;width:110px;}
.list-content .lc-qhphoto.ashare a img{padding:10px 5px;width:100px;}

.list-content .lc-info{float:left;color:#7F7F7F;font-size:12px;line-height:22px;width:470px}
.list-content .lc-info dt{}
.list-content .lc-info dt a{font-size:16px;}
.list-content .lc-info dt .recom{background-color:#E10505;color:#FFF;font-weight:normal;padding:2px 4px;margin:0 0 0 5px;}
.list-content .lc-btn{float:left;margin:40px 10px}
.list-content .lc-btn a{display:block;background:url(../images/btn/list_ljyy.png) no-repeat top;width:62px;height:23px;}
.list-content .lc-btn a:hover{background-position:bottom;}
.list-content .lc-btn a span{display:none;}
.list-content .bottombtn{padding:15px 15px 5px 0;text-align:right;}
.list-main .pager{border:1px solid #DBDBDB;border-top:none;margin:0;text-align:center;}
.dept_info{float:right;font-size:14px;color:#777}
/* 券商专题模版 */
.zt_topbox{border:2px #E6E6E6 solid;padding:5px;font-size:14px;background:#FFFEF3;line-height:25px;color:#666;margin-bottom:10px}
.zt_topbox a{margin:0 8px 0 0;padding:0 3px;}
.zt_topbox a:hover{background:#247DBA;color:#fff;}

.banbox{overflow:hidden;zoom:1;margin-bottom:10px}
.banimgshow{float:left;display:inline;width:268px;height:175px;position:relative;border:1px #CFD3DD solid;background:#EEEFF3}
.banimgshow .numlist{position:absolute;left:0px;bottom:0px;height:29px;line-height:29px;}
.banimgshow .numlist li{float:left;display:inline;cursor:pointer;font-size:12px}
.banimgshow .numlist li span{float:left;width:20px;border-right:1px #CFD3DD solid;text-align:center;color:#B9BECB;}
.banimgshow .numlist li p{display:none;float:left;width:183px;overflow:hidden;background:url(../images/bg_bannerbg.png) repeat-x 0 2px;text-indent:10px;border-right:1px #CFD3DD solid;}
.banimgshow .numlist .on span{display:none;}
.banimgshow .numlist .on p{display:block;}

.howaboutbox{float:right;display:inline;width:430px;border:1px #DDDDDD solid;}
.howaboutbox h2{text-align:center;font-size:14px;line-height:25px;color:#CC0000;border-bottom:1px #DDDDDD solid;background:#FCFCFC}
.howaboutbox .ab_conbox{padding:10px;}
.howaboutbox .we_sugg{color:#1D70AA;line-height:25px;margin:5px 0 0}

.js_qabox{border:1px #DDDDDD solid;padding:8px;margin-bottom:10px}
.js_qabox dt{color:#247DBA;font-size:14px;padding-left:17px;border-bottom:1px #DDDDDD solid;margin-bottom:10px;line-height:25px;background:url(../images/icon02.jpg) no-repeat 0 center;}
.js_qabox dd{font-size:12px;padding-bottom:30px;color:#666666;line-height:20px;}

.js_logobox{margin-bottom:10px;}
.js_tsbox{margin-bottom:10px;}
.js_yuebox{margin-bottom:10px;}
.js_yuebox h3{height:31px;line-height:31px;font-size:14px;background:url(../images/bg_titjs.png) repeat-x;color:#fff;padding-left:10px;}
.js_yuebox h3 span{color:#FFF691;margin-right:5px}
.js_yuebox .yue_form{border:1px #C7DAE1 solid;border-top:0;padding:15px 5px 5px;background:#F1F9FC;}
.js_yuebox .yue_form li{margin:5px 0}
.js_yuebox .yue_form .js_span{font-size:12px;color:#247DBA;display:inline-block;width:75px;text-align:right;padding-right:3px;}
.js_yuebox .yue_form .in_jsput{font-size:12px;vertical-align:middle;border:1px #CFCFCF solid;width:140px;padding:2px 4px;height:18px;line-height:18px;}
.js_yuebox .link_yue{display:inline-block;width:109px;height:27px;background:url(../images/yuyue.png) no-repeat;margin:10px 0}
.js_yuebox .sub_jscon{border-top:1px #AFB4B6 dotted;padding:5px 10px;font-size:12px;color:#939393;margin-top:10px;}

.jfz-article-box{margin-bottom:10px;}
.jfz-article-box div{background:url("../images/TitleBG.jpg") repeat scroll 0 0 transparent;height:33px;position:relative;border:1px solid #DDDDDD;border-bottom:0px;}
.jfz-article-box div h3{font-size:14px;font-weight:bold;height:33px;line-height:33px;padding-left:10px;color:#247DBA;display:inline-block;}
.jfz-article-box div span{position:absolute;right:10px;text-align:right;top:7px;width:100px;}
.jfz-article-box div span a{font-size:12px;}
.jfz-article-box ul{border:1px solid #ddd;padding:10px;}
.jfz-article-box ul li{background:url("../images/zt/default_bg.png") no-repeat scroll left -81px transparent;height:24px;line-height:24px;padding-left:10px;}
.jfz-article-box ul li a{font-size:12px;}

.seachbombox{border:1px #DDDDDD solid;margin-bottom:10px;color:#666666;}
.seachbombox .titseach{border-bottom:1px #DDDDDD solid;line-height:28px;padding-left:30px;background:url(../images/bg_seachbg.png) no-repeat 5px center;}
.seachbombox .titseach span{color:#1D70AA;margin-right:4px}
.seachbombox .searchcity{zoom:1;padding:5px 5px 0;margin:5px 5px 0}
.seachbombox .searchcity li{float:left;display:inline;margin-right:25px;margin-bottom:10px;cursor:pointer;position:relative;}
.seachbombox .popcitybox{border:1px #DFDFDF solid;padding:8px;position:absolute;left:10px;top:17px;background:#fff;width:350px;line-height:1.5}
.seachbombox .popcitybox a{display:inline-block;margin-right:5px;font-size:12px;color:#666666;}
.seachbombox .popcitybox .on{z-index:11}

/*蓝色自适应按钮*/
.yyby-content-list-btn-blue{background:url(../images/btn/blue_btn_L.png) no-repeat left top;padding-left:10px;display:inline-block;margin-left:20px;height:25px;line-height:25px;}
.yyby-content-list-btn-blue span{background:url(../images/btn/blue_btn_R.png) right top no-repeat;padding-right:10px;color:#FFF;display:inline-block;font-size:12px;}
.yyby-content-list-btn-blue:hover{background-position:left bottom;}
.yyby-content-list-btn-blue:hover span{background-position:right bottom;}
/* 券商专题模版 end */

p#back-to-top{position:fixed;bottom:100px;right:20%;}
p#back-to-top a{margin-left:320px;text-align:center;text-decoration:none;color:#d1d1d1;display:block;width:80px;/*使用CSS3中的transition属性给跳转链接中的文字添加渐变效果*/
 -moz-transition:color 1s;-webkit-transition:color 1s;-o-transition:color 1s;}
p#back-to-top a:hover{color:#979797;}
p#back-to-top a span{filter:Alpha(opacity=80);opacity:.8;background:url("../images/arrow-up.png") no-repeat scroll -70px top transparent;height:57px;overflow:hidden;position:absolute;width:57px;*background-color:#FFF;}
#back-to-top a:hover span{filter:Alpha(opacity=60);opacity:.6;}

.NB-reb{color:#990000;font-family:Verdana,Geneva,sans-serif;font-size:12px;font-style:italic;font-weight:bold;}
.NB-gray{color:#555555;font-family:Verdana,Geneva,sans-serif;font-size:12px;font-style:italic;font-weight:bold;}
.blue{color:#247DBA;}

/*patches*/
.yyb-index-dis .info dl a{font-size:12px;}

.juliyybox dl dt .fl{width:145px;height:36px;overflow:hidden;}

.juliyybox .yyname{font-size:12px;}

.header-city{*z-index:1;}
.pp_location{width:355px;}
.pp_location .T_iframe {
position: absolute;
width: 100%;
height: 100%;
z-index: -1;
border: 0;
top: 0;
left: 0;
z-index: -99999;
}
.pp_location a{float:left;margin:0 0px 7px 0;width:48px;font-size:12px;color:#247DBA;}
.pp_location .more{color:#CC0000;float:right;padding:0 1px;}
.header-city{top:30px}
.header-city a:hover,.header-bar a:hover{text-decoration:none;}
.gpkh-index-hd-submenu-more-content{width:170px;z-index:100}
.gpkh-index-hd-submenu-more-content a{float:left;padding:0 5px}

.gpkh-index-main a{font-size:12px;padding:0 30px 0 0;width:200px;height:24px;line-height:24px;
word-break:keep-all;/* 不换行 */
white-space:nowrap;/* 强制在同一行内显示所有文本，直到文本结束或者遭遇 br 对象。不换行 */
overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
text-overflow:ellipsis;/* IE 专有属性，当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}
.gpkh-index-hd-submenu li.tabs{padding:0;}
.gpkh-index-hd-submenu li.tabs a{padding:10px;}
